.product-view_page {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.product-description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-description-wrap {
    display: none;
    width: 100%;
    box-sizing: border-box;

    .product-description-aside_name {
        width: 100%;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .product-description-aside_price {
        margin-bottom: 30px;
    }

    @media(max-width: 1023px) {
        display: block;
    }

    @media(max-width: 660px) {
        padding-top: 40px;
    }
}

.product-description-aside {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;

    @media(max-width: 1023px) {
        order: 1;
        width: 100%;

        .product-description-aside_name {
            display: none;
        }

        .product-description-aside_specification {
            display: none;
        }

        .product-description-aside_price {
            display: none;
        }
    }


    &_name {
        font: 24px/21px 'Museo500';
        color: #000000;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 10px;
    }

    &_specification {
        font: 16px/21px 'Asterisk';
        color: #4e4e4e;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 35px;
    }

    &_price {
        font: 24px/21px 'Museo500';
        color: #000000;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 60px;
    }
}

.aside_color-list {
    display: flex;
    margin-bottom: 20px;
}

.aside_color-list_item {
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 1px;
}

.aside_color-list_item_check {
    border: 1px solid grey;
    //display: none;
    //
    //&:checked + .aside_color-list_item_for-check {
    //
    //    &:before {
    //        content: '';
    //        width: 27px;
    //        height: 27px;
    //        position: absolute;
    //        top: 50%;
    //        left: 50%;
    //        transform: translateX(-50%) translateY(-50%);
    //        box-sizing: border-box;
    //        border: 1px solid #BDBDBD;
    //        border-radius: 50%;
    //    }
    //}
}

.aside_color-list_item_for-check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #5b5d6c;
    transition: .2s;
    cursor: pointer;
    position: relative;
    display:block;
}

.aside_size-select {
    width: 340px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #000000;
    position: relative;
    margin-bottom: 10px;

    &:before {
        content: '';
        position: absolute;
        right: 10px;
        top: 22px;
        border: 5px solid transparent;
        border-top: 7px solid #323232;
    }
}

.aside_size-select_for-click {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.aside_size-select-active {

    .size-select_dropdown {
        display: block;
    }

}

.aside_size-select_direction {
    color: #323232;
    font: 16px/21px 'Museo300';
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    padding: 0 0 0 20px;

    background: transparent;
    border: none;
}

.size-select_dropdown {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-sizing: border-box;
    border-top: none;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    //min-height: 125px;
    z-index: 1000;
    background: #ffffff;

    &-active {
        display: block;
    }
}

.size-select_dropdown_list {
    width: 100%;
    height: 100%;
}

.size-select_dropdown_list_item {
    height: 32px;
    width: 100%;
}

.size-select_dropdown_list_link {
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #4A4A4A;
    font: 16px/14px 'Asterisk';
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    padding: 10px 0 0 20px;;
    display: block;
    transition: .2s;

    &:hover {
        background: #F5F5F5;
    }
}

.size-select_link_not-available {
    display: none;
    color: #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    margin-left: 10px;
    transition: .2s;

    &:hover {
        color: #323232;
    }
}

.size-select_dropdown_list_item_not-available {
    .size-select_dropdown_list_link {
        color: #BDBDBD;
    }

    .size-select_link_not-available {
        display: inline;
    }
}

.product-description_links {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.product-description_links_content {
    text-decoration: underline;
    font: 14px/21px 'Asterisk';
    color: #9b9b9b;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: relative;
    transition: .2s;
    display: block;
    cursor: pointer;

    &:hover {
        color: #323232;
    }

    &:first-of-type {
        margin-left: 25px;

        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 15px;
            background: url('/dist/assets/images/product-view/chooseSize.svg') center center no-repeat;
            left: -25px;
            bottom: 2px;
        }
    }

    
}

.product-description_in-basket {
    display: flex;
    width: 340px;
    justify-content: space-between;
}

.product-description_in-basket_add {
    width: calc(100% - 60px);
    height: 50px;
    background: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    font: 16px/21px 'Museo300';
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    transition: .2s;

    &:hover {
        background: #9B9B9B;
    }
}

.product-description_in-basket_liked {
    outline: none;
    box-sizing: border-box;
    border: 1px solid #000000;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: url('/dist/assets/images/like-icon/like.svg') center center no-repeat;
    transition: .2s;

    &-active {
        background: url('/dist/assets/images/like-icon/like_select.svg') center center no-repeat;
    }
}


.product-description_gallery {
    width: calc(100% - 380px);
    max-height: 710px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 50px;

    @media(min-width: 1920px) {
        justify-content: flex-start;
        padding-left: 280px;
    }

    @media(max-width: 1023px) {
        width: 100%;
        justify-content: center;;
    }
}

.product-description_gallery_for-active-photo {
    height: 100%;
    max-width: 540px;
    margin-right: 100px;
}

.product-description_gallery_list {
    max-width: 100px;
    height: 100%;
}

.product-description_gallery_list_item {
    height: calc(25% - 20px);
    width: 100%;
    margin-bottom: 20px;
    transition: .2s;
    cursor: pointer;
}

.product-description_gallery_photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;

    &-active {
        opacity: 1;
    }
}


.catalog_clothes_title {
    font: 16px/21px 'Museo500';
    color: #000000;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
}

.clothes_list-product-page {
    justify-content: flex-start;
    overflow: hidden;
    height: 480px;
    margin-bottom: 40px; 
}

.product-description_description{
    width: 100%;
    height: auto;
    position: relative;

    @media(max-width: 1023px) {
        order: 1;
    }
}

.product-description_description_info {
    display: none;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    box-sizing: border-box;

    &:last-of-type {
        .product-description_description_title {
            margin-left: 130px;
        }
    }

    &-active {
        display: block;
    }
}

.product-description_description_titles {
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
}

.product-description_description_title { 
    padding: 20px 0;
    box-sizing: border-box;
    font: 16px/21px 'Museo500', sans-serif;
    color: #9b9b9b;
    -webkit-font-smoothing: antialiased;
    position: relative;
    cursor: pointer;
    margin-right: 5%;

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #323232;
        position: absolute;
        left: 50%;
        transform: translateX(-100%) scaleX(0);
        bottom: -1px;
        transition: .3s;
    }

    &-active {
        color: #323232;

        &:before {
            transform: translateX(-50%) scaleX(1);
        }
    }

    &:last-of-type {
        margin: 0;
        width: 208px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


.product-description_description_wrap {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 30px 0 90px;
    flex-wrap: wrap;
}


.product-description_description_info_brand-description {
    width: 600px;
    box-sizing: border-box;
    padding: 0 5% 0 30px;
    margin-bottom: 40px;

    .product-description_description_info_content { 
        padding-left: 0;
        &:before {
            display: none;
        }
    }
}

.product-description_description_info_title {
    font: 16px/25px 'Museo300';
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    position: relative;

    &:before {
        width: 30px;
        height: 25px;
        content: '';
        position: absolute;
        left: -35px;
        top: 50%;
        transform: translateY(-50%);
    }

    &-brand-description {
        &:before {
            background: url('/dist/assets/images/product-view/brand-description.svg') center center no-repeat;
        }
    }

    &-details {
        &:before {
            background: url('/dist/assets/images/product-view/details.svg') center center no-repeat;
        }
    }

    &-sizes {
        &:before {
            background: url('/dist/assets/images/product-view/sizes.svg') center center no-repeat;
        }
    }

    &-material {
        &:before {
            background: url('/dist/assets/images/product-view/material.svg') center center no-repeat;
        }
    }
}

.product-description_description_info_list {
    box-sizing: border-box;
    padding-left: 30px;
    width: 290px;
    margin-bottom: 40px;

    &-width {
        width: 100%;
    }
}

.product-description_description_info_content,
.product-description_description_info_list p{
    font: 14px/25px 'Asterisk';
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    //padding-left: 10px;
    box-sizing: border-box;
    position: relative;


    /*&:before {
        content: '- ';
        position: absolute;
        top: 0;
        left: 0;
    }*/
}



@media(max-width: 660px) {

    .aside_size-select {
        width: 100%;
    }

    .product-description_links {
        width: 100%;
    }

    .product-description_in-basket {
        width: 100%;
    }

    .clothes_list-product-page {
        justify-content: center;
    }


    .product-description_gallery {
        flex-direction: column;
        height: auto;
    }

    .product-description_gallery_for-active-photo {
        margin-right: 0;
        width: 100%;
        max-height: 550px;
        margin-bottom: 50px;
        max-width: 410px;
        height: auto;
    }

    .product-description_gallery_list {
        display: flex;
        height: 100px;
        max-width: 100%;
        width: 100%;
    }

    .product-description_gallery_list_item {
        height: 100%;
        margin-bottom: 0;
        width: 75px;
    }
}





