.offer-page {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 60px - 292px);

    @media(max-width: 1023px) {
        min-height: calc(100vh - 60px - 260px);
    }
}


.offer-page_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    

    &_title {
        width: 100%;
        font: 21px/24px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
        margin-bottom: 50px;

        @media(max-width: 660px) {
            padding-top: 50px;
        }
    }
}


.offer-page_content_wrap {
    width: 730px;
    height: auto;
    margin-bottom: 60px;

    @media(max-width: 793px) {
        width: 100%;
    }
}


.offer-page_content_heading {
    width: 100%;
    font: 14px/21px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 5px;
}

.offer-page_content_description {
    width: 100%;
    font: 14px/20px 'Asterisk', sans-serif;
    color: #4E4E4E;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 10px;
}