extends layout
block content

    section.page404

        img(src='/assets/images/404-page/404-page-bgr.jpg').page404_background

        div.page404_content

            h2.page404_content_title СТРАНИЦА НЕ НАЙДЕНА

            p.page404_content_description ВЫ ПРОШЛИ ПО НЕСУЩЕСТВУЮЩЕЙ ССЫЛКЕ.

            p.page404_content_description ВЕРНИТЕЛЬ НА <a href='#' class='page404_content_description_link'>ГЛАВНУЮ</a> ИЛИ В <a href='#' class='page404_content_description_link'>КАТАЛОГ</a>

    script.
        var pageName = 'ErrorPage';