extends layout
block content

    section.about-page

        div.about-page_wrapper
            img(src='/assets/images/about-page/about-page-bgr.png').about-page_wrapper_bgr
            div.about-page_wrapper_content
                h2.about-page_wrapper_content_title ОДЕЖДА И ОБУВЬ<br>АВСТРИЙСКОГО КАЧЕСТВА 
                p.about-page_wrapper_content_description В ИНТЕРНЕТ-МАГАЗИНЕ ОДЕЖДЫ И ОБУВИ КАЖДЫЙ МОЖЕТ ВЫБРАТЬ И КУПИТЬ ОДЕЖДУ,<br>ОБУВЬ ИЛИ АКСЕССУАР В 2 КЛИКА.



        div.about-page_description
            h2.about-page_description_title Стиль — простой способ сказать сложные вещи
            div.about-page_description_article
                p.about-page_description_article_content.about-page_description_article_content-margin Nemepik – это интернет-магазин модной одежды, обуви, аксессуаров. Наша цель – оставить у клиента самые приятные впечатления от шопинга. Для этого мы предлагаем более 2 000 000 товаров и 1 000 брендов, быструю доставку, услугу предварительной примерки и удобные условия возврата. Именно поэтому нас выбирают более 2 000 000 покупателей.
                p.about-page_description_article_content Гордость Nemepik – собственная инфраструктура: мощная IT-платформа, складской комплекс, служба доставки, call-центры и фотостудия. В 2016 году доступ к ним получили и другие ритейлеры: мы запустили маркетплейс и вышли на рынок B2B, предложив широкий спектр услуг третьим лицам.
            
            div.about-page_description_article
                p.about-page_description_article_content Нашу компанию основали Нильс Тонзен, Флориан Янсен, Доминик Пикер и Буркхард Биндер. В 2011 году они приехали в Россию, чтобы превратить бизнес-идею в успешный международный проект. Сегодня Nemepik также работает в Казахстане, Белоруссии и на Украине, имеет центр IT-разработки в Литве и офис собственной торговой марки в Великобритании. Общая численность компании превышает 5 000 человек.
            div.about-page_description_article    
                img(src='/assets/images/about-page/about-page-photo1.png').about-page_description_article_photo
            div.about-page_description_article  
                img(src='/assets/images/about-page/about-page-photo2.png').about-page_description_article_photo
            


        form.about-page_form#about-page-message-form
            h2.about-page_form_title У вас есть вопросы или предложения?
            p.about-page_form_address Адрес: Райзнерштрассе 45-47, 1030, Вена, Австрия
            p.about-page_form_address Телефон: 0043/1/712 12 29
            p.about-page_form_address Электронная почта: help@nemepik.ru
            input(name="email" type='text' placeholder='Ваша электронная почта').about-page_form_field.js-about-page-message-email
            input(name="message" type='text' placeholder='Оставьте нам сообщение').about-page_form_field.js-about-page-message-text
            button(type="submit").about-page_form_btn.js-about-page-message-sendbtn Отправить

    script.
        var pageName = 'AboutPage';