extends layout
block content

    section.app_content


        .modal.js-subscribe-product-receipts
            .modal_close-bgr.js-subscribe-product-receipts-close
            form.modal_out-of-stock.js-subscribe-product-receipts-form
                h2.modal_window_title Узнать о поступлении товара
                button.modal_cls-btn.js-subscribe-product-receipts-close
                p.modal_out-of-stock_description К сожалению, данного размера сейчас нет в наличии. Мы вас уведомим, как только он появиться.
                ul.dropdown_selection_list
                    li.dropdown_selection_list_item
                        label.dropdown_selection_input-wrap
                            input(type='checkbox').dropdown_selection_checked
                            div.dropdown_selection_for-checked
                            p.dropdown_selection_description 44
                    li.dropdown_selection_list_item
                        label.dropdown_selection_input-wrap
                            input(type='checkbox').dropdown_selection_checked
                            div.dropdown_selection_for-checked
                            p.dropdown_selection_description 44
                    li.dropdown_selection_list_item
                        label.dropdown_selection_input-wrap
                            input(type='checkbox').dropdown_selection_checked
                            div.dropdown_selection_for-checked
                            p.dropdown_selection_description 44
                    li.dropdown_selection_list_item
                        label.dropdown_selection_input-wrap
                            input(type='checkbox').dropdown_selection_checked
                            div.dropdown_selection_for-checked
                            p.dropdown_selection_description 44
                div.home-subscribe_for-subscribe_wrap
                    input(type='text' placeholder='Ваша эл. почта').home-subscribe_for-subscribe_field.js-subscribe-product-receipts-mail
                    button(type='submit').home-subscribe_for-subscribe_btn.js-subscribe-product-receipts-send Подписаться



        section.account_page

            div.catalog_breadcrumbs
                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Мой аккаунт

            

            div.unauthorized-favorites

                div.catalog_clothes
                    h2.catalog_clothes_title Избранное
                    p.unauthorized-favorites_notice Чтобы сохранить и просматривать список с других устройств — <a href='#' class='unauthorized-favorites_notice_link'>войдите с паролем</a>
                    
                    ul.clothes_list.clothes_list-favorites
                        
                        li.clothes_list_item.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/product-view/product-photo1.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                                button.clothes_btn.clothes_btn-in-basket В корзину
                        
                        li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/product-view/product-photo2.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                                button.clothes_btn.clothes_btn-not-available.js-subscribe-product-receipts-open Узнать о поступлении
                        
                        li.clothes_list_item.clothes_list_item-discount.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/product-view/product-photo3.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_newPrice 14 340 ₽
                                    p.clothes_prices_price 14 340 ₽
                                button.clothes_btn.clothes_btn-in-basket В корзину
                        
                        li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/product-view/product-photo4.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                                button.clothes_btn.clothes_btn-not-available.js-subscribe-product-receipts-open Узнать о поступлении
                        
                        li.clothes_list_item.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/product-view/product-photo1.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                                button.clothes_btn.clothes_btn-in-basket В корзину
                        
                        li.clothes_list_item.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/product-view/product-photo2.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                                button.clothes_btn.clothes_btn-not-available Узнать о поступлении

    script.
        var pageName = 'AccountFavoritesUnauthorizedPage';