extends layout
block content

    section.app_content

        section.account_page


            div.catalog_breadcrumbs

                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Мой аккаунт

            

            div.my-account

                h2.my-account_title Мой аккаунт

                div.my-account_aside

                    ul.aside_menu
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link.aside_menu_item_link-active Мои заказы
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои данные
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои купоны
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Избранное


                div.my-account_main

                    div.account-favorites

                        div.account-favorites_empty

                            h2.catalog_clothes_title Избранное

                            p.account-favorites_empty_description Хотите сохранить понравившиеся товары? Просто нажмите на значок в виде сердца на товаре, после чего этот товар появится здесь.

                            p.account-favorites_empty_description Добавив товар в Избранное, вы легко сможете вернуться к нему в удобное для вас время. Например, можно добавить понравившуюся вам модель в случае отсутствия подходящего размера, что позволит удобнее отслеживать пополнения ассортимента.

                        div.catalog_clothes.account-favorites_content-active
                            h2.catalog_clothes_title Избранное
                            ul.clothes_list.clothes_list-favorites
                                li.clothes_list_item.clothes_list_item-liked
                                    div.clothes_list_item_wrap
                                        button.clothes_like
                                        div.clothes_new 
                                            p.clothes_new_content new
                                        div.clothes_discount 
                                            p.clothes_discont_content 75%
                                        img(src='/assets/images/product-view/product-photo1.png').clothes_photo
                                        p.clothes_name Swing
                                        p.clothes_description Качели вечернее платье с кружевом
                                        div.clothes_prices
                                            p.clothes_prices_price 14 340 ₽
                                        button.clothes_btn.clothes_btn-in-basket В корзину
                                li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                                    div.clothes_list_item_wrap
                                        button.clothes_like
                                        div.clothes_new 
                                            p.clothes_new_content new
                                        div.clothes_discount 
                                            p.clothes_discont_content 75%
                                        img(src='/assets/images/product-view/product-photo2.png').clothes_photo
                                        p.clothes_name Swing
                                        p.clothes_description Качели вечернее платье с кружевом
                                        div.clothes_prices
                                            p.clothes_prices_price 14 340 ₽
                                        button.clothes_btn.clothes_btn-not-available Узнать о поступлении
                                li.clothes_list_item.clothes_list_item-discount.clothes_list_item-liked
                                    div.clothes_list_item_wrap
                                        button.clothes_like
                                        div.clothes_new 
                                            p.clothes_new_content new
                                        div.clothes_discount 
                                            p.clothes_discont_content 75%
                                        img(src='/assets/images/product-view/product-photo3.png').clothes_photo
                                        p.clothes_name Swing
                                        p.clothes_description Качели вечернее платье с кружевом
                                        div.clothes_prices
                                            p.clothes_prices_newPrice 14 340 ₽
                                            p.clothes_prices_price 14 340 ₽
                                        button.clothes_btn.clothes_btn-in-basket В корзину
                                li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                                    div.clothes_list_item_wrap
                                        button.clothes_like
                                        div.clothes_new 
                                            p.clothes_new_content new
                                        div.clothes_discount 
                                            p.clothes_discont_content 75%
                                        img(src='/assets/images/product-view/product-photo4.png').clothes_photo
                                        p.clothes_name Swing
                                        p.clothes_description Качели вечернее платье с кружевом
                                        div.clothes_prices
                                            p.clothes_prices_price 14 340 ₽
                                        button.clothes_btn.clothes_btn-not-available Узнать о поступлении
                                li.clothes_list_item.clothes_list_item-liked
                                    div.clothes_list_item_wrap
                                        button.clothes_like
                                        div.clothes_new 
                                            p.clothes_new_content new
                                        div.clothes_discount 
                                            p.clothes_discont_content 75%
                                        img(src='/assets/images/product-view/product-photo1.png').clothes_photo
                                        p.clothes_name Swing
                                        p.clothes_description Качели вечернее платье с кружевом
                                        div.clothes_prices
                                            p.clothes_prices_price 14 340 ₽
                                        button.clothes_btn.clothes_btn-in-basket В корзину
                                li.clothes_list_item.clothes_list_item-liked
                                    div.clothes_list_item_wrap
                                        button.clothes_like
                                        div.clothes_new 
                                            p.clothes_new_content new
                                        div.clothes_discount 
                                            p.clothes_discont_content 75%
                                        img(src='/assets/images/product-view/product-photo2.png').clothes_photo
                                        p.clothes_name Swing
                                        p.clothes_description Качели вечернее платье с кружевом
                                        div.clothes_prices
                                            p.clothes_prices_price 14 340 ₽
                                        button.clothes_btn.clothes_btn-not-available Узнать о поступлении

    script.
        var pageName = 'AccountFavoritesAuthorizedPage';