extends layout
block content

    section.app_content

        section.account_page


            .modal.js-subscribe-product-receipts
                .modal_close-bgr.js-subscribe-product-receipts-close
                form.modal_out-of-stock.js-subscribe-product-receipts-form
                    h2.modal_window_title Узнать о поступлении товара
                    button.modal_cls-btn.js-subscribe-product-receipts-close
                    p.modal_out-of-stock_description К сожалению, данного размера сейчас нет в наличии. Мы вас уведомим, как только он появиться.
                    ul.dropdown_selection_list
                        li.dropdown_selection_list_item
                            label.dropdown_selection_input-wrap
                                input(type='checkbox').dropdown_selection_checked
                                div.dropdown_selection_for-checked
                                p.dropdown_selection_description 44
                        li.dropdown_selection_list_item
                            label.dropdown_selection_input-wrap
                                input(type='checkbox').dropdown_selection_checked
                                div.dropdown_selection_for-checked
                                p.dropdown_selection_description 44
                        li.dropdown_selection_list_item
                            label.dropdown_selection_input-wrap
                                input(type='checkbox').dropdown_selection_checked
                                div.dropdown_selection_for-checked
                                p.dropdown_selection_description 44
                        li.dropdown_selection_list_item
                            label.dropdown_selection_input-wrap
                                input(type='checkbox').dropdown_selection_checked
                                div.dropdown_selection_for-checked
                                p.dropdown_selection_description 44
                    div.home-subscribe_for-subscribe_wrap
                        input(type='text' placeholder='Ваша эл. почта').home-subscribe_for-subscribe_field.js-subscribe-product-receipts-mail
                        button(type='submit').home-subscribe_for-subscribe_btn.js-subscribe-product-receipts-send Подписаться


            .modal.modal-quick-view.js-product-quick-view
                .modal_close-bgr.js-product-quick-view-close
                div.quick-view
                    button.modal_cls-btn.js-product-quick-view-close
                    div.product-description

                        div.product-description-wrap

                            h2.product-description-aside_name Christian Berg Woman Selection

                            p.product-description-aside_specification Платья с художественными узорами - темно - синий

                            p.product-description-aside_price 14 400 ₽

                        
                        div.product-description-aside

                            h2.product-description-aside_name Christian Berg Woman Selection

                            p.product-description-aside_specification Платья с художественными узорами - темно - синий

                            p.product-description-aside_price 14 400 ₽

                            ul.aside_color-list
                                li.aside_color-list_item
                                    label.aside_color-list_item_wrap
                                        input(type='radio' name='color').aside_color-list_item_check
                                        div.aside_color-list_item_for-check
                                li.aside_color-list_item
                                    label.aside_color-list_item_wrap
                                        input(type='radio' name='color').aside_color-list_item_check
                                        div.aside_color-list_item_for-check
                                li.aside_color-list_item
                                    label.aside_color-list_item_wrap
                                        input(type='radio' name='color').aside_color-list_item_check
                                        div.aside_color-list_item_for-check
                                li.aside_color-list_item
                                    label.aside_color-list_item_wrap
                                        input(type='radio' name='color').aside_color-list_item_check
                                        div.aside_color-list_item_for-check

                            div.aside_size-select
                                input(type="text" placeholder="Выберите размер" readonly).aside_size-select_direction.js-order-size-select
                                div.size-select_dropdown.js-order-size-select-list
                                    ul.size-select_dropdown_list
                                        li.size-select_dropdown_list_item.size-select_dropdown_list_item_notAvailable
                                            span.size-select_dropdown_list_link.js-order-size-select-item 42
                                        
                                        li.size-select_dropdown_list_item.size-select_dropdown_list_item_not-available.js-subscribe-product-receipts-open
                                            span.size-select_dropdown_list_link 44
                                                span.size-select_link_not-available Узнать о поступлении
                                        
                                        li.size-select_dropdown_list_item
                                            span.size-select_dropdown_list_link.js-order-size-select-item 46
                                        li.size-select_dropdown_list_item
                                            span.size-select_dropdown_list_link.js-order-size-select-item 48
                                        

                            div.product-description_links
                                a(href='#').product-description_links_content Подобрать размер
                                
                                a(href='#').product-description_links_content Таблица размеров

                            div.product-description_in-basket
                                button.product-description_in-basket_add В корзину

                                button.product-description_in-basket_liked.product-description_in-basket_liked-active
                        
                        div.product-description_gallery.js-product-view-slider
                            div.product-description_gallery_forActivePhoto
                                img(src='/assets/images/product-view/product-photo1.png').product-description_gallery_photo.js-product-view-slider-full-img
                            ul.product-description_gallery_list
                                li.product-description_gallery_list_item
                                    img(src='/assets/images/product-view/product-photo1.png').product-description_gallery_photo.js-product-view-slider-item
                                li.product-description_gallery_list_item
                                    img(src='/assets/images/product-view/product-photo2.png').product-description_gallery_photo.js-product-view-slider-item
                                li.product-description_gallery_list_item
                                    img(src='/assets/images/product-view/product-photo3.png').product-description_gallery_photo.js-product-view-slider-item
                                li.product-description_gallery_list_item   
                                    img(src='/assets/images/product-view/product-photo4.png').product-description_gallery_photo.js-product-view-slider-item
                        div.product-description_see-more
                            button.product-description_see-more_btn Полное описание      

            div.catalog_breadcrumbs

                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Мой аккаунт

            
            
            

            div.my-account

                h2.my-account_title Мой аккаунт

                div.my-account_aside

                    ul.aside_menu
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link.aside_menu_item_link-active Мои заказы
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои данные
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои купоны
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Избранное


                div.my-account_main

                    div.account_order

                        h2.account_order_title Заказ №31274963 от 1 июля 2017

                        div.account_order_parameters

                            div.account_order_parameters_contents

                                p.account_order_parameters_description Статус

                            div.account_order_parameters_status

                                p.account_order_parameters_date Отправлен <span class='account_order_parameters_date-color'>4 июля 2017</span>

                        div.account_order_parameters

                            div.account_order_parameters_contents

                                p.account_order_parameters_description Состав заказа

                            div.account_order_parameters_goods

                                p.account_order_parameters_name.js-product-quick-view-open
                                    span.account_order_parameters_name_link Зимняя куртка Colmar Originals

                                p.account_order_parameters_name.js-product-quick-view-open
                                    span.account_order_parameters_name_link Хлопковый шарф Polo Ralph Lauren

                                p.account_order_parameters_name.js-product-quick-view-open
                                    span.account_order_parameters_name_link Платье с художественными узорами Christian Berg Платье с художественными узорами Christian Berg

                                p.account_order_parameters_name.js-product-quick-view-open
                                    span.account_order_parameters_name_link Платье со всеми над рисунком Apricot

                                p.account_order_parameters_name.js-product-quick-view-open
                                    span.account_order_parameters_name_link Туфли на высоких каблуках с кружевами Glamorous


                            div.account_order_parameters_amount

                                p.account_order_parameters_unit 1 шт.

                                p.account_order_parameters_unit 1 шт.

                                p.account_order_parameters_unit 1 шт.

                                p.account_order_parameters_unit 2 шт.
                                
                                p.account_order_parameters_unit 1 шт.

                            div.account_order_parameters_price

                                p.account_order_parameters_value 14 400 ₽

                                p.account_order_parameters_value 4 199 ₽

                                p.account_order_parameters_value 32 540 ₽

                                p.account_order_parameters_value 10 000 ₽
                                
                                p.account_order_parameters_value 3 456 ₽                                


                        div.account_order_parameters

                            div.account_order_parameters_contents

                                p.account_order_parameters_description Общая стоимость

                            div.account_order_parameters_totals

                                p.account_order_parameters_content Сумма за товары

                                p.account_order_parameters_content Стоимость доставки

                                p.account_order_parameters_content Скидка
                                
                                p.account_order_parameters_content Итого

                            div.account_order_parameters_sum

                                p.account_order_parameters_value 28 260 ₽

                                p.account_order_parameters_value 0

                                p.account_order_parameters_value 0
                                
                                p.account_order_parameters_value 28 260 ₽


                        div.account_order_parameters

                            div.account_order_parameters_contents

                                p.account_order_parameters_description Способ оплаты

                            div.account_order_parameters_pay

                                p.account_order_parameters_pay-method PayPal


                        div.account_order_parameters

                            div.account_order_parameters_contents

                                p.account_order_parameters_description Доставка

                            div.account_order_parameters_recipient-pointers

                                p.account_order_parameters_content Адрес

                                p.account_order_parameters_content Получатель
                                
                                p.account_order_parameters_content Телефон

                            div.account_order_parameters_recipient

                                p.account_order_parameters_info.account_order_parameters_info-address 411002, Россия, Волгоград, ул. Ленина д. 56, кв. 45

                                p.account_order_parameters_info Иванова Елена
                                
                                p.account_order_parameters_info +7 964 433-53-53


    script.
        var pageName = 'AccountOrderPage';

