extends layout
block content

    section.app_content

        section.account_page

            div.catalog_breadcrumbs

                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Мой аккаунт

            
            
            

            div.my-account

                h2.my-account_title Мой аккаунт

                div.my-account_aside

                    ul.aside_menu
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link.aside_menu_item_link-active Мои заказы
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои данные
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои купоны
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Избранное


                div.my-account_main

                    div.account-data

                        div.account-data_heading

                            h2.account-data_heading_title Мои данные
                            p.account-data_heading_email elena@mail.ru

                        form.account-data_form

                            div.account-data_field

                                input(type='text').account-data_field_personal-data
                                p.account-data_field_indicator Имя
                            
                            div.account-data_field

                                input(type='text').account-data_field_personal-data
                                p.account-data_field_indicator Фамилия

                            div.account-data_field

                                input(type='text').account-data_field_personal-data
                                p.account-data_field_indicator Телефон

                            input(type='text' placeholder='Дата рождения').account-data_field_personal-data


                            div.account-data_male

                                label.account-data_male_wrap
                                    input(type='radio' name='male').account-data_male_check-male
                                    div.account-data_male_for-check-male Женщина

                                label.account-data_male_wrap
                                    input(type='radio' name='male').account-data_male_check-male
                                    div.account-data_male_for-check-male Мужчина


                                    
                            label.account-data_subscribe

                                input(type='checkbox').account-data_subscribe_check
                                div.account-data_subscribe_for-check
                                p.account-data_subscribe_content Подписка на почтовую рассылку акций и скидок


                            h2.account-data_form_title Мои размеры

                            div.account-data_size
                                div.account-data_size_select-size.js-account-size-clothes
                                    p.account-data_size_select-size_content Размер одежды
                                    input(type="text" readonly value="44").account-data_size_select-size_size.js-account-size-clothes-input
                                ul.account-data_size_select-size_list.js-account-size-clothes-list
                                    li.account-data_size_select-size_list_item.js-account-size-clothes-item 45
                                    li.account-data_size_select-size_list_item.js-account-size-clothes-item 46
                                    li.account-data_size_select-size_list_item.js-account-size-clothes-item 47
                                    li.account-data_size_select-size_list_item.js-account-size-clothes-item 48

                            div.account-data_size
                                div.account-data_size_select-size.js-account-size-shoes
                                    p.account-data_size_select-size_content Размер обуви
                                    input(type="text" readonly value="47").account-data_size_select-size_size.js-account-size-shoes-input
                                ul.account-data_size_select-size_list.js-account-size-shoes-list
                                    li.account-data_size_select-size_list_item.js-account-size-shoes-item 45
                                    li.account-data_size_select-size_list_item.js-account-size-shoes-item 46
                                    li.account-data_size_select-size_list_item.js-account-size-shoes-item 47
                                    li.account-data_size_select-size_list_item.js-account-size-shoes-item 48 

                            a(href='#').account-data_choose-size Подобрать размер

                            

                            div.account-data_form_address

                                h2.account-data_form_title Мои адреса

                                div.account-data_choose-location

                                    div.account-data_choose-location_locality.js-account-address
                                        input(readonly type="text" value="Россия, Волгоград, ул. Ленина, 48, кв 177").account-data_choose-location_locality_select.js-account-address-input

                                    ul.account-data_choose-location_list.js-account-address-list
                                        li.account-data_choose-location_list-item.js-account-address-item Россия, Волгоград, ул. Ленина, 50, кв 231
                                        li.account-data_choose-location_list-item.js-account-address-item Россия, Волгоград, ул. Пушкина, 33, кв 17
                                        li.account-data_choose-location_list-item.js-account-address-item Россия, Волгоград, ул. Мира, 12, кв 121
                                        li.account-data_choose-location_list-item.js-account-address-item Россия, Волгоград, ул. Улица, 45, кв 10
                                    

                                div.account-data_field

                                    input(type='text').account-data_field_personal-data
                                    p.account-data_field_indicator Страна

                                div.account-data_field.account-data_field-width

                                    input(type='text').account-data_field_personal-data
                                    p.account-data_field_indicator Город

                                div.account-data_field.account-data_field-width

                                    input(type='text').account-data_field_personal-data
                                    p.account-data_field_indicator Индекс

                                div.account-data_field

                                    input(type='text').account-data_field_personal-data
                                    p.account-data_field_indicator Улица

                                div.account-data_field.account-data_field-width

                                    input(type='text').account-data_field_personal-data
                                    p.account-data_field_indicator Дом

                                div.account-data_field.account-data_field-width

                                    input(type='text').account-data_field_personal-data
                                    p.account-data_field_indicator кв./офис

                            span.account-data_add-address Добавить новый адрес

                            div.account-data_save-changes

                                button.account-data_save-changes_btn.account-data_save-changes_btn-save Сохранить

                                button.account-data_save-changes_btn.account-data_save-changes_btn-cancel Отмена

    script.
        var pageName = 'AccountDataPage';

