extends layout
block content

    section.app_content

        section.account_page

            div.catalog_breadcrumbs
                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Мой аккаунт


            div.my-account

                h2.my-account_title Мой аккаунт

                div.my-account_aside
                    ul.aside_menu
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link.aside_menu_item_link-active Мои заказы
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои данные
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои купоны
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Избранное


                div.my-account_main

                    div.account-coupon.account-coupon-active

                        ul.account_menu_list.account_menu_list-account-coupon
                            li.account_menu_list_item.js-coupon-list-btn(open="active") Активные
                            li.account_menu_list_item.js-coupon-list-btn(open="archive") Использованые

                        div.account-coupon_coupons.js-coupon-list-window(list='active')

                            div.account-coupon_coupons_unit
                                div.account-coupon_coupons_unit_rightSide
                                    p.account-coupon_coupons_number Купон №050R
                                    p.account-coupon_coupons_date от 1 июня 2017
                                div.account-coupon_coupons_unit_leftSide
                                    p.account-coupon_coupons_amount 3 000 ₽

                            div.account-coupon_coupons_unit
                                div.account-coupon_coupons_unit_rightSide
                                    p.account-coupon_coupons_number Купон №050R
                                    p.account-coupon_coupons_date от 1 июня 2017
                                div.account-coupon_coupons_unit_leftSide
                                    p.account-coupon_coupons_amount 3 000 ₽

                        div.account-coupon_coupons.js-coupon-list-window(list='archive')

                            div.account-coupon_coupons_unit
                                div.account-coupon_coupons_unit_rightSide
                                    p.account-coupon_coupons_number Купон №29292
                                    p.account-coupon_coupons_date от 23 fsas 234
                                div.account-coupon_coupons_unit_leftSide
                                    p.account-coupon_coupons_amount 3 dfs00 ₽

                            div.account-coupon_coupons_unit
                                div.account-coupon_coupons_unit_rightSide
                                    p.account-coupon_coupons_number Купон №2828
                                    p.account-coupon_coupons_date от 1 sfsdfsf 324324
                                div.account-coupon_coupons_unit_leftSide
                                    p.account-coupon_coupons_amount 3 00sfd0 ₽


                    div.buy-coupon

                        h2.buy-coupon_title Купить купон

                        p.buy-coupon_description Купон покупается через сайт. Покрывает до 50% цены. Номинал купона от 1000 р до 60 000 р.  Заложить возможность покупки подарочного купона (на сайте), систему учета расходов в личном кабинете после покупки, систему учета на серверной части.
                        p.buy-coupon_description Он отправляется почтой на указанный Вами адрес или в магазин.Действительна во всех магазинах в России и на сайте для этой страны.
                        p.buy-coupon_description Подарочная карта действительна на протяжении трех лет с даты покупки.После покупки подарочная карта не подлежит возврату.

                        
                        form.buy-coupon_form

                            .buy-coupon_title Выберите сумму

                            div.buy-coupon_on-amount
                                p.buy-coupon_on-amount_amount.js-coupon-selector-display 1000 ₽
                                div.buy-coupon_on-amount_range
                                    input(name="price" type='number' hidden).js-coupon-selector-input
                                    div.buy-coupon_on-amount_range_btn.buy-coupon_on-amount_range_btn-minus.js-coupon-selector-minus
                                    div.buy-coupon_on-amount_range_slider.js-coupon-selector-slide
                                        div.buy-coupon_on-amount_range_slider_runner.js-coupon-selector-btn
                                    div.buy-coupon_on-amount_range_btn.buy-coupon_on-amount_range_btn-plus.js-coupon-selector-plus

                            div.buy-coupon_pay-methods
                                label.buy-coupon_pay-methods_wrap
                                    input(type='radio' value="1" name='type').buy-coupon_pay-methods_check-method
                                    div.buy-coupon_pay-methods_for-check-method
                                    p.buy-coupon_pay-methods_name PayPal
                                label.buy-coupon_pay-methods_wrap
                                    input(type='radio' value="2" name='type').buy-coupon_pay-methods_check-method
                                    div.buy-coupon_pay-methods_for-check-method
                                    p.buy-coupon_pay-methods_name Visa / Mastercard / Мир
                                label.buy-coupon_pay-methods_wrap
                                    input(type='radio' value="3" name='type').buy-coupon_pay-methods_check-method
                                    div.buy-coupon_pay-methods_for-check-method
                                    p.buy-coupon_pay-methods_name Webmoney
                            button.buy-coupon_pay-btn Оплатить

    script.
        var pageName = 'AccountCouponPage';




