extends layout
block content

    section.app_content

        section.brands-page

            div.catalog_breadcrumbs

                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Бренды


                
            div.brands-page_content

                h2.brands-page_content_title Бренды


                div.brands-page_content_quick-links

                    ul.quick-links_list
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link 0-9
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link A
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link B
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link C
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link D
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link E
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link F
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link G
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link H
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link I
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link J
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link K 
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link L
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link M
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link N
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link O
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link P 
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link Q
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link R
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link S
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link T
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link U
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link V
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link W
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link X
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link Y
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link Z
                        li.quick-links_list_item
                            a(href='#').quick-links_list_item_link А-Я

                    
                div.brands-page_content_sections
                    
                    
                    
                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title 0-9
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link !Solid
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link 67
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link 7 For All Mankind
                        
                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title A
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link abro
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link ALPE
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apple of Eden
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Abury
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Alpha Industries
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apricot
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link adidas Originals
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Altea
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Armani Collezioni


                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title B
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Baldessarini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Belstaff
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link BOSS Green
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Banana Moon
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Bench
                        
                    

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title C
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cabrini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Castañer
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link CODELLO
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Calvin Klein
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cheap Monday
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Colors of California

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title D
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link abro
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link ALPE
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apple of Eden
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Abury
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Alpha Industries
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apricot
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link adidas Originals
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Altea
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Armani Collezioni
                    
                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title E
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Baldessarini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Belstaff
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link BOSS Green
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Banana Moon
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Bench

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title F
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cabrini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Castañer
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link CODELLO
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Calvin Klein
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cheap Monday
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Colors of California

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title G
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link abro
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link ALPE
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apple of Eden
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Abury
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Alpha Industries
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apricot
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link adidas Originals
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Altea
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Armani Collezioni

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title H
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Baldessarini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Belstaff
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link BOSS Green
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Banana Moon
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Bench

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title I
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cabrini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Castañer
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link CODELLO
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Calvin Klein
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cheap Monday
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Colors of California

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title J
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link abro
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link ALPE
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apple of Eden
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Abury
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Alpha Industries
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apricot
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link adidas Originals
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Altea
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Armani Collezioni

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title K
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Baldessarini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Belstaff
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link BOSS Green
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Banana Moon
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Bench

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title L
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cabrini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Castañer
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link CODELLO
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Calvin Klein
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cheap Monday
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Colors of California

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title M
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link abro
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link ALPE
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apple of Eden
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Abury
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Alpha Industries
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apricot
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link adidas Originals
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Altea
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Armani Collezioni

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title N
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Baldessarini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Belstaff
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link BOSS Green
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Banana Moon
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Bench

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title O
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cabrini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Castañer
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link CODELLO
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Calvin Klein
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cheap Monday
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Colors of California

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title P
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link abro
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link ALPE
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apple of Eden
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Abury
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Alpha Industries
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apricot
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link adidas Originals
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Altea
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Armani Collezioni
                    
                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title Q
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Baldessarini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Belstaff
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link BOSS Green
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Banana Moon
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Bench

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title R
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cabrini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Castañer
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link CODELLO
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Calvin Klein
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cheap Monday
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Colors of California

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title S
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link abro
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link ALPE
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apple of Eden
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Abury
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Alpha Industries
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apricot
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link adidas Originals
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Altea
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Armani Collezioni

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title T
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Baldessarini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Belstaff
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link BOSS Green
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Banana Moon
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Bench

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title U
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cabrini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Castañer
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link CODELLO
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Calvin Klein
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cheap Monday
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Colors of California

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title V
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link abro
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link ALPE
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apple of Eden
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Abury
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Alpha Industries
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apricot
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link adidas Originals
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Altea
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Armani Collezioni

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title W
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Baldessarini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Belstaff
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link BOSS Green
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Banana Moon
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Bench

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title X
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cabrini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Castañer
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link CODELLO
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Calvin Klein
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cheap Monday
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Colors of California

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title Y
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link abro
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link ALPE
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apple of Eden
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Abury
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Alpha Industries
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Apricot
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link adidas Originals
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Altea
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Armani Collezioni

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title Z
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Baldessarini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Belstaff
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link BOSS Green
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Banana Moon
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Bench

                    ul.brands-page_content_sections_list
                        h2.brands-page_content_sections_list_title А-Я
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cabrini
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Castañer
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link CODELLO
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Calvin Klein
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Cheap Monday
                        li.brands-page_content_sections_list_item
                            a(href='#').brands-page_sections_list_item_link Colors of California
                        
    script.
        var pageName = 'BrandsPage';
