extends layout
block content

    section.app_content

        section.catalog_page

            div.catalog_breadcrumbs
                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Женщинам
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Одежда
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Платья
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Длинные платья



            div.catalog_aside


                div.catalog_filtration

                    ul.filtration_sections
                        li.filtration_sections_item Категории
                        li.filtration_sections_item.filtration_sections_item-active Фильтрация


                div.catalog_selected-type

                    h2.selected-type_title Длинные платья
                    div.selected-type_selection.selected-type_selection-popularity
                        .selected-type_selection_content По популярности
                        div.selected-type_dropdown_selection
                            ul.dropdown_selection_list
                                li.dropdown_selection_list_item
                                    a(href='#').dropdown_selection_list_item_link По возрастанию цены
                                li.dropdown_selection_list_item
                                    a(href='#').dropdown_selection_list_item_link По убыванию цены
                                li.dropdown_selection_list_item
                                    a(href='#').dropdown_selection_list_item_link По популярности
                                li.dropdown_selection_list_item
                                    a(href='#').dropdown_selection_list_item_link По новинкам
                                li.dropdown_selection_list_item
                                    a(href='#').dropdown_selection_list_item_link По скидкам


                ul.catalog_aside_list

                    h2.catalog_aside_list_title Женская одежда

                    li.catalog_aside_list_item
                        a(href='#').catalog_aside_list_item_link.catalog_link-selected Топы
                        ul.catalog_aside_sub-list.catalog_aside_sub-list-active
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Короткие платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Миди-платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link.catalog_link-selected Длинные платья
 
                    li.catalog_aside_list_item
                        a(href='#').catalog_aside_list_item_link Рубашки и блузки
                        ul.catalog_aside_sub-list.catalog_aside_sub-list-active
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Короткие платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Миди-платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Длинные платья

                    li.catalog_aside_list_item
                        a(href='#').catalog_aside_list_item_link Пиджаки и жилеты
                        ul.catalog_aside_sub-list.catalog_aside_sub-list-active
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Короткие платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Миди-платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Длинные платья

                    li.catalog_aside_list_item
                        a(href='#').catalog_aside_list_item_link Платья
                        ul.catalog_aside_sub-list.catalog_aside_sub-list-active
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Короткие платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Миди-платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Длинные платья

                    li.catalog_aside_list_item
                        a(href='#').catalog_aside_list_item_link Комбинезоны
                        ul.catalog_aside_sub-list.catalog_aside_sub-list-active
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Короткие платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Миди-платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Длинные платья

                    li.catalog_aside_list_item
                        a(href='#').catalog_aside_list_item_link Юбки
                        ul.catalog_aside_sub-list.catalog_aside_sub-list-active
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Короткие платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Миди-платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Длинные платья
                                
                    li.catalog_aside_list_item
                        a(href='#').catalog_aside_list_item_link Шорты
                        ul.catalog_aside_sub-list.catalog_aside_sub-list-active
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Короткие платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Миди-платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Длинные платья

                    li.catalog_aside_list_item
                        a(href='#').catalog_aside_list_item_link Джинсы
                        ul.catalog_aside_sub-list.catalog_aside_sub-list-active
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Короткие платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Миди-платья
                            li.catalog_aside_list_item
                                a(href='#').catalog_aside_list_item_link Длинные платья


                div.catalog_param-selection

                    ul.param-selection_list

                    
                        li.param-selection_list_item
                            div.selected-type_selection.selected-type_selection-brand
                                p.selected-type_selection_content Бренд
                                div.selected-type_dropdown_selection
                                    div.dropdown_selection_search
                                        input(type='text' placeholder='Поиск бренда').dropdown_selection_search_field
                                    ul.dropdown_selection_list
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description adidas Originals
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Alpha Industries
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Apricot
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Armani Jeans
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Armedangels
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description BCBG GENERATION
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Birkenstock
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description BOSS
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description adidas Originals
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Alpha Industries
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Apricot
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Armani Jeans
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Armedangels
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description BCBG GENERATION
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description Birkenstock
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description BOSS
                                    div.dropdown_selection_apply
                                        button.dropdown_selection_apply_btn Применить    


                        li.param-selection_list_item
                            div.selected-type_selection.selected-type_selection-size
                                p.selected-type_selection_content Размер<span class='selected-type_selection_content_filter'>5</span>
                                div.selected-type_dropdown_selection
                                    ul.dropdown_selection_list
                                        h2.dropdown_selection_list_title Российский размер
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description 44
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description 44
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description 44
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description 44
                                        h2.dropdown_selection_list_title Российский размер
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description 44
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description 44
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description 44
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                p.dropdown_selection_description 44
                                    div.dropdown_selection_apply
                                        button.dropdown_selection_apply_btn Применить


                        li.param-selection_list_item
                            div.selected-type_selection.selected-type_selection-color
                                p.selected-type_selection_content Цвет<span class='selected-type_selection_content_filter'>5</span>
                                div.selected-type_dropdown_selection
                                    ul.dropdown_selection_list
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-white
                                                p.dropdown_selection_description белый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-orange
                                                p.dropdown_selection_description оранжевый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-red
                                                p.dropdown_selection_description красный
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-pink
                                                p.dropdown_selection_description розовый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-violet
                                                p.dropdown_selection_description фиолетовый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-green
                                                p.dropdown_selection_description зеленый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-yellow
                                                p.dropdown_selection_description желтый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-black
                                                p.dropdown_selection_description черный
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-beige
                                                p.dropdown_selection_description бежевый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-white
                                                p.dropdown_selection_description белый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-orange
                                                p.dropdown_selection_description оранжевый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-red
                                                p.dropdown_selection_description красный
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-pink
                                                p.dropdown_selection_description розовый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-violet
                                                p.dropdown_selection_description фиолетовый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-green
                                                p.dropdown_selection_description зеленый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-yellow
                                                p.dropdown_selection_description желтый
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-black
                                                p.dropdown_selection_description черный
                                        li.dropdown_selection_list_item
                                            label.dropdown_selection_input-wrap
                                                input(type='checkbox').dropdown_selection_checked
                                                div.dropdown_selection_for-checked
                                                div.dropdown_selection_color.dropdown_selection_color-beige
                                                p.dropdown_selection_description бежевый
                                    div.dropdown_selection_apply
                                        button.dropdown_selection_apply_btn Применить    


                        li.param-selection_list_item
                            div.selected-type_selection.selected-type_selection-price
                                //p.selected-type_selection_content Цена
                                p.selected-type_selection_content 1 848₽ - 10 592₽
                                div.selected-type_dropdown_selection
                                    div.dropdown_selection_price-variation
                                        p.dropdown_selection_price-variation_index от
                                        input(type='text' placeholder='2 400').dropdown_selection_price-variation_field
                                        p.dropdown_selection_price-variation_index до
                                        input(type='text' placeholder='24 400').dropdown_selection_price-variation_field
                                    div.dropdown_selection_apply
                                        button.dropdown_selection_apply_btn Применить
                        
                        
                        li.param-selection_list_item.param-selection_list_item-clean-filter
                            div.selected-type_selection.selected-type_selection-brand
                                p.selected-type_selection_content Очистить фильтрацию                  

            
            
            
            
            
            
            
            
            
            
            
            div.catalog_main

                
                
                //- div.catalog_filtration

                    //- ul.filtration_sections
                    //-     li.filtration_sections_item Категории
                    //-     li.filtration_sections_item.filtration_sections_item-active Фильтрация



                    //- ul.filtration_sections_sorting
                    //-     li.filtration_sections_sorting_item Сортировка 
                    //-         select(size='1').filtration_sections_sorting_select 
                    //-             option(selected='selected').filtration_sections_sorting_select_item По популярности
                    //-             option.filtration_sections_sorting_select_item По возрастанию цены
                    //-             option.filtration_sections_sorting_select_item По убыванию цены
                    //-             option.filtration_sections_sorting_select_item По популярности
                    //-             option.filtration_sections_sorting_select_item По новинкам
                    //-             option.filtration_sections_sorting_select_item По скидкам
                    //-     li.filtration_sections_sorting_item Бренды 
                    //-         select(multiple size='1').filtration_sections_sorting_select 
                    //-             option(selected='selected').filtration_sections_sorting_select_item Все
                    //-             option.filtration_sections_sorting_select_item adidas Originals
                    //-             option.filtration_sections_sorting_select_item Alpha Industries
                    //-             option.filtration_sections_sorting_select_item Apricot
                    //-             option.filtration_sections_sorting_select_item Armani Jeans
                    //-             option.filtration_sections_sorting_select_item Armedangels
                    //-             option.filtration_sections_sorting_select_item BCBG GENERATION
                    //-             option.filtration_sections_sorting_select_item Birkenstock
                    //-             option.filtration_sections_sorting_select_item BOSS
                    //-     li.filtration_sections_sorting_item Размер 
                    //-         select(multiple size='1').filtration_sections_sorting_select
                    //-             option(selected='selected').filtration_sections_sorting_select_item Все
                    //-             option.filtration_sections_sorting_select_item 44 RU
                    //-             option.filtration_sections_sorting_select_item 44 RU
                    //-             option.filtration_sections_sorting_select_item 44 RU
                    //-             option.filtration_sections_sorting_select_item 44 RU
                    //-     li.filtration_sections_sorting_item Цвет 
                    //-         select(multiple size='1').filtration_sections_sorting_select
                    //-             option(selected='selected').filtration_sections_sorting_select_item Все
                    //-             option.filtration_sections_sorting_select_item белый
                    //-             option.filtration_sections_sorting_select_item оранжевый
                    //-             option.filtration_sections_sorting_select_item красный
                    //-             option.filtration_sections_sorting_select_item розовый
                    //-             option.filtration_sections_sorting_select_item фиолетовый
                    //-             option.filtration_sections_sorting_select_item зеленый
                    //-             option.filtration_sections_sorting_select_item желтый
                    //-             option.filtration_sections_sorting_select_item черный
                    //-             option.filtration_sections_sorting_select_item бежевый
                    //-     li.filtration_sections_sorting_item Цена 
                    //-         select(size='1').filtration_sections_sorting_select
                    //-             option(selected='selected').filtration_sections_sorting_select_item Любая
                    //- div.filtration_units
                    //-     div.filtration_units_item.filtration_units_item-active Женщинам
                    //-     div.filtration_units_item Мужчинам
                    //-     div.filtration_units_item Детям
                    //- div.filtration_selection
                    //-     ul.filtration_selection_list.filtration_selection_list-active
                    //-         li.filtration_selection_list_item.filtration_selection_list_item-active 
                    //-             p.filtration_selection_list_item_content Обувь
                    //-             ul.filtration_selection_sub
                    //-                 li.filtration_selection_sub_item
                    //-                     label.filtration_selection_sub_wrap
                    //-                         input(type='checkbox').filtration_selection_sub_check
                    //-                         div.filtration_selection_sub_description Балетки
                    //-                 li.filtration_selection_sub_item
                    //-                     label.filtration_selection_sub_wrap
                    //-                         input(type='checkbox').filtration_selection_sub_check
                    //-                         div.filtration_selection_sub_description Мокасины
                                            
                    //-         li.filtration_selection_list_item 
                    //-             p.filtration_selection_list_item_content Одежда
                    //-         li.filtration_selection_list_item 
                    //-             p.filtration_selection_list_item_content Аксессуары
                    //-     ul.filtration_selection_list
                    //-     ul.filtration_selection_list

                    //- div.filtration_btns
                    //-     button.filtration_btns_btn.filtration_btns_btn-delete Отчистить фильтр
                    //-     button.filtration_btns_btn.filtration_btns_btn-add Применить

                        
                






                div.catalog_clothes

                    ul.clothes_list
                        li.clothes_list_item
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-new
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-discount
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_newPrice 14 340 ₽
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-new
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-discount
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_newPrice 14 340 ₽
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-new
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-discount
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_newPrice 14 340 ₽
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-new
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-discount
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_newPrice 14 340 ₽
                                    p.clothes_prices_price 14 340 ₽
                        li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                            div.clothes_list_item_wrap
                                button.clothes_like
                                div.clothes_new 
                                    p.clothes_new_content new
                                div.clothes_discount 
                                    p.clothes_discont_content 75%
                                img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                p.clothes_name Swing
                                p.clothes_description Качели вечернее платье с кружевом
                                div.clothes_prices
                                    p.clothes_prices_price 14 340 ₽



                div.catalog_page-count
                    a(href='#').page-count_btn.page-count_btn-prev
                    ul.page-count_list
                        li.page-count_list_item
                            a(href='#').page-count_list_item_link.page-count_list_item_link-selected
                                span.page-count_list_item_link_index 1
                        li.page-count_list_item
                            a(href='#').page-count_list_item_link 
                                span.page-count_list_item_link_index 2
                        li.page-count_list_item
                            a(href='#').page-count_list_item_link 
                                span.page-count_list_item_link_index 3
                        li.page-count_list_item
                            a(href='#').page-count_list_item_link 
                                span.page-count_list_item_link_index 4
                        li.page-count_list_item
                            a(href='#').page-count_list_item_link 
                                span.page-count_list_item_link_index 5
                    a(href='#').page-count_btn.page-count_btn-next

    script.
        var pageName = 'CatalogPage';