footer.footer
    div.content-wrapper
        div.info
            h2.info_title Контакты
            ul.info_list
                li.info_list_item
                    a.info_list_item_link(href='#') Райзнерштрассе 45-47, 1030, Вена, Австрия
                li.info_list_item
                    a.info_list_item_link(href='#') +7 0043 1 712 12 29
                li.info_list_item
                    a.info_list_item_link(href='#') help@nemepik.ru
        div.info
            h2.info_title Центр поддержки
            ul.info_list
                li.info_list_item
                    a.info_list_item_link(href='#') Доставка
                li.info_list_item
                    a.info_list_item_link(href='#') Оплата
                li.info_list_item
                    a.info_list_item_link(href='#') Возврат
                li.info_list_item
                    a.info_list_item_link(href='#') Публичная оферта
        div.info
            h2.info_title Мы в соц. сетях
            ul.info_list
                li.info_list_item
                    a.info_list_item_link(href='#') Instagram
                li.info_list_item
                    a.info_list_item_link(href='#') Вконтакте
                li.info_list_item
                    a.info_list_item_link(href='#') Facebook
        div.info
            h2.info_title Способы оплаты
            div.info_pay-methods
                a.info_pay-methods_link(href='#')
                    img.info_pay-methods_link_icon(src='/assets/images/footer/visa.png')
                a.info_pay-methods_link(href='#')
                    img.info_pay-methods_link_icon(src='/assets/images/footer/mastercard.png')
                a.info_pay-methods_link(href='#')
                    img.info_pay-methods_link_icon(src='/assets/images/footer/paypal.png')
                a.info_pay-methods_link(href='#')
                    img.info_pay-methods_link_icon(src='/assets/images/footer/mir.png')
    div.content-wrapper
        div.about-company
            a.about-company_link(href='#') О компании
            a.about-company_link(href='#') Все бренды
        div.developer
            a.developer_link(href='#') © 2017 
                span.developer_link_color Cделано в Top Float

