header.header#header

    .modal.js-header-registration-form
        .modal_close-bgr.js-header-registration-close
        div.modal_sign-in
            h2.modal_window_title Регистрация
            button.modal_cls-btn.js-header-registration-close
            form#registration-form.registration_sign-in_form.registration_sign-in_form-active
                input(name="email" type='text' placeholder='Эл. почта').registration_sign-in_field.js-header-registration-mail
                label.registration_sign-in_wrap
                    input(name="subscribe" type='checkbox').registration_sign-in_check
                    div.registration_sign-in_for-check.js-header-registration-subscribe
                    p.registration_sign-in_description Подписаться на новости и скидки
                input(name="password" type='password' placeholder='Пароль').registration_sign-in_field.js-header-registration-password
                input(name="name" type='text' placeholder='Имя').registration_sign-in_field.js-header-registration-name
                label.registration_sign-in_wrap
                    input(name="agree" type='checkbox').registration_sign-in_check.js-header-registration-agree-input
                    div.registration_sign-in_for-check.js-header-registration-agree-marker
                    p.registration_sign-in_description Я согласен с <a href='#' class='registration_sign-in_offerLink'>офертой</a>
                button(type='submit').registration_sign-in_sign-up-btn.js-successfull-registration-btn Зарегистрироваться
                div.ordering_order-product_form_other-sources
                    p.form_other-sources_description или войти через
                    a(href='#').form_other-sources_link.form_other-sources_link-vk
                    a(href='#').form_other-sources_link.form_other-sources_link-fb
                div.registration_sign-in_sign-in-btn.js-header-entrance-btn Войти

                
    .modal.js-header-entrance-form       
        .modal_close-bgr.js-header-entrance-close   
        div.modal_sign-in
            h2.modal_window_title Вход
            button.modal_cls-btn.js-header-entrance-close
            form(method="POST").registration_sign-in_form.js-login-form#js-login-form
                input(type='text' placeholder='Эл. почта').registration_sign-in_field.js-login-mail
                div.registration_sign-in_form_wrap
                    input(type='text' placeholder='Пароль').registration_sign-in_field.js-login-password
                    .registration_sign-in_password.js-lost-password-btn Забыли пароль
                button(type="submit").registration_sign-in_sign-up-btn.js-login-enter Войти
                div.ordering_order-product_form_other-sources
                    p.form_other-sources_description или войти через
                    a(href='#').form_other-sources_link.form_other-sources_link-vk
                    a(href='#').form_other-sources_link.form_other-sources_link-fb
                div.registration_sign-in_sign-in-btn.js-header-registration-btn Зарегистрироваться


    .modal.js-lost-password-form         
        .modal_close-bgr.js-lost-password-close  
        div.modal_sign-in
            h2.modal_window_title Восстановить пароль
            button.modal_cls-btn.js-lost-password-close
            form(method="POST").registration_sign-in_form#js-restoring-form
                input(type='text' name="mail" placeholder='Эл. почта').registration_sign-in_field.js-restoring-mail
                .registration_sign-in_return.js-header-entrance-btn Помню пароль
                button.registration_sign-in_sign-up-btn Выслать новый пароль
                div.ordering_order-product_form_other-sources
                    p.form_other-sources_description или войти через
                    a(href='#').form_other-sources_link.form_other-sources_link-vk
                    a(href='#').form_other-sources_link.form_other-sources_link-fb


    .modal.js-successfull-registration-form
        .modal_close-bgr.js-successfull-registration-close
        div.modal_notification
            h2.modal_window_title Вы зарегестрированы!
            button.modal_cls-btn.js-successfull-registration-close
            p.modal_notification_description Спасибо за регистрацию! 
            p.modal_notification_description На вашу почту придет письмо с подтверждением регистрации, пройдите по ссылке, указанной в письме, чтобы активировать аккаунт.
    
    
    .show-menu

    a(href='#').homeward_link
        img.homeward_link_logo(src='/assets/images/header/nemepik.svg')

    ul.center-nav.center-nav-active
        li.center-nav_unit.center-nav_unit-active
            span.center-nav_unit_link Женщинам
            .center-nav_sub-menu.center-nav_sub-menu-shadow.js-menu-swipe-close
                .sub-menu_section-right
                    ul.section-right_list
                        li.section-right_list_item
                            a(href='#').section-right_list_item_link.section-right_list_item_link-color Распродажа %
                        li.section-right_list_item
                            a(href='#').section-right_list_item_link Новинки1
                        li.section-right_list_item
                            a(href='#').section-right_list_item_link Необходимое для лета 
                .sub-menu_section-center
                    ul.section-center_list
                        li.section-center_list_item
                            span.section-center_list_item_link Одежда
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Купальники
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Пиджак
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Блузки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Брюки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Брючные костюмы
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Куртки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Джинсы
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Комбинезоны
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Платья
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Пальто
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Свитера и трикотаж
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Юбки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все категории
                        li.section-center_list_item.section-center_list_item-margin-btm
                            span.section-center_list_item_link Обувь
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Балетки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Свадебная обувь
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Брюки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Эспадрильи
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все категории
                        li.section-center_list_item
                            span.section-center_list_item_link Аксессуары
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Пояс
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Перчатки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Шапки, Шляпы И Кепки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Мелкой кожгалантереи
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все категории
                        li.section-center_list_item.section-center_list_item-margin-lft
                            a(href='#').section-center_list_item_link Топ бренды
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Tommy Hilfiger
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Lauren Ralph Lauren
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Esprit Collection
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Only
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link MICHAEL Michael Kors
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Marc Cain
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Naketano
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Marc O’Polo
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Lauren Ralph Lauren
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Esprit Collection
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Only
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Jake*s Cocktail
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все бренды
                .sub-menu_section-left
                    
                    .section-left_brand
                        .section-left_brand_photo
                            img(src='/assets/images/header/photo1.png').section-left_brand_photo_img
                        .section-left_brand_description
                            h2.section-left_brand_description_title MANGO
                            p.section-left_brand_description_content Линия элегантной классики
                    .section-left_brand
                        .section-left_brand_photo
                            img(src='/assets/images/header/photo2.png').section-left_brand_photo_img
                        .section-left_brand_description
                            h2.section-left_brand_description_title CAMBIO
                            p.section-left_brand_description_content Для тех, кто ценит оригинальный стиль
                
        li.center-nav_unit
            span.center-nav_unit_link Мужчинам
            .center-nav_sub-menu.center-nav_sub-menu-shadow
                .sub-menu_section-right
                    ul.section-right_list
                        li.section-right_list_item
                            a(href='#').section-right_list_item_link.section-right_list_item_link-color Распродажа %
                        li.section-right_list_item
                            a(href='#').section-right_list_item_link Новинки2
                        li.section-right_list_item
                            a(href='#').section-right_list_item_link Необходимое для лета 
                .sub-menu_section-center
                    ul.section-center_list
                        li.section-center_list_item
                            span.section-center_list_item_link Одежда
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Купальники
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Пиджак
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Блузки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Брюки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Брючные костюмы
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Куртки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Джинсы
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Комбинезоны
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Платья
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Пальто
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Свитера и трикотаж
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Юбки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все категории
                        li.section-center_list_item.section-center_list_item-margin-btm
                            span.section-center_list_item_link Обувь
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Балетки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Свадебная обувь
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Брюки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Эспадрильи
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все категории
                        li.section-center_list_item
                            span.section-center_list_item_link Аксессуары
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Пояс
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Перчатки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Шапки, Шляпы И Кепки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Мелкой кожгалантереи
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все категории
                        li.section-center_list_item.section-center_list_item-margin-lft
                            a(href='#').section-center_list_item_link Топ бренды
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Tommy Hilfiger
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Lauren Ralph Lauren
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Esprit Collection
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Only
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link MICHAEL Michael Kors
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Marc Cain
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Naketano
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Marc O’Polo
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Lauren Ralph Lauren
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Esprit Collection
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Only
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Jake*s Cocktail
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все бренды
                .sub-menu_section-left
                    
                    .section-left_brand
                        .section-left_brand_photo
                            img(src='/assets/images/header/photo1.png').section-left_brand_photo_img
                        .section-left_brand_description
                            h2.section-left_brand_description_title MANGO
                            p.section-left_brand_description_content Линия элегантной классики
                    .section-left_brand
                        .section-left_brand_photo
                            img(src='/assets/images/header/photo2.png').section-left_brand_photo_img
                        .section-left_brand_description
                            h2.section-left_brand_description_title CAMBIO
                            p.section-left_brand_description_content Для тех, кто ценит оригинальный стиль
        li.center-nav_unit
            a.center-nav_unit_link Детям
            .center-nav_sub-menu.center-nav_sub-menu-shadow
                .sub-menu_section-right
                    ul.section-right_list
                        li.section-right_list_item
                            a(href='#').section-right_list_item_link.section-right_list_item_link-color Распродажа %
                        li.section-right_list_item
                            a(href='#').section-right_list_item_link Новинки3
                        li.section-right_list_item
                            a(href='#').section-right_list_item_link Необходимое для лета 
                .sub-menu_section-center
                    ul.section-center_list
                        li.section-center_list_item
                            span.section-center_list_item_link Одежда
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Купальники
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Пиджак
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Блузки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Брюки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Брючные костюмы
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Куртки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Джинсы
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Комбинезоны
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Платья
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Пальто
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Свитера и трикотаж
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Юбки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все категории
                        li.section-center_list_item.section-center_list_item-margin-btm
                            span.section-center_list_item_link Обувь
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Балетки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Свадебная обувь
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Брюки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Эспадрильи
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все категории
                        li.section-center_list_item
                            span.section-center_list_item_link Аксессуары
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Пояс
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Перчатки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Шапки, Шляпы И Кепки
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Мелкой кожгалантереи
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все категории
                        li.section-center_list_item.section-center_list_item-margin-lft
                            span.section-center_list_item_link Топ бренды
                            ul.sub-list
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Tommy Hilfiger
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Lauren Ralph Lauren
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Esprit Collection
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Only
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link MICHAEL Michael Kors
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Marc Cain
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Naketano
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Marc O’Polo
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Lauren Ralph Lauren
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Esprit Collection
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Only
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Jake*s Cocktail
                                li.sub-list_sub-item
                                    a(href='#').sub-list_sub-item_sub-link Все бренды
                .sub-menu_section-left
                    
                    .section-left_brand
                        .section-left_brand_photo
                            img(src='/assets/images/header/photo1.png').section-left_brand_photo_img
                        .section-left_brand_description
                            h2.section-left_brand_description_title MANGO
                            p.section-left_brand_description_content Линия элегантной классики
                    .section-left_brand
                        .section-left_brand_photo
                            img(src='/assets/images/header/photo2.png').section-left_brand_photo_img
                        .section-left_brand_description
                            h2.section-left_brand_description_title CAMBIO
                            p.section-left_brand_description_content Для тех, кто ценит оригинальный стиль
        li.center-nav_unit-without-sub-menu
            a(href='#').center-nav_unit_link.center-nav_unit_link-padding Nemepik home
                img.center-nav_unit_link_icon(src='/assets/images/header/home-icon.svg')
    ul.right-nav
        li.right-nav_unit.right-nav_unit-search
            a(href='#').right-nav_unit_link.right-nav_unit_link-search
                img.right-nav_unit_link_icon(src='/assets/images/header/icon-search.svg')
        li.right-nav_unit
            a(href='#').right-nav_unit_link
                img.right-nav_unit_link_icon(src='/assets/images/header/icon-like.svg')
        li.right-nav_unit.right-nav_unit-basket
            a(href='#').right-nav_unit_link
                img.right-nav_unit_link_icon(src='/assets/images/header/icon-basket.svg')
            div.right-nav_unit_number 5
        li.right-nav_unit.right-nav_unit-sign-in.js-header-entrance-btn
            span.right-nav_unit_link Войти
        li.right-nav_unit.right-nav_unit-account.js-header-myaccount-btn
            span.right-nav_unit_link Мой аккаунт
            div.right-nav_unit_my-account.js-header-myaccount-menu
                ul.aside_menu
                    li.aside_menu_item
                        a(href='#').aside_menu_item_link.aside_menu_item_link-active Мои заказы
                    li.aside_menu_item
                        a(href='#').aside_menu_item_link Мои данные
                    li.aside_menu_item
                        a(href='#').aside_menu_item_link Мои купоны
                    li.aside_menu_item
                        a(href='#').aside_menu_item_link Избранное
                    li.aside_menu_item.aside_menu_item-sign-out
                        a(href='#').aside_menu_item_link Выход
                            img(src='/assets/images/header/sign-in.svg').aside_menu_item_link_icon
                            
div.search-field
    div.search-field_wrap
        input(type='text' placeholder='Поиск').search-field_field
        div.search-field_cls-btn
    ul.search-field_list
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill 
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill 
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill 
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill 
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill 
        li.search-field_list_item 
            a(href='').search-field_list_item_link
                img(src='/assets/images/header/bag.jpg').search-field_list_item_link_photo
                span.search-field_list_item_link_name MICHAEL Michael Kors - Клатч-бокс из сатина с отделкой стразами - 59.00&#8364;
                div.search-field_fill
        div.search-field_show-result 
            span.search-field_show-result_text Показать все результаты поиска
                

