extends layout
block content

    section.app_content

        section.help-simple


            div.catalog_breadcrumbs

                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Центр поддержки



            div.help-simple_content

                h2.help-simple_content_title Центр поддержки

                div.help-simple_content_article

                    div.help-simple_content_search-answer

                        input(type='text' placeholder='Есть вопрос? Найдите ответ').content_search-answer_field
                        button.content_search-answer_searchBtn Поиск

                    ul.help-simple_content_list.js-question-list
                        
                        li.help-simple_content_list_item.js-question-item
                            h2.content_sub-list_title.js-question-item-btn Доставка
                            ul.content_sub-list
                                li.content_sub-list_item

                                    p.content_sub-list_item_question Где я могу получить свой заказ?
                                    p.content_sub-list_item_answer Вы можете получить его по выбранному вами адресу (домашнему, рабочему и т.д., однако это не должен быть абонементный почтовый ящик).
                                li.content_sub-list_item

                                    p.content_sub-list_item_question Где я могу получить свой заказ?
                                    p.content_sub-list_item_answer Вы можете получить его по выбранному вами адресу (домашнему, рабочему и т.д., однако это не должен быть абонементный почтовый ящик).
                        
                        li.help-simple_content_list_item.js-question-item
                            h2.content_sub-list_title.js-question-item-btn Доставка
                            ul.content_sub-list
                                li.content_sub-list_item

                                    p.content_sub-list_item_question Где я могу получить свой заказ?
                                    p.content_sub-list_item_answer Вы можете получить его по выбранному вами адресу (домашнему, рабочему и т.д., однако это не должен быть абонементный почтовый ящик).
                                li.content_sub-list_item

                                    p.content_sub-list_item_question Где я могу получить свой заказ?
                                    p.content_sub-list_item_answer Вы можете получить его по выбранному вами адресу (домашнему, рабочему и т.д., однако это не должен быть абонементный почтовый ящик).
                form.help-simple_content_form
                    h2.help-simple_content_form_title У вас остались вопросы?
                    input(type='text' placeholder='Ваша электронная почта').help-simple_form_content.js-question-input
                    textarea(placeholder='Оставьте нам сообщение').help-simple_form_content.help-simple_form_content-comment
                    button.help-simple_form_content.help-simple_form_content-btn.js-question-submit Отправить

    script.
        var pageName = 'HelpPage';