extends layout
block content

    section.home-subscribe

        img(src='/assets/images/home-subscribe/home-subscribe-bgr.jpg').home-subscribe_background

        div.home-subscribe_for-subscribe


            h2.home-subscribe_for-subscribe_title ВСЕ ДЛЯ УЮТА

            p.home-subscribe_for-subscribe_description ПОДПИШИТЕСЬ, ЧТОБЫ НЕ ПРОПУСТИТЬ ЗАПУСК

            form.home-subscribe_for-subscribe_wrap

                input(type='text' placeholder='Ваша эл. почта').home-subscribe_for-subscribe_field.js-home-subscribe-input

                button.home-subscribe_for-subscribe_btn.js-home-subscribe-btn Подписаться
    
    script.
        var pageName = 'HomeSubscribePage';        