extends layout
block content

    section.home_page

        div.modal.js-home-subscribe-modal
            .modal_close-bgr.js-home-subscribe-close
            div.subscribe-modal_window
                h2.modal_window_title Спасибо
                button.modal_cls-btn.js-home-subscribe-close 
                p.subscribe-modal_window_description Вам на эл. почту отправлено письмо со ссылкой для подтверждения подписки. Eсли письмо не пришло, поищите его в папке со спамом или повторите подписку
        
        
        ul.slider#slider-home
            li.slider_slide.slider_slide-active
                a(href='#').slider_slide_link
                    img(src='/assets/images/home/main-photo.png').slider_slide_background
                    div.slider_slide_description
                        h1.slider_slide_description_title СЕЗОН 2017
                        p.slider_slide_description_content ЭТО НАЧАЛО УДИВИТЕЛЬНОГО ПУТЕШЕСТВИЯ, НАЧАЛО ВЕЧНОГО ЛЕТА
            li.slider_slide
                a(href='#').slider_slide_link
                    img(src='/assets/images/home/main-photo.png').slider_slide_background
                    div.slider_slide_description
                        h1.slider_slide_description_title СЕЗОН 2017
                        p.slider_slide_description_content ЭТО НАЧАЛО УДИВИТЕЛЬНОГО ПУТЕШЕСТВИЯ, НАЧАЛО ВЕЧНОГО ЛЕТА
            li.slider_slide
                a(href='#').slider_slide_link
                    img(src='/assets/images/home/main-photo.png').slider_slide_background
                    div.slider_slide_description
                        h1.slider_slide_description_title СЕЗОН 2017
                        p.slider_slide_description_content ЭТО НАЧАЛО УДИВИТЕЛЬНОГО ПУТЕШЕСТВИЯ, НАЧАЛО ВЕЧНОГО ЛЕТА
        
        
        div.logo-brands
            a(href='#').logo-brands_link
                img(src='/assets/images/home/brand-review.png').logo-brands_logo
            a(href='#').logo-brands_link
                img(src='/assets/images/home/brand-tommy-hilfiger.png').logo-brands_logo
            a(href='#').logo-brands_link
                img(src='/assets/images/home/brand-comma.png').logo-brands_logo
            a(href='#').logo-brands_link
                img(src='/assets/images/home/brand-marc-o-polo.png').logo-brands_logo
            a(href='#').logo-brands_link
                img(src='/assets/images/home/brand-cambio.png').logo-brands_logo
            a(href='#').logo-brands_link
                img(src='/assets/images/home/brand-wellensteyn.png').logo-brands_logo
        
        
        div.brands
            a(href='#').brands_link-wrap
                div.brands_link-wrap_content
                    div.brands_link-wrap_content-img
                        img(src='/assets/images/home/brand-photo1.png').brands_link-wrap_content_photo
                    h2.brands_link-wrap_content_title HUGO
                    p.brands_link-wrap_content_description Современная классика
            a(href='#').brands_link-wrap
                div.brands_link-wrap_content
                    div.brands_link-wrap_content-img    
                        img(src='/assets/images/home/brand-photo2.png').brands_link-wrap_content_photo
                    h2.brands_link-wrap_content_title THOMAS RATH
                    p.brands_link-wrap_content_description Эксклюзивно в нашем магазине
            a(href='#').brands_link-wrap  
                div.brands_link-wrap_content
                    div.brands_link-wrap_content-img    
                        img(src='/assets/images/home/brand-photo3.png').brands_link-wrap_content_photo
                    h2.brands_link-wrap_content_title THOMAS SABO
                    p.brands_link-wrap_content_description Новая коллекция
        
        
        div.news-subscribe
            div.news-subscribe_wrapper
                img(src='/assets/images/home/subscribe-photo.png').news-subscribe_wrapper_background
                img(src='/assets/images/home/subscribe-photo-small.png').news-subscribe_wrapper_background-small
                div.news-subscribe_wrapper_content
                    p.news-subscribe_wrapper_content_description СКИДКА 10%
                    p.news-subscribe_wrapper_content_description.news-subscribe_wrapper_content_description-other-font За подписку на наши новости
                    input(type='text' placeholder='Ваша эл.почта').news-subscribe_wrapper_content_field.js-home-subscribe-input
                    button.news-subscribe_wrapper_content_subscribe-btn.js-home-subscribe-btn <span>Подписаться</span>
        
        
        div.offers
            a(href='#').offers_link-wrap
                    img(src='/assets/images/home/brands-icon.svg').offers_link-wrap_icon
                    h2.offers_link-wrap_title ЭКСКЛЮЗИВНЫЕ БРЕНДЫ
                    p.offers_link-wrap_offer В Москве и 60 других крупных городах России вы получите свой заказ уже на следующий день!
            a(href='#').offers_link-wrap
                    img(src='/assets/images/home/delivery-icon.svg').offers_link-wrap_icon
                    h2.offers_link-wrap_title БEСПЛАТНАЯ СТАНДАРТНАЯ ДОСТАВКА
                    p.offers_link-wrap_offer В Москве и 60 других крупных городах России вы получите свой заказ уже на следующий день!
            a(href='#').offers_link-wrap   
                    img(src='/assets/images/home/offers-icon.svg').offers_link-wrap_icon
                    h2.offers_link-wrap_title ЕЖЕДНЕВНЫЕ СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ
                    p.offers_link-wrap_offer Вы можете оплатить покупки любыми банковскими картами, а также с помощью Paypal
        
        
        div.about
            h2.about_heading Компания Nemepik - это качественная брендовая одежда по лучшей цене.
            div.about_envelope
                h2.about_envelope_title Выбор одежды
                p.about_envelope_description В интернет-магазине одежды Elegant.ru каждый может выбрать и купить одежду или аксессуары в пару кликов, у нас вы найдете постоянно обновляемый ассортимент, доступные цены и заманчивые предложения. В каталоге интернет-магазина elegant.ru более 70 брендов мужской и женской одежды и аксессуаров разных ценовых категорий, всего более 3 000 товаров. 
                h2.about_envelope_title Обмен или возврат
                p.about_envelope_description Вы можете вернуть или поменять любой товар абсолютно бесплатно.
            div.about_envelope
                h2.about_envelope_title Помощь с размером
                p.about_envelope_description В таблице размеров можно без труда определить свой размер. Тем не менее, не бойтесь ошибиться с размером и цветом — одежду можно бесплатно примерить у себя дома и вернуть то, что вам не подошло. Оплачивайте только то, что вам понравилось.
                h2.about_envelope_title Доставка и оплата
                p.about_envelope_description Наша служба доставки работает во всех крупнейших городах России. Срок доставки от одного до четырех дней. Вы можете оплатить покупки не только наличными, но и банковскими картами. У всех курьеров при себе имеется терминал для оплаты картами.


    script.
        var pageName = 'HomePage';
        
