doctype html
html(lang="ru-RU")
    head
        title Nemepik
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet", href="/style.bundle.css")
        
    body.body

        section.app_wrap  


            include header

            block content

            include footer


        script(src="/assets/jquery.js")

        script(src="/assets/jquery.slimscroll.js")

        script(src="/script.bundle.js")