extends layout
block content

    section.app_content

        section.account_page

            div.catalog_breadcrumbs

                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Мой аккаунт
            

            div.my-account

                h2.my-account_title Мой аккаунт

                div.my-account_aside

                    ul.aside_menu
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link.aside_menu_item_link-active Мои заказы
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои данные
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Мои купоны
                        li.aside_menu_item
                            a(href='#').aside_menu_item_link Избранное


                div.my-account_main

                    div.my-account_orders

                        ul.account_menu_list
                            li.account_menu_list_item.js-account-list-select(open="active") Активные
                            li.account_menu_list_item.js-account-list-select(open="archive") В архиве

                        div.my-account_orders_goods.js-account-list-view(list="active")

                            div.my-account_orders_goods_empty
                                p.my-account_orders_goods_empty_description У вас пока нет активных заказов. Посмотрите в <a href='#' class='my-account_orders_goods_empty_description_link'>архиве</a> или перейдите к <a href='#' class='my-account_orders_goods_empty_description_link'>покупкам</a>.
                            
                            
                            div.my-account_orders_goods_order.my-account_orders_goods_order-active 
                                
                                div.goods_order_identifier
                                    p.goods_order_identifier_order-number Заказ №<span class='.goods_order_identifier_order-number_number'>31274963</span>
                                    p.goods_order_identifier_time от <span class='goods_product_identifier_time_date'>1 июля 2017</span>
                                
                                div.goods_order_pointers
                                    p.goods_order_pointers_content Товары в заказе
                                    p.goods_order_pointers_content Общая стоимость
                                    p.goods_order_pointers_content Статус

                                div.goods_order_description
                                    p.goods_order_description_name Спортивные брюки Nike <a href='#' class='goods_order_description_name_goods-amount'><span class='goods_order_description_name_goods-amount_number'>4</span> товара</a>
                                    p.goods_order_description_sum-price <span class='goods_order_description_sum-price_number'>3 490</span> руб
                                    p.goods_order_description_status Собирается на складе


                        div.my-account_orders_goods.js-account-list-view(list="archive")
                            div.my-account_orders_goods_empty.my-account_orders_goods_order-active 
                                p.my-account_orders_goods_empty_description В архиве находятся все выполненные заказы
                            
                            div.my-account_orders_goods_order.my-account_orders_goods_order-active

                                div.goods_order_identifier
                                    p.goods_order_identifier_order-number Заказ №<span class='.goods_order_identifier_order-number_number'>31274963</span>
                                    p.goods_order_identifier_time от <span class='goods_product_identifier_time_date'>1 июля 2017</span>
                                
                                div.goods_order_pointers
                                    p.goods_order_pointers_content Товары в заказе
                                    p.goods_order_pointers_content Общая стоимость
                                    p.goods_order_pointers_content Статус

                                div.goods_order_description
                                    p.goods_order_description_name Спортивные брюки Nike <a href='#' class='goods_order_description_name_goods-amount'><span class='goods_order_description_name_goods-amount_number'>4</span> товара</a>
                                    p.goods_order_description_sum-price <span class='goods_order_description_sum-price_number'>3 490</span> руб
                                    p.goods_order_description_status Собирается на складе   



                    div.catalog_clothes
                        h2.catalog_clothes_title Выгодные предложения специально для вас
                        ul.clothes_list.clothes_list-productPage.clothes_list-account-page
                            li.clothes_list_item
                                div.clothes_list_item_wrap
                                    button.clothes_like
                                    div.clothes_new 
                                        p.clothes_new_content new
                                    div.clothes_discount 
                                        p.clothes_discont_content 75%
                                    img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                    p.clothes_name Swing
                                    p.clothes_description Качели вечернее платье с кружевом
                                    div.clothes_prices
                                        p.clothes_prices_price 14 340 ₽
                            li.clothes_list_item.clothes_list_item-new
                                div.clothes_list_item_wrap
                                    button.clothes_like
                                    div.clothes_new 
                                        p.clothes_new_content new
                                    div.clothes_discount 
                                        p.clothes_discont_content 75%
                                    img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                    p.clothes_name Swing
                                    p.clothes_description Качели вечернее платье с кружевом
                                    div.clothes_prices
                                        p.clothes_prices_price 14 340 ₽
                            li.clothes_list_item.clothes_list_item-discount
                                div.clothes_list_item_wrap
                                    button.clothes_like
                                    div.clothes_new 
                                        p.clothes_new_content new
                                    div.clothes_discount 
                                        p.clothes_discont_content 75%
                                    img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                    p.clothes_name Swing
                                    p.clothes_description Качели вечернее платье с кружевом
                                    div.clothes_prices
                                        p.clothes_prices_new-price 14 340 ₽
                                        p.clothes_prices_price 14 340 ₽
                            li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                                div.clothes_list_item_wrap
                                    button.clothes_like
                                    div.clothes_new 
                                        p.clothes_new_content new
                                    div.clothes_discount 
                                        p.clothes_discont_content 75%
                                    img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                    p.clothes_name Swing
                                    p.clothes_description Качели вечернее платье с кружевом
                                    div.clothes_prices
                                        p.clothes_prices_price 14 340 ₽
                            li.clothes_list_item
                                div.clothes_list_item_wrap
                                    button.clothes_like
                                    div.clothes_new 
                                        p.clothes_new_content new
                                    div.clothes_discount 
                                        p.clothes_discont_content 75%
                                    img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                                    p.clothes_name Swing
                                    p.clothes_description Качели вечернее платье с кружевом
                                    div.clothes_prices
                                        p.clothes_prices_price 14 340 ₽


    script.
        var pageName = 'MyAccountPage';