extends layout
block content

    section.app_content

        section.offer-page

            div.catalog_breadcrumbs

                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Публичная оферта

            div.offer-page_content
                
                h2.offer-page_content_title Публичная оферта

                div.offer-page_content_wrap

                    h2.offer-page_content_heading Основные понятия
                    p.offer-page_content_description Вы можете получить его по выбранному вами адресу (домашнему, рабочему и т.д., однако это не должен быть абонементный почтовый Посетитель Сайта — лицо, пришедшее на сайт http://www.lamoda.ru без цели размещения Заказа.

    script.
        var pageName = 'OfferPage';