extends layout
block content

    section.app_content

        section.ordering_page

            div.modal
                div.issued-order
                    h2.modal_window_title Заказ оформлен!
                    button.modal_cls-btn

                    div.issued-order_description
                        p.issued-order_description_content Спасибо за покупку!
                        p.issued-order_description_content Наш менеджер обязательно свяжется с вами в ближайшее время.
                        p.issued-order_description_content В благодарность за заказ дарим вам промокод на следующую покупку:
                        p.issued-order_description_number R45RRY8P4

            div.modal
                div.modal_buy-coupon
                    h2.modal_window_title Купить купон
                    button.modal_cls-btn
                    div.modal_buy-coupon_coupon
                        div.modal_buy-coupon_coupon_wrap
                            p.modal_buy-coupon_coupon_number Купон №088P
                            p.modal_buy-coupon_coupon_date от 18 февраля 2017 
                        div.modal_buy-coupon_coupon_wrap
                            p.modal_buy-coupon_coupon_price 14 457 ₽
                    form.modal_buy-coupon_form
                        div.buy-coupon_pay-methods

                            label.buy-coupon_pay-methods_wrap

                                input(type='radio' name='buy-coupon_payMethod').buy-coupon_pay-methods_check-method
                                div.buy-coupon_pay-methods_for-check-method
                                p.buy-coupon_pay-methods_name PayPal

                            label.buy-coupon_pay-methods_wrap

                                input(type='radio' name='buy-coupon_payMethod').buy-coupon_pay-methods_check-method
                                div.buy-coupon_pay-methods_for-check-method
                                p.buy-coupon_pay-methods_name Visa / Mastercard / Мир

                            label.buy-coupon_pay-methods_wrap

                                input(type='radio' name='buy-coupon_payMethod').buy-coupon_pay-methods_check-method
                                div.buy-coupon_pay-methods_for-check-method
                                p.buy-coupon_pay-methods_name Webmoney
                        
                        button.modal_buy-coupon_btn Оплатить

            div.modal
                div.modal_sign-in.window-active
                    h2.modal_window_title Чтобы купить купон, необходимо войти или зарегистрироваться
                    button.modal_cls-btn

                    form.registration_sign-in_form

                        input(type='text' placeholder='Эл. почта').registration_sign-in_field
                        label.registration_sign-in_wrap
                            input(type='checkbox').registration_sign-in_check
                            div.registration_sign-in_for-check
                            p.registration_sign-in_description Подписаться на новости и скидки
                        input(type='text' placeholder='Пароль').registration_sign-in_field
                        input(type='text' placeholder='Имя').registration_sign-in_field
                        label.registration_sign-in_wrap
                            input(type='checkbox').registration_sign-in_check
                            div.registration_sign-in_for-check
                            p.registration_sign-in_description Я согласен с <a href='#' class='registration_sign-in_offer-link'>офертой</a>
                        button.registration_sign-in_sign-up-btn Зарегистрироваться
                        div.ordering_order-product_form_other-sources
                            p.form_other-sources_description или войти через
                            a(href='#').form_other-sources_link.form_other-sources_link-vk
                            a(href='#').form_other-sources_link.form_other-sources_link-fb

                        button.registration_sign-in_sign-ip-btn Войти
                        

            div.catalog_breadcrumbs

                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Оформление заказа
            
            div.ordering_orders
                h2.ordering_orders_title Оформление заказа
                
                div.ordering_orders_nav
                    div.orders_nav_total
                        p.ordering_orders_content <span class='orders_nav_total_number'>5</span> товаров
                            
                    div.orders_nav_amount
                        P.ordering_orders_content Количество
                    div.orders_nav_price
                        P.ordering_orders_content Цена
                div.ordering_orders_product
                    div.orders_product_image
                        img(src='/assets/images/product-view/product-photo1.png').orders_product_image_photo
                    div.orders_product_description
                        p.ordering_orders_content.orders_product_description_name Зимняя куртка Colmar Originals
                        p.ordering_orders_content.orders_product_description_one-size Один размер
                        p.ordering_orders_content.orders_product_description_size Размер: <span class='orders_product_size'>M</span>
                        p.ordering_orders_content.orders_product_description_presence В наличии <span class='orders_product_quantity'>2</span> шт.
                    div.orders_product_count.js-product-counter
                        div.orders_product_count_btn.orders_product_count_btn-minus.js-product-counter-minus
                        input(type='text' value='1' readonly).orders_product_count_field.ordering_orders_content.js-product-counter-input
                        div.orders_product_count_btn.orders_product_count_btn-plus.js-product-counter-plus
                    div.orders_product_price
                        p.ordering_orders_content.orders_product_price_old <span class='orders_product_price_sum'>14 400</span> ₽
                        p.ordering_orders_content.orders_product_price_new <span class='orders_product_price_sum'>10 000</span> ₽
                        button.orders_product_price_delete <span class='orders_product_price_delete_content'>Удалить</span>
                div.ordering_orders_product
                    div.orders_product_image
                        img(src='/assets/images/product-view/product-photo1.png').orders_product_image_photo
                    div.orders_product_description
                        p.ordering_orders_content.orders_product_description_name Хлопковый шарф Polo Ralph Lauren
                        p.ordering_orders_content.orders_product_description_one-size Один размер
                        p.ordering_orders_content.orders_product_description_size Размер: <span class='orders_product_size'>38</span>
                        p.ordering_orders_content.orders_product_description_presence В наличии <span class='orders_product_quantity'>2</span> шт.
                    div.orders_product_count.js-product-counter
                        div.orders_product_count_btn.orders_product_count_btn-minus.js-product-counter-minus
                        input(type='text' value='1' readonly).orders_product_count_field.ordering_orders_content.js-product-counter-input
                        div.orders_product_count_btn.orders_product_count_btn-plus.js-product-counter-plus
                    div.orders_product_price
                        p.ordering_orders_content.orders_product_price_old <span class='orders_product_price_sum'>4 199</span> ₽
                        p.ordering_orders_content.orders_product_price_new <span class='orders_product_price_sum'>10 000</span> ₽
                        button.orders_product_price_delete <span class='orders_product_price_delete_content'>Удалить</span>
                div.ordering_orders_product
                    div.orders_product_image
                        img(src='/assets/images/product-view/product-photo2.png').orders_product_image_photo
                    div.orders_product_description
                        p.ordering_orders_content.orders_product_description_name Платье с художественными узорами Christian Berg Платье с художественными узорами Christian Berg
                        p.ordering_orders_content.orders_product_description_one-size Один размер
                        p.ordering_orders_content.orders_product_description_size Размер: <span class='orders_product_size'>42</span>
                        p.ordering_orders_content.orders_product_description_presence В наличии <span class='orders_product_quantity'>1</span> шт.
                    div.orders_product_count.js-product-counter
                        div.orders_product_count_btn.orders_product_count_btn-minus.js-product-counter-minus
                        input(type='text' value='1' readonly).orders_product_count_field.ordering_orders_content.js-product-counter-input
                        div.orders_product_count_btn.orders_product_count_btn-plus.js-product-counter-plus
                    div.orders_product_price
                        p.ordering_orders_content.orders_product_price_old <span class='orders_product_price_sum'>32 540</span> ₽
                        p.ordering_orders_content.orders_product_price_new <span class='orders_product_price_sum'>10 000</span> ₽
                        button.orders_product_price_delete <span class='orders_product_price_delete_content'>Удалить</span>
                div.ordering_orders_product
                    div.orders_product_image
                        img(src='/assets/images/product-view/product-photo3.png').orders_product_image_photo
                    div.orders_product_description
                        p.ordering_orders_content.orders_product_description_name Платье со всеми над рисунком Apricot
                        p.ordering_orders_content.orders_product_description_one-size Один размер
                        p.ordering_orders_content.orders_product_description_size Размер: <span class='orders_product_size'>XXL</span>
                        p.ordering_orders_content.orders_product_description_presence В наличии <span class='orders_product_quantity'>2</span> шт.
                    div.orders_product_count.js-product-counter
                        div.orders_product_count_btn.orders_product_count_btn-minus.js-product-counter-minus
                        input(type='text' value='1' readonly).orders_product_count_field.ordering_orders_content.js-product-counter-input
                        div.orders_product_count_btn.orders_product_count_btn-plus.js-product-counter-plus
                    div.orders_product_price
                        p.ordering_orders_content.orders_product_price_old <span class='orders_product_price_sum'>10 000</span> ₽
                        p.ordering_orders_content.orders_product_price_new <span class='orders_product_price_sum'>10 000</span> ₽
                        button.orders_product_price_delete <span class='orders_product_price_delete_content'>Удалить</span>
                div.ordering_orders_product
                    div.orders_product_image
                        img(src='/assets/images/product-view/product-photo4.png').orders_product_image_photo
                    div.orders_product_description
                        p.ordering_orders_content.orders_product_description_name Туфли на высоких каблуках с кружевами Glamorous
                        p.ordering_orders_content.orders_product_description_one-size Один размер
                        p.ordering_orders_content.orders_product_description_size Размер: <span class='orders_product_size'>38</span>
                        p.ordering_orders_content.orders_product_description_presence В наличии <span class='orders_product_quantity'>2</span> шт.
                    div.orders_product_count.js-product-counter
                        div.orders_product_count_btn.orders_product_count_btn-minus.js-product-counter-minus
                        input(type='text' value='1' readonly).orders_product_count_field.ordering_orders_content.js-product-counter-input
                        div.orders_product_count_btn.orders_product_count_btn-plus.js-product-counter-plus
                    div.orders_product_price
                        p.ordering_orders_content.orders_product_price_old <span class='orders_product_price_sum'>6 700</span> ₽
                        p.ordering_orders_content.orders_product_price_new <span class='orders_product_price_sum'>3 456</span> ₽
                        button.orders_product_price_delete <span class='orders_product_price_delete_content'>Удалить</span>
            
            div.ordering_order-product
                div.ordering_order-product_titles
                    .ordering_order-product_title.js-order-select(open="1") Я новый покупатель
                    .ordering_order-product_title.js-order-select(open="2") Я постоянный клиент Nemepik
                    
                
                form.ordering_order-product_form.js-order-form(form="1")
                    div.order-product_form_fields.order-product_form_fields-padding
                        div.order-product_form_delivery
                            p.ordering_orders_content Доставка
                        div.order-product_form_btns
                            label.order-product_form_btns_wrap
                                input(type='radio' name='shipping_method_code' checked).order-product_form_check
                                div.order-product_form_for-check
                                p.ordering_orders_content Курьером до двери
                            label.order-product_form_btns_wrap
                                input(type='radio' name='shipping_method_code').order-product_form_check
                                div.order-product_form_for-check
                                p.ordering_orders_content Почтой
                        div.order-product_form_delivery-price
                            p.ordering_orders_content <span class='form_delivery-price_price'>450</span> руб
                            p.ordering_orders_content <span class='form_delivery-price_price'>Бесплатно</span>
                    h2.ordering_orders_content.ordering_order-product_form_heading Куда доставить заказ
                    div.order-product_form_fields
                        div.order-product_form_fields_wrap
                            input(type='text').order-product_form_fields_field.order-product_form_fields_field-padding
                            p.order-product_form_fields_description Страна
                        div.order-product_form_fields_wrap 
                            input(type='text').order-product_form_fields_field.order-product_form_fields_field-padding
                            p.order-product_form_fields_description Город
                    div.order-product_form_fields
                        input(type='text' placeholder='Почтовый индекс').order-product_form_fields_field   
                    div.order-product_form_fields
                        input(type='text' placeholder='Улица').order-product_form_fields_field  
                        input(type='text' placeholder='Дом').order-product_form_fields_field.order-product_form_fields_field-width
                        input(type='text' placeholder='кв./офис').order-product_form_fields_field.order-product_form_fields_field-width
                    div.order-product_form_fields.order-product_form_fields-margin
                        textarea(placeholder='Комментарий курьеру').order-product_form_fields_field.order-product_form_fields_field-comment
                    
                    
                    h2.ordering_orders_content.ordering_order-product_form_heading Кому доставить заказ
                    div.order-product_form_fields
                        input(type='text' placeholder='Имя и фамилия').order-product_form_fields_field
                        input(type='text' placeholder='Моб. телефон').order-product_form_fields_field
                    div.order-product_form_fields.order-product_form_fields-margin2
                        div.order-product_form_fields_wrap.order-product_form_fields_wrap-width
                            input(type='text' placeholder='Эл. почта').order-product_form_fields_field
                            p.order-product_form_fields_description.order-product_form_fields_description-position Электронная почта будет использоваться как логин<br>для входа в личный кабинет
                    div.order-product_form_fields.order-product_form_fields-margin
                        div.order-product_form_fields_wrap.order-product_form_fields_wrap-width
                            input(type='text' placeholder='Пароль').order-product_form_fields_field
                            p.order-product_form_fields_description.order-product_form_fields_description-position Придумайте пароль, для отслеживания<br>заказа через личный кабинет
                    h2.ordering_orders_content.ordering_order-product_form_heading Оплатить заказ
                    div.order-product_form_fields
                        input(type='text' placeholder='Промокод').order-product_form_fields_field.order-product_form_fields_field-promo-code
                        button.order-product_form_fields_apply Применить
                    div.order-product_form_fields.order-product_form_fields-in-total
                        div.order-product_form_btns.order-product_form_btns-price-method
                            label.order-product_form_btns_wrap
                                input(type='radio' name='payment_method_code' checked).order-product_form_check
                                div.order-product_form_for-check
                                p.ordering_orders_content PayPal
                            label.order-product_form_btns_wrap
                                input(type='radio' name='payment_method_code').order-product_form_check
                                div.order-product_form_for-check
                                p.ordering_orders_content Visa / Mastercard / Мир
                            label.order-product_form_btns_wrap
                                input(type='radio' name='payment_method_code').order-product_form_check
                                div.order-product_form_for-check
                                p.ordering_orders_content Webmoney
                            label.order-product_form_btns_wrap.order-product_form_btns_wrap-with-coupon
                                input(type='radio' name='payment_method_code').order-product_form_check.order-product_form_check-coupon
                                div.order-product_form_for-check
                                .ordering_orders_content.order-product_form-coupon Использовать купон
                                    .ordering_orders_content-btn-to-list(onclick="document.querySelector('.order-product_form_btns_coupons').classList.toggle('order-product_form_btns_coupons--active')")
                                
                                div.order-product_form_btns_coupons
                                    a(href='#').order-product_form_btns_coupons_link <span class='form_coupon_amount'>60 000</span> ₽
                                    a(href='#').order-product_form_btns_coupons_link <span class='form_coupon_amount'>3 000</span> ₽
                                    a(href='#').order-product_form_btns_coupons_link <span class='form_coupon_amount'>3 000</span> ₽
                        div.order-product_form_total-price
                            p.order-product_form_total-price_designation.ordering_orders_content Сумма за товары
                            p.order-product_form_total-price_result.ordering_orders_content 76 260 ₽
                            p.order-product_form_total-price_designation.ordering_orders_content Стоимость доставки
                            p.order-product_form_total-price_result.ordering_orders_content бесплатно
                            p.order-product_form_total-price_designation.ordering_orders_content Скидка
                            p.order-product_form_total-price_result.ordering_orders_content 0 ₽
                            p.order-product_form_total-price_designation.ordering_orders_content Купон
                            p.order-product_form_total-price_result.ordering_orders_content - 14 457 ₽
                            p.order-product_form_total-price_in-total.order-product_form_total-price_in-total-text-align Итого 
                            p.order-product_form_total-price_in-total
                                <span class='order-product_form_total-price_sum'>61 260</span> ₽
                    div.order-product_form_fields.order-product_form_fields-margin.order-product_form_fields-buy-coupon.order-product_form_fields-none
                        //появляется если сумма превышает 1000 евро
                        p.order-product_form_buy-coupon Сумма за товары превышает €1000, чтобы избежать пошлины, рекомендуем вам приобрести купон в нашем магазине, который позволяет оплатить до 50% стоимости покупки. Подробности в 
                            a(href='#').order-product_form_buy-coupon_link личном кабинете.
                        p.order-product_form_conditions Нажимая на кнопку «Офоомить заказ», вы принимаете условия <a href='#' class='order-product_form_conditions_link'>Публичной оферты</a>
                        button.order-product_form_buy-btn Купить купон
                        button.order-product_form_place-an-order Оформить заказ
                    div.order-product_form_fields.order-product_form_fields-margin
                        //если сумма превышает 1000 евро исчезает с помощью класса .order-product_form_fields-none
                        p.order-product_form_conditions Нажимая на кнопку «Офоомить заказ», вы принимаете<br>условия <a href='#' class='order-product_form_conditions_link'>Публичной оферты</a>
                        button.order-product_form_place-an-order Оформить заказ
                
                
                form.ordering_order-product_form.ordering_order-product_form-sign-in.js-order-form(form="2")
                    input(type='text' placeholder='Эл. почта').ordering_order-product_form_account
                    div.ordering_order-product_form_password
                        input(type='text' placeholder='Пароль').ordering_order-product_form_account.ordering_order-product_form_account-padding
                        a(href='#').ordering_order-product_form_forgot-password Забыли пароль?
                    button.ordering_order-product_form_sign-in-btn.ordering_order-product_form_sign-in-btn-clicked Войти
                    div.ordering_order-product_form_other-sources
                        p.form_other-sources_description или войти через
                        a(href='#').form_other-sources_link.form_other-sources_link-vk
                        a(href='#').form_other-sources_link.form_other-sources_link-fb


    script.
        var pageName = 'OrderingPage';