extends layout
block content

    section.app_content

        section.product-view_page


            .modal.js-subscribe-product-receipts
                .modal_close-bgr.js-subscribe-product-receipts-close
                form.modal_out-of-stock.js-subscribe-product-receipts-form
                    h2.modal_window_title Узнать о поступлении товара
                    button.modal_cls-btn.js-subscribe-product-receipts-close
                    p.modal_out-of-stock_description К сожалению, данного размера сейчас нет в наличии. Мы вас уведомим, как только он появиться.
                    ul.dropdown_selection_list
                        li.dropdown_selection_list_item
                            label.dropdown_selection_input-wrap
                                input(type='checkbox').dropdown_selection_checked
                                div.dropdown_selection_for-checked
                                p.dropdown_selection_description 44
                        li.dropdown_selection_list_item
                            label.dropdown_selection_input-wrap
                                input(type='checkbox').dropdown_selection_checked
                                div.dropdown_selection_for-checked
                                p.dropdown_selection_description 44
                        li.dropdown_selection_list_item
                            label.dropdown_selection_input-wrap
                                input(type='checkbox').dropdown_selection_checked
                                div.dropdown_selection_for-checked
                                p.dropdown_selection_description 44
                        li.dropdown_selection_list_item
                            label.dropdown_selection_input-wrap
                                input(type='checkbox').dropdown_selection_checked
                                div.dropdown_selection_for-checked
                                p.dropdown_selection_description 44
                    div.home-subscribe_for-subscribe_wrap
                        input(type='text' placeholder='Ваша эл. почта').home-subscribe_for-subscribe_field.js-subscribe-product-receipts-mail
                        button(type='submit').home-subscribe_for-subscribe_btn.js-subscribe-product-receipts-send Подписаться


            div.modal
                div.added-goods
                    h2.modal_window_title Товар добавлен в корзину
                    button.modal_cls-btn 

                    div.added-goods_product

                        div.added-goods_product_image
                            img(src='/assets/images/product-view/product-photo4.png').added-goods_product_image_photo
                        div.added-goods_product_description
                            p.added-goods_product_description_content.added-goods_product_description_content-name Платье с художественными узорами Christian Berg
                            p.added-goods_product_description_content Размер: 42 (RU)
                            p.added-goods_product_description_content.added-goods_product_description_content-availability В наличии 1 шт.
                            p.added-goods_product_description_content.added-goods_product_description_content-price 32 540 ₽
                        div.added-goods_product_see-more
                            p.added-goods_product_description_content И еще <a href='#' class='added-goods_product_description_link'>3 товара</a> 

                    div.added-goods_btns
                        button.added-goods_btns_btn.added-goods_btns_btn-continue Продолжить покупки
                        button.added-goods_btns_btn.added-goods_btns_btn-ordering Оформить заказ                 


            div.catalog_breadcrumbs

                ul.breadcrumbs_list
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Главная
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Женщинам
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Одежда
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Платья
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Длинные платья
                    li.breadcrumbs_list_item
                        a(href='#').breadcrumbs_list_item_link Платья с художественными узорами - темно - синий

            div.product-description

                div.product-description-wrap

                    h2.product-description-aside_name Christian Berg Woman Selection

                    p.product-description-aside_specification Платья с художественными узорами - темно - синий

                    p.product-description-aside_price 14 400 ₽

                
                div.product-description-aside

                    h2.product-description-aside_name Christian Berg Woman Selection

                    p.product-description-aside_specification Платья с художественными узорами - темно - синий

                    p.product-description-aside_price 14 400 ₽

                    ul.aside_color-list
                        li.aside_color-list_item
                            label.aside_color-list_item_wrap
                                input(type='radio' name='color').aside_color-list_item_check
                                div.aside_color-list_item_for-check
                        li.aside_color-list_item
                            label.aside_color-list_item_wrap
                                input(type='radio' name='color').aside_color-list_item_check
                                div.aside_color-list_item_for-check
                        li.aside_color-list_item
                            label.aside_color-list_item_wrap
                                input(type='radio' name='color').aside_color-list_item_check
                                div.aside_color-list_item_for-check
                        li.aside_color-list_item
                            label.aside_color-list_item_wrap
                                input(type='radio' name='color').aside_color-list_item_check
                                div.aside_color-list_item_for-check

                    div.aside_size-select
                        input(type='text' readonly placeholder="Выберите размер").aside_size-select_direction.js-product-view-size-select
                        div.size-select_dropdown.js-product-view-size-select-list
                            ul.size-select_dropdown_list
                                li.size-select_dropdown_list_item
                                    span.size-select_dropdown_list_link.js-product-view-size-select-item 42

                                li.size-select_dropdown_list_item.size-select_dropdown_list_item_not-available.js-subscribe-product-receipts-open
                                    span.size-select_dropdown_list_link 44
                                        span.size-select_link_not-available Узнать о поступлении

                                li.size-select_dropdown_list_item
                                    span.size-select_dropdown_list_link.js-product-view-size-select-item 46
                                li.size-select_dropdown_list_item
                                    span.size-select_dropdown_list_link.js-product-view-size-select-item 48
                                

                    div.product-description_links
                        a(href='#').product-description_links_content Подобрать размер
                        
                        a(href='#').product-description_links_content Таблица размеров

                    div.product-description_in-basket
                        button.product-description_in-basket_add В корзину

                        button.product-description_in-basket_liked.product-description_in-basket_liked-active
                
                div.product-description_gallery.js-product-slider
                    div.product-description_gallery_for-active-photo
                        img(src='/assets/images/product-view/product-photo1.png').product-description_gallery_photo.js-product-slider-full-img
                    ul.product-description_gallery_list
                        li.product-description_gallery_list_item.product-description_gallery_list_item-active
                            img(src='/assets/images/product-view/product-photo1.png').product-description_gallery_photo.js-product-slider-item
                        li.product-description_gallery_list_item
                            img(src='/assets/images/product-view/product-photo2.png').product-description_gallery_photo.js-product-slider-item
                        li.product-description_gallery_list_item
                            img(src='/assets/images/product-view/product-photo3.png').product-description_gallery_photo.js-product-slider-item
                        li.product-description_gallery_list_item   
                            img(src='/assets/images/product-view/product-photo4.png').product-description_gallery_photo.js-product-slider-item


                div.product-description_description
                    div.product-description_description_titles
                        .product-description_description_title.js-info-select(open="1") Описание 
                        .product-description_description_title.js-info-select(open='2') Информация о материалах
                    
                    div.product-description_description_info.js-info-window(window="1")
                        
                        div.product-description_description_wrap
                            div.product-description_description_info_brand-description
                                h2.product-description_description_info_title.product-description_description_info_title-brand-description Christian Berg
                                p.product-description_description_info_content Бренд из Германии, который сочетает в себе первоклассную элегантность со спортивным стилем. Отдых загородом, семейные посиделки у камина, пуловер, наброшенный на плечи  – тот стиль жизни, для которого создает свою одежду CHRISTIAN BERG. Стиль Casual от Christian Berg - это аналог дресс-кода современного классического тиля, который совмещает в себе комфорт и индивидуальность.  Все коллекции бренда производятся из лучших материалах на отборных европейских фабриках.
                            ul.product-description_description_info_list
                                h2.product-description_description_info_title.product-description_description_info_title-details Детали
                                li.product-description_description_info_content Мужская свет пуховик из Peuterey
                                li.product-description_description_info_content Прочный материал
                                li.product-description_description_info_content Прямой покрой
                                li.product-description_description_info_content Стоячий воротничок
                                li.product-description_description_info_content Двухсторонняя молния
                                li.product-description_description_info_content Два кармана на молнии на высоте груди
                                li.product-description_description_info_content Эластичные манжеты
                                li.product-description_description_info_content Два кармана с застежкой
                                li.product-description_description_info_content Вниз заполнения перьев
                            ul.product-description_description_info_list
                                h2.product-description_description_info_title.product-description_description_info_title-sizes Размеры
                                li.product-description_description_info_content Длина спинки для размера M: 62 см
                                li.product-description_description_info_content Плечо для размера M: 46 см
                                li.product-description_description_info_content Длина втулки в размере M: 65 см

                    div.product-description_description_info.js-info-window(window="2")
                        
                        div.product-description_description_wrap
                            ul.product-description_description_info_list.product-description_description_info_list-width
                                h2.product-description_description_info_title.product-description_description_info_title-material Материал 1: 92% хлопок, 6% Elastomultiester, 2% спандекс
                                li.product-description_description_info_content Нежный цикл стирки при 30 °
                                li.product-description_description_info_content Не отбеливать
                                li.product-description_description_info_content Нет сушилки
                                li.product-description_description_info_content Машинная стирка в холодной осторожны с глажением с паромами
                                li.product-description_description_info_content Limited Химчистка: перхлорэтилен, углеводороды допускается. Ограничение добавления влаги и / или механического напряжения и / или температур
                                li.product-description_description_info_content Прочный материал

                            
            div.catalog_clothes
                h2.catalog_clothes_title Посмотрите также
                ul.clothes_list.clothes_list-product-page
                    li.clothes_list_item
                        div.clothes_list_item_wrap
                            button.clothes_like
                            div.clothes_new 
                                p.clothes_new_content new
                            div.clothes_discount 
                                p.clothes_discont_content 75%
                            img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                            p.clothes_name Swing
                            p.clothes_description Качели вечернее платье с кружевом
                            div.clothes_prices
                                p.clothes_prices_price 14 340 ₽
                    li.clothes_list_item.clothes_list_item-new
                        div.clothes_list_item_wrap
                            button.clothes_like
                            div.clothes_new 
                                p.clothes_new_content new
                            div.clothes_discount 
                                p.clothes_discont_content 75%
                            img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                            p.clothes_name Swing
                            p.clothes_description Качели вечернее платье с кружевом
                            div.clothes_prices
                                p.clothes_prices_price 14 340 ₽
                    li.clothes_list_item.clothes_list_item-discount
                        div.clothes_list_item_wrap
                            button.clothes_like
                            div.clothes_new 
                                p.clothes_new_content new
                            div.clothes_discount 
                                p.clothes_discont_content 75%
                            img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                            p.clothes_name Swing
                            p.clothes_description Качели вечернее платье с кружевом
                            div.clothes_prices
                                p.clothes_prices_new-price 14 340 ₽
                                p.clothes_prices_price 14 340 ₽
                    li.clothes_list_item.clothes_list_item-new.clothes_list_item-liked
                        div.clothes_list_item_wrap
                            button.clothes_like
                            div.clothes_new 
                                p.clothes_new_content new
                            div.clothes_discount 
                                p.clothes_discont_content 75%
                            img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                            p.clothes_name Swing
                            p.clothes_description Качели вечернее платье с кружевом
                            div.clothes_prices
                                p.clothes_prices_price 14 340 ₽
                    li.clothes_list_item
                        div.clothes_list_item_wrap
                            button.clothes_like
                            div.clothes_new 
                                p.clothes_new_content new
                            div.clothes_discount 
                                p.clothes_discont_content 75%
                            img(src='/assets/images/catalog/clothes-photo.png').clothes_photo
                            p.clothes_name Swing
                            p.clothes_description Качели вечернее платье с кружевом
                            div.clothes_prices
                                p.clothes_prices_price 14 340 ₽    


    script.
        var pageName = 'ProductViewPage';