.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.6);
    z-index: 101;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 32px;

    &-active {
        display: flex;
    }

    &-quick-view {
        padding: 0;
    }
}

.registration_sign-in_form_wrap {
   position: relative;

    .registration_sign-in_password {
        position: absolute;
        top: 18px;
        right: 10px;
        font: 12px 'Asterisk', sans-serif;
        color: #9B9B9B;
        text-decoration: none;
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.modal_close-bgr {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: -1;
}


.subscribe-modal_window {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ffffff;
    width: 650px;
    height: auto;
    box-sizing: border-box;
    padding: 50px 60px;
    color: #323232;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 10;

    @media(max-width: 1023px) {
        padding: 30px 25px;
    }

    @media(max-width: 715px) {
        width: 100%;
    }
}

.modal_window_title {
    font: 24px/21px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: calc(100% - 40px);

    &-table-size{
        font: 16px 'Museo700',sans-serif;
    }

    @media(max-width: 1023px) {
        font-size: 18px;
    }
}

.modal_cls-btn  {
    border: none;
    outline: none;
    background: url('/dist/assets/images/clsBtn/clsBtn.png') 50% no-repeat;;
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-top: 3px;
}

.subscribe-modal_window_cls-btn:checked ~ .subscribe-modal {
    display: none;
}

.subscribe-modal_window_description {
    margin-top: 50px;
    width: 100%;
    font: 14px/21px 'Museo300';
    -webkit-font-smoothing: antialiased;

    @media(max-width: 1023px) {
        margin-top: 20px;
    }
}

.added-goods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 910px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 50px 70px;
    height: auto;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;

    @media(max-width: 1023px) {
        padding: 30px 25px;
    }
}

.added-goods_product {
    width: 100%;
    height: 140px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;

    @media(max-width: 1023px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .added-goods_product_image {
        width: 70px;
        height: 90px;

        &_photo {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .added-goods_product_description {
        width: calc(100% - 70px);
        height: 90px;
        box-sizing: border-box;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media(max-width: 1023px) {
            height: auto;
            padding: 0;
        }

        &_content {
            font: 14px/21px 'Museo300', sans-serif;
            color: #323232;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            width: 80%;
            white-space: nowrap;
            

            &-availability {
                color: #EC0029;
            }

            &-price {
                width: 20%;
                text-align: right;

                @media(max-width: 1023px) {
                    text-align: left;
                }
            }

            &-name {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @media(max-width: 1023px) {
                width: 100%;
            }
        }
    }

    .added-goods_product_see-more {
        width: 100%;
        height: calc(100% - 90px);
        box-sizing: border-box;
        padding: 20px 0 0 10px;

        .added-goods_product_description_link {
            color: #323232;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.added-goods_btns {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media(max-width: 660px) {
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.added-goods_btns_btn {
    height: 50px;
    width: 30%;
    outline: none;
    cursor: pointer;
    font: 16px/21px 'Museo300', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    transition: .2s;

    @media(max-width: 660px) {
        width: 100%;
        max-width: 230px;
    }

    &-continue {
        background: #ffffff;
        border: 1px solid #000000;
        color: #323232;

        @media(max-width: 660px) {
            margin-bottom: 10px;
        }

        &:hover {
            border-color: #BDBDBD;
        }
    }

    &-ordering {
        background: #000000;
        color: #ffffff;
        border: none;

        &:hover {
            background: #BDBDBD;
        }
    }
}

.issued-order {
    width: 650px;
    box-sizing: border-box;
    padding: 50px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;

    @media(max-width: 1023px) {
        padding: 30px 25px;
    }
}

.issued-order_description {
    width: 100%;
    height: auto;
    margin-top: 50px;

    &_content {
        width: 100%;
        font: 16px/21px 'Museo300', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:nth-of-type(2) {
            margin-bottom: 20px;
        }
    }

    &_number {
        width: 100%;
        margin-top: 30px;
        font: 24px 'Museo500', sans-serif;
        color: #000000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }
}



.modal_buy-coupon {
    width: 480px;
    box-sizing: border-box;
    padding: 50px 90px 50px 80px;
    background: #ffffff;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    position: relative;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;

    @media(max-width: 1023px) {
        padding: 30px 25px;
    }

    .modal_cls-btn {
        position: absolute;
        top: 50px;
        right: 50px;

        @media(max-width: 1023px) {
            position: static;
        }
    }
}


.modal_buy-coupon_coupon {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;

    @media(max-width: 1023px) {
        border: none;
        flex-direction: column;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &_wrap {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(max-width: 1023px) {
            width: 100%;
            height: auto;
        }
    }

    .modal_buy-coupon_coupon_number {
        font: 16px/21px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;
    }

    .modal_buy-coupon_coupon_date {
        font: 16px/21px 'Museo500', sans-serif;
        color: #9B9B9B;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;
    }

    .modal_buy-coupon_coupon_price {
        font: 24px/21px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;
        text-align: right;

        @media(max-width: 1023px) {
            text-align: left;
            margin-top: 5px;
        }
    }
}

.modal_buy-coupon_form {
    width: 100%;
}

.modal_buy-coupon_btn {
    height: 50px;
    width: 100%;
    background: #000000;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font: 16px/21px 'Museo300', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    transition: .2s;

    &:hover {
        background: #BDBDBD;
    }
}


.modal_sign-in {
    width: 520px;
    box-sizing: border-box;
    padding: 40px 65px 0 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ffffff;
    position: relative;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;

    @media(max-width: 1023px) {
        padding: 30px 25px 0;
    }
}

.quick-view {
    background: #ffffff;
    box-sizing: border-box;
    max-width: calc(100vw - 64px);
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 10;

    .modal_cls-btn {
        position: absolute;
        top: 50px;
        right: 50px;

        @media(max-width: 1023px) {
            top: 30px;
            right: 40px;
        }
    }

    

    .product-description {
        box-sizing: border-box;
        padding: 150px 50px 50px;

        .product-description-aside {

            @media(max-width: 1023px) {
                margin-bottom: 30px;
            }
        }

        .product-description_see-more {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            order: 1;

            &_btn {
                width: 200px;
                height: 100%;
                background: #ffffff;
                box-sizing: border-box;
                outline: none;
                border: 1px solid #323232;
                font: 16px/21px 'Museo300', sans-serif;
                color: #323232;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    border-color: #BDBDBD;
                }

                @media(max-width: 660px) {
                    width: 100%;
                }
            }
        }

        .product-description-wrap {
            padding: 0;
        }

        @media(max-width: 1023px) {
            padding: 70px 40px 40px;
        }
    }
}

.modal_notification {
    display: flex;
    width: 650px;
    justify-content: space-between;
    background: #ffffff;
    box-sizing: border-box;
    padding: 40px 50px;
    flex-wrap: wrap;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;

    @media(max-width: 1023px) {
        padding: 30px;
    }
}

.modal_notification_description {
    width: 100%;
    font: 16px/21px 'Museo300', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #323232;

    &:first-of-type {
        margin-top: 50px;

        @media(max-width: 1023px) {
            margin-top: 20px
        }
    }

    
}

.modal_out-of-stock {
    width: 590px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 60px;
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &_description {
        font: 16px/21px 'Museo300', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-top: 40px;

        @media(max-width: 1023px) {
            margin-top: 20px
        }
    }

    @media(max-width: 1023px) {
        padding: 30px;
    }

    .dropdown_selection_list {
        padding: 0;
        margin-bottom: 30px;
    }

    .home-subscribe_for-subscribe_wrap {
        box-shadow: none;
        width: 100%;
        height: 50px;
    }

    .home-subscribe_for-subscribe_field {
        border: 1px solid #BDBDBD;
        border-right: none;
        width: 70%;

        @media(max-width: 490px) {
            width: 55%;
        }
    }

    .home-subscribe_for-subscribe_btn {
        width: 30%;

        @media(max-width: 490px) {
            width: 45%;
        }
    }

}

.registration_sign-in_form_wrap {
    position: relative;

    .registration_sign-in_password {
        position: absolute;
        top: 18px;
        right: 10px;
        font: 12px 'Asterisk', sans-serif;
        color: #9B9B9B;
        text-decoration: none;
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.size-table {
    max-width: 930px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #ffffff;
    max-height: calc(100vh - 120px);
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 30px 23px 30px 30px;
    -webkit-overflow-scrolling: touch;
    

    &::-webkit-scrollbar-track
    {
        background-color: #ffffff;
    }
    
    &::-webkit-scrollbar
    {
        width: 7px;
        background-color: #ffffff;
    }
    
    &::-webkit-scrollbar-thumb
    {
        background-color: #000000;
    }
}

.size-table_list {
    margin-top: 25px;
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    z-index: 1;

    &::-webkit-scrollbar-track
    {
        background-color: #ffffff;
    }
    
    &::-webkit-scrollbar
    {
        height: 7px;
        background-color: #ffffff;
    }
    
    &::-webkit-scrollbar-thumb
    {
        background-color: #000000;
    }
}

.size-table_list_line {
    width: 100%;
    height: 50px;
    min-width: 870px;

    &-columns-1 {
        min-width: 1110px;
    }

    &-columns-2 {
        min-width: 1110px;

        .line_sub-list_item {
            &:before {
                display: none;
            }
        }
    }

    &-columns-3 {

        .line_sub-list_item {
            &:before {
                display: none;
            }
        }
    }

    &-columns-4 {
        min-width: 990px;
    }

    &:nth-of-type(2n) {
        background: rgba(243,243,243,.4);
    }

    &:last-of-type {

        .line_sub-list_item {
            border-bottom: 1px solid #ebebeb;
        }
    }
    @media(min-width: 1024px) {
        &:hover:not(.size-table_list_line-other-line) {
            background: #d8d8d8;
        }
    }
}

.size-table_list_line_sub-list {
    width: 100%;
    display: flex;

    &-other-cells {

        .line_sub-list_item-other-item {

            &:first-of-type {
                width: 160px;
            }

            &:nth-of-type(2) {
                width: 95px;
                border-left: 1px solid #ebebeb;
            }

            &:nth-of-type(1n + 3) {
                width: 65px;
            }

            &:last-of-type {
                width: 420px;
            }
        }
    }

    &-other-cells-2 {
        
        .line_sub-list_item-other-item {

            &:first-of-type {
                width: 160px;
            }

            &:nth-of-type(2) {
                width: 95px;
                border-left: 1px solid #ebebeb;
            }

            &:nth-of-type(1n + 3) {
                width: 65px;
            }

            &:nth-of-type(1n + 6) {
                width: 70px;
            }
        }
    }

    &-other-cells-3 {
        .line_sub-list_item-title {
            width: 210px;
        }
    }

    &-other-cells-4 {
        .line_sub-list_item-title {
            width: 390px;
        }
    }

    &-other-cells-5 {
        .line_sub-list_item-title {
            width: 450px;
        }
    }

    &-other-cells-6 {
        .line_sub-list_item-title {
            width: 150px;
        }
    }
}

.line_sub-list_item {
    width: 60px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    font: 12px 'Museo700', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &-other-item-2 {
        width: 120px;
    }

    &-other-item-3 {
        width: 240px;
    }


    &-title {
        width: 270px;
        justify-content: flex-start;
        padding-left: 15px;
        letter-spacing: 1px;
    }

    &--double {
        padding-left: 0;
    }

    &:nth-of-type(2) {
        border-left: 1px solid #9d9d9d;
    }

    &:last-of-type {
        border-right: 1px solid #ebebeb;
    }

   
    &:hover:not(.line_sub-list_item-title):not(.line_sub-list_item-other-item) {
        background: #a5a5a5;
    }
}

.line_sub-list_item_value {
    color: #a2a2a2;
    margin-left: 5px;
}

.line_sub-list_item_cell {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #ebebeb;
    justify-content: flex-start;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font: 12px 'Museo700', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:last-of-type {
        border: none;
    }

    &--other-font {
        font: 13px 'Museo300', sans-serif;
    }
}

.size-table_title {
    margin-top: 40px;
    font: 16px 'Museo700', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}   

.line_sub-list_item-other-item {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    font: 12px 'Museo700', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:last-of-type {
        border-right: 1px solid #ebebeb;
    }
}


.size-table_list_for-child {
    margin-top: 25px;
    position: relative;
    z-index: 1;
    width: 870px;
    display: flex;
    box-sizing: border-box;
    border-left: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;

    &-shoes {
        .size-table_list_column {
            
            &:first-of-type {
                width: 165px;
                background: transparent;
            }
        
            &:nth-of-type(2) {
                width: 130px;
                background: rgba(243,243,243,.4);
            }
        
            &:nth-of-type(3) {
                width: 270px;
            }
        
            &:nth-of-type(4) {
                width: 195px;
            }
        
            &:last-of-type {
                width: 110px;
            }
        }

        .column_sub-list_item {
            &:first-of-type {
                height: 50px;
            }
        }
    }
}

.size-table_list_column {
    box-sizing: border-box;
    border-right: 1px solid #E1E1E1;
    
    &:first-of-type {
        width: 100px;
        background: rgba(243,243,243,.4);
    }

    &:nth-of-type(2) {
        width: 70px;
    }

    &:nth-of-type(1n + 3) {
        width: 160px;
    }

    &:nth-of-type(6) {
        width: 80px;
        background: rgba(243,243,243,.4);
    }

    &:last-of-type {
        width: 140px;
    }
}

.column_sub-list_item {
    height: 50px;
    border-bottom: 1px solid #E1E1E1;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 13px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:first-of-type {
        border-color: #9D9D9D;
        font-family: 'Museo700';
        height: 85px;
    }
}


