.about-page {
    width: 100%;
    height: 100%;
}

.about-page_wrapper{
    width: 100%;
    height: 35vw;
    position: relative;
    min-height: 230px;
    margin-bottom: 100px;

    &_bgr {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media(max-width: 1141px) {
        margin-bottom: 50px;
    }
}

.about-page_wrapper_content {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
}

.about-page_wrapper_content_title {
    width: 100%;
    text-align: center;
    font: 70px 'Museo700', sans-serif;
    letter-spacing: 12px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media(max-width: 1141px) and (min-width: 661px){
        font-size: 30px;
        letter-spacing: 5px;
    }

    @media(max-width: 660px) {
        font-size: 20px;
        letter-spacing: 5px;
    }
}

.about-page_wrapper_content_description {
    width: 100%;
    text-align: center;
    font: 20px/35px 'Museo500', sans-serif;
    letter-spacing: 4px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media(max-width: 1141px) {
        font: 15px/18px 'Museo500', sans-serif;
        letter-spacing: 3px;
    }
}


.about-page_description {
    width: 100%;
    height: auto;
    padding: 0 12%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 135px;


    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 0 8%;
    }

    @media(max-width: 1023px) and (min-width: 407px) {
        padding: 0 32px;
    }

    @media(max-width: 406px) {
        padding: 0 20px;
    }
}


.about-page_description_title {
    width: 100%;
    font: 24px/21px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 50px;
}

.about-page_description_article {
    width: 40%;
    margin-right: 7%;
    display: inline-block;
    height: auto;

    &:nth-of-type(2) {
        margin: 0;
    }

    &:nth-of-type(3) {
        height: 580px;
        box-sizing: border-box;
        padding: 10% 1% 0 0;
    }

    &:nth-of-type(4) {
        height: 580px;
        box-sizing: border-box;
        padding: 0 8% 0 0;
    }

    &_content {
        font: 14px/25px 'Asterisk', sans-serif;
        color: #4e4e4e;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &-margin {
            margin-bottom: 20px;
        }
    }
}

.about-page_description_article_photo {
    margin-bottom: 130px; 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-page_form {
    width: 100%;
    padding: 0 12%;
    box-sizing: border-box;
    margin-bottom: 180px;

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 0 8%;
    }

    @media(max-width: 1023px) and (min-width: 407px) {
        padding: 0 32px;
    }

    @media(max-width: 406px) {
        padding: 0 20px;
    }

    &_title {
        width: 100%;
        font: 24px/21px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-bottom: 20px;
    }

    &_address {
        width: 100%;
        font: 14px/25px 'Asterisk', sans-serif;
        color: #4e4e4e;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:last-of-type {
            margin-bottom: 20px;
        }

    }
}

.about-page_form_field {
    height: 60px;
    width: 580px;
    border: none;
    outline: none;
    border-bottom: 1px solid #323232;
    color: #323232;
    font: 14px/21px 'Asterisk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    box-sizing: border-box;
    padding-top: 30px;

    @media(max-width: 660px) {
        width: 100%;
    }

    &:last-of-type {
        margin-bottom: 30px;
    }
}

.about-page_form_btn {
    font: 16px/21px 'Museo300';
    color: #ffffff;
    background: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .2s;
    height: 50px;
    width: 170px;

    &:hover {
        background: #9B9B9B;
    }
}

@media(max-width: 1023px) {


    .about-page_description_article {
        width: 577px;
        height: 25%;
        margin-bottom: 30px;
        margin-right: 0;

        &:nth-of-type(2) {
            order: 1;
            margin-bottom: 30px;
        }

        &:nth-of-type(3) {
            height: 430px;
            width: 565px;
            box-sizing: border-box;
            padding: 0;
        }

        &:nth-of-type(4) {
            width: 470px;
            height: 580px;
            box-sizing: border-box;
            padding: 0;
            order: 1;
            margin-bottom: 0;
        }
    }
}