.home-subscribe {
    width: 100%;
    height: calc(100vh - 60px - 292px);
    position: relative;
    min-height: 200px;

    &_background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media(max-width: 1023px) {
        height: calc(100vh - 60px - 260px);
    }
}

.home-subscribe_for-subscribe {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 12%;
    box-sizing: border-box;
    

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 0 8%;
    }

    @media(max-width: 1023px) and (min-width: 407px) {
        padding: 0 32px;
    }

    @media(max-width: 660px) {
        width: 100%;
    }

    @media(max-width: 406px) {
        padding: 0 20px;
    }
}

.home-subscribe_for-subscribe_title {
    font: 60px 'Museo700', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 12px;

    @media(max-width: 660px) {
        font-size: 30px;
        letter-spacing: 5px;
    }
}

.home-subscribe_for-subscribe_description {
    font: 20px/35px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px;
    letter-spacing: 3px; 

    @media(max-width: 660px) {
        font: 15px/18px 'Museo500', sans-serif;
        margin-bottom: 10px;
    }
}

.home-subscribe_for-subscribe_wrap {
    display: flex;
    box-shadow: -1px 1px 7px rgba(0,0,0,.2);
    width: 460px;
    height: 50px;

    @media(max-width: 660px) {
        width: 100%;
        height: 40px;
    }
}

.home-subscribe_for-subscribe_field {
    width: calc(100% / 3 * 2);
    height: 100%;
    background: #ffffff;
    font: 16px/23px 'Asterisk', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    box-sizing: border-box;
    border: none;
    padding-left: 20px;

    @media(max-width: 434px) {
        font: 13px/23px 'Asterisk', sans-serif;
    }
}

.home-subscribe_for-subscribe_btn{
    width: calc(100% / 3);
    height: 100%;
    background: #000000;
    color: #ffffff;
    outline: none;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    font: 16px/23px 'Asterisk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .2s;

    &:hover {
        background: #9B9B9B;
    }

    @media(max-width: 434px) {
        font: 13px/23px 'Asterisk', sans-serif;
    }
    
}


