.unauthorized-favorites {
    width: 100%;
    margin-bottom: 150px;

    @media(max-width: 660px) {
        margin-bottom: 100px;
    }

    .catalog_clothes {
        width: 1136px;

        @media(max-width: 1511px) {
            width: 100%;
        }
    }

    .catalog_clothes_title {
        font-size: 24px;
        margin-bottom: 20px;

        @media(max-width: 660px) {
            margin-top: 20px;
        }
    }
}

.unauthorized-favorites_notice {
    font: 14px/25px 'Asterisk', sans-serif;
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 20px;

    &_link {
        color: #9b9b9b;
        cursor: pointer;
        text-decoration: underline;
        transition: .2s;

        &:hover {
            color: #323232;
        }
    }
}