
<div class="brands">

  <?php foreach ($banners as $banner) { ?>
    <?php if ($banner['link']) { ?>
    <a class="brands_link-wrap" href="<?php echo $banner['link']; ?>">
      <div class="brands_link-wrap_content">
        <div class="brands_link-wrap_content-img">
      <img class="brands_link-wrap_content_photo" src="<?php echo $banner['image']; ?>" /></div>
          <h2 class="brands_link-wrap_content_title"><?php echo $banner['title']; ?></h2>
          <p class="brands_link-wrap_content_description"><?php echo $banner['description']; ?></p>
    </a>
    <?php } else { ?>
    <a class="brands_link-wrap" href="#">
        <div class="brands_link-wrap_content-img">
          <img class="brands_link-wrap_content_photo" src="<?php echo $banner['image']; ?>" /></div>
          <h2 class="brands_link-wrap_content_title"><?php echo $banner['title']; ?></h2>
          <p class="brands_link-wrap_content_description"><?php echo $banner['description']; ?></p>
    </a>
    <?php } ?>
  <?php } ?>

</div>





<!---div id="carousel<?php echo $module; ?>" class="owl-carousel">
  <?php foreach ($banners as $banner) { ?>
  <div class="item text-center">
    <?php if ($banner['link']) { ?>
    <a href="<?php echo $banner['link']; ?>"><img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" class="img-responsive" /></a>
    <?php } else { ?>
    <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" class="img-responsive" />
    <?php } ?>
  </div>
  <?php } ?>
</div--->