.account_page {
    width: 100%;
    height: 100%;
}

.my-account {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.my-account_title {
    width: 100%;
    font: 24px/21px 'Museo500';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 40px;
}

.my-account_aside {
    width: 20%;
}

.aside_menu_item {
    margin-bottom: 10px;

    &:last-of-type {
        margin: 0;
    }
}

.aside_menu_item_link {
    font: 14px/21px 'Museo300';
    color: #9B9B9B;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: none;

    &-active {
        color: #323232;
    }
}


.my-account_main {
    width: 80%;
    box-sizing: border-box;
}


.my-account_orders {
    width: 100%;
    margin-bottom: 120px;
}


.account_menu_list {
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    width: 75%;
    display: flex;

    @media(max-width: 1023px) {
        width: 100%;
        
    }
}

.account_menu_list_item {
    padding: 20px 0;
    box-sizing: border-box;
    font: 16px/21px 'Museo500', sans-serif;
    color: #9b9b9b;
    -webkit-font-smoothing: antialiased;
    position: relative;
    cursor: pointer;
    margin-right: 5%;

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #323232;
        position: absolute;
        left: 50%;
        transform: translateX(-100%) scaleX(0);
        bottom: -1px;
        transition: .3s;
    }

    &-active {
        color: #323232;

        &:before {
            transform: translateX(-50%) scaleX(1);
        }
    }

    &:last-of-type {
        margin: 0;
    }
}

.my-account_orders_goods {
    width: 75%;
    display: none;

    &-active {
        display: block;
    }
}

.my-account_orders_goods_empty {
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 30px;

    &_description {
        font: 14px/24px 'Museo300', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &_link {
            color: #323232;
            text-decoration: underline;
            transition: .2s;

            &:hover {
                color: #BDBDBD;
            }
        }
    }
}

.my-account_orders_goods_order_link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.my-account_orders_goods_order {
    display: none;
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    cursor: pointer;

    &-active {
        display: flex;
    }

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 110%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid #e6e6e6;
        box-shadow: 1px 1px 3px rgba(0,0,0,.1);
        opacity: 0;
        transition: .2s;
    }

    &:hover {

        &:before {
            opacity: 1;
        }
    }
}


.goods_order_identifier {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 30px;

    &_order-number {
        font: 14px/24px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
    }

    &_time {
        font: 14px/24px 'Museo300', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
    }
}

.goods_order_pointers {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 30px;

    &_content {
        font: 14px/24px 'Museo300', sans-serif;
        color: #9b9b9b;
        -webkit-font-smoothing: antialiased;
    }
}


.goods_order_description {
    width: 45%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 30px;

    &_name {
        font: 14px/24px 'Museo300', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;

        &_goods-amount {
            text-decoration: underline;
            cursor: pointer;
            color: #323232;
            transition: .2s;
            z-index: 1;
            position: relative;

            &:hover {
                color: #BDBDBD;
            }
        }
    }

    &_sum-price {
        font: 14px/24px 'Museo300', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
    }

    &_status {
        font: 14px/24px 'Museo300', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
    }
}



@media(max-width: 1023px) {
    .my-account_aside {
        display: none;
    }

    .my-account_main {
        width: 100%;
    }

    .my-account_orders_list {
        width: 100%;
    }

    .my-account_orders_goods {
        width: 100%;
    }
}

@media(max-width: 660px) {
    .my-account {
        margin-bottom: 100px;
    }

    .my-account_main {
        padding-top: 20px;
    }

    .my-account_title {
        display: none;
    }

    .my-account_orders {
        margin-bottom: 70px;
    }

    .my-account_orders_goods_order {
        height: 200px;
        flex-wrap: wrap;
    }

    .goods_order_identifier {
        width: 100%;
        height: 40%;
    }

    .goods_order_pointers {
        width: 40%;
        height: 60%;
        padding-top: 10px;
    }

    .goods_order_description {
        width: 60%;
        height: 60%;
        padding-top: 10px;
    }
}

@media(max-width: 631px) {


    .clothes_list-account-page {
        height: 960px;
    }
}