@import 'slider';

.home_page {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background: #ffffff;
    position: relative;
}

.logo-brands {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 12%;

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 23px 8%;
    }

    @media(max-width: 1023px) {
        padding: 20px 32px;
    }
}

.logo-brands_link {
    display: flex;
    text-decoration: none;
    height: 110px;
    justify-content: center;
    align-items: center;

    &:first-of-type {
        width: 8%;
    }

    &:nth-of-type(2) {
        width: 14%;
    }

    &:nth-of-type(3) {
        width: 9%;
    }

    &:nth-of-type(4) {
        width: 11%;
    }

    &:nth-of-type(5) {
        width: 10%;
    }

    &:last-of-type {
        width: 7.5%;
    }
}

.logo-brands_logo {
    width: 100%;
}

.brands {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 12% 112px;

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 0 8% 86px;
    }

    @media(max-width: 1023px) {
        padding: 0 32px 70px;
    }
}

.brands_link-wrap {
    display: block;
    width: calc(100% / 3 - 5%);
    height: auto;
    text-decoration: none;
    position: relative;

    &:hover {
        .brands_link-wrap_content-img:before {
            opacity: 1;
        }
    }
}

.brands_link-wrap_content-img {
    width: 100%;
    position: relative;
    margin-bottom: 30px;

    &:before {
        content: '';
        width: 100%;
        height: 99%;
        background: rgba(0,0,0,.2);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: .2s linear;
        opacity: 0;
    }
}

.brands_link-wrap_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_photo {
        width: 100%;
        height: auto;
    }

    &_title {
        font: 20px/24px 'Museo700';
        color: #323232;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 2px;
        text-align: center;
        letter-spacing: 2px;
    }

    &_description {
        font: 16px/23px 'Asterisk';
        color: #323232;
        -webkit-font-smoothing: antialiased;
        text-align: center;
    }
}



.news-subscribe {
    box-sizing: border-box;
    padding: 0 12%;
    width: 100%;
    height: auto;

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 0 8%;
    }

    @media(max-width: 1023px) {
        padding: 0 32px;
    }
}

.news-subscribe_wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    &_background {
        width: 100%;
        height: 100%;

        &-small {
            display: none;
            width: 100%;
            height: 100%;
        }
    }
}

.news-subscribe_wrapper_content {
    width: 332px;
    height: auto;
    display: flex;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #323232;

    &_description {
        font: 35px/32px 'Museo500';
        -webkit-font-smoothing: antialiased;
        margin-bottom: 7px;
        letter-spacing: 2px;

        &-other-font {
            font: 16px/23px 'Asterisk';
            margin-bottom: 25px;
        }
    }

    &_field {
        width: 285px;
        height: 50px;
        box-sizing: border-box;
        color: #323232;
        font: 16px/23px 'Asterisk';
        -webkit-font-smoothing: antialiased;
        text-align: center;
        outline: none;
        border: none;
        margin-bottom: 15px;
        padding: 0 10px;
    }

    &_subscribe-btn {
        width: 285px;
        height: 50px;
        background: #000000;
        outline: none;
        border: none;
        cursor: pointer;
        font: 16px/21px 'Museo300';
        color: #ffffff;
        -webkit-font-smoothing: antialiased;
        transition: .2s;

        &:hover {
            background: #9B9B9B;
        }
    }
}


.offers {
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 119px 12% 80px;

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 90px 8% 55px;
    }

    @media(max-width: 1023px) {
        padding: 90px 32px 55px;
    }
}

.offers_link-wrap {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;

    &_icon {
        width: 56px;
        height: 56px;
        margin-bottom: 30px;
    }

    &_title {
        text-align: center;
        color: #000000;
        font: 16px/22px 'Museo500';
        -webkit-font-smoothing: antialiased;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }

    &_offer {
        color: #686868;
        font: 16px/23px 'Asterisk';
        -webkit-font-smoothing: antialiased;
        text-align: center;
        width: 90%;
    }
}

.about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 80px 12% 118px;

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 55px 8% 135px;
    }

    @media(max-width: 1023px) {
        padding: 55px 32px 80px;
    }
}

.about_heading {
    width: 100%;
    color: #323232;
    font: 14px/21px 'Asterisk';
    -webkit-font-smoothing: antialiased;
    margin-bottom: 30px;
}

.about_envelope {
    width: 50%;
    box-sizing: border-box;
    padding-right: 4%;

    &_title {
        font: 14px/21px 'Asterisk';
        color: #323232; 
        -webkit-font-smoothing: antialiased;
        margin-bottom: 10px;
    }

    &_description {
        font: 14px/21px 'Asterisk';
        color: #9B9B9B; 
        -webkit-font-smoothing: antialiased;
        margin-bottom: 30px;

        &:last-of-type {
            margin: 0;
        }
    }
}


@media(max-width: 1279px) and (min-width: 1024px) {
    .logo-brands_link {
        height: 92px;
    }
    
}

@media(max-width: 1023px) {
     .logo-brands_link {
        height: 80px;
    }

    .slider_bar {
        bottom: 20px;
    }
}

@media(max-width: 660px) {
    .slider_slide_description_title {
        font: 30px 'Museo700';
        letter-spacing: 5px;
    }

    .slider_slide_description_content {
        font: 15px/18px 'Museo500';
        letter-spacing: 3px;
    }

    .slider_bar {
        bottom: 5px;
    }

    .slider_bar_btn {
        width: 30px;
    }

    .brands {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .brands_link-wrap {
        width: 100%;
        min-height: 100%;
    }

    .brands_link-wrap_content_description {
        margin-bottom: 75px;
    }

    .news-subscribe {
        padding: 0;
    }

    .news-subscribe_wrapper_background {
        display: none;

        &-small {
            display: block;
        }
    }

    .news-subscribe_wrapper_content {
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        width: 100%;
    }

    .news-subscribe_wrapper_content_field {
        width: calc(100% - 64px);
    }

    .news-subscribe_wrapper_content_subscribe-btn {
        width: calc(100% - 64px);
    }

    .offers {
        padding-top: 80px;
        flex-direction: column;
    }

    .offers_link-wrap {
        width: 100%;
        margin-bottom: 100px;

        &:last-of-type {
            margin: 0;
        }
    }

    .offers_link-wrap_offer {
        width: 100%;
    }

    .about {
        flex-direction: column;
    }

    .about_envelope {
        width: 100%;
    }

    .about_envelope_description:last-of-type {
        margin-bottom: 30px;
    }

    .logo-brands {
        flex-wrap: wrap;
    }

    .logo-brands_link {
        &:first-of-type {
            width: 20%;
        }

        &:nth-of-type(2) {
            width: 33%;
        }

        &:nth-of-type(3) {
            width: 21%;
        }

        &:nth-of-type(4) {
            width: 27%;
        }

        &:nth-of-type(5) {
            width: 25%;
        }

        &:last-of-type {
            width: 20%;
        }
    }
}


@keyframes slide-load {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
