.slider{
    display: flex;
    width: 100%;
    height: 40vw;
    min-height: 230px;
    position: relative;
    overflow: hidden;
}

.slider_slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(100vw);
    transition: .5s;
    will-change: transform;
}

.slider_slide-disabled {
    transition-delay: .5s;
}

.slider_slide-active {
    transform: translateX(0);
    z-index: 1;
}

.slider_slide_link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.slider_slide_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider_slide_description {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    text-align: center;

    &_title {
       font: 70px 'Museo700';
       -webkit-font-smoothing: antialiased;
       letter-spacing: 12px;
    }

    &_content {
        font: 20px/35px 'Museo500';
       -webkit-font-smoothing: antialiased; 
       letter-spacing: 4px;
    }
}

.slider_bar {
    width: auto;
    height: 20px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 2;

    &_btn {
        width: 50px;
        height: 100%;
        margin-left: 30px;
        position: relative;

        &:first-of-type {
            margin: 0;
        }

        &:after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            background: rgba(255,255,255,.5);
        }

        &-active {
            

            &:before {
                content: '';
                width: 100%;
                height: 2px;
                background: #ffffff;
                position: absolute;
                top: 50%;
                left: 0;
                animation: slide-load 5s linear infinite;
                transform: translateY(-50%);
                will-change: transform;
            }
        }
    }
}