.account-coupon {
    width: 320px;
    display: none;
    margin-bottom: 80px;

    &-active {
        display: block;
    }

    @media(max-width: 375px) {
        width: 100%;
    }
}

.account_menu_list-account-coupon {
    width: 100%;

    .account_menu_list_item:first-of-type {
        margin-right: 30px;
    }
}

.account-coupon_coupons {
    display: none;
    width: 100%;
    height: auto;

    &-active {
        display: block;
    }
}

.account-coupon_coupons_unit {
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &_rightSide {
        width: 60%;
    }

    &_leftSide {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.account-coupon_coupons_number {
    font: 16px/21px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.account-coupon_coupons_date {
    font: 16px/21px 'Museo300', sans-serif;
    color: #9b9b9b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.account-coupon_coupons_amount {
    font: 24px/21px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buy-coupon {
    width: 55%;

    @media(max-width: 1023px) {
        width: 100%;
    }
}


.buy-coupon_title {
    font: 16px/21px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 20px;
}

.buy-coupon_description {
    font: 14px/24px 'Museo300', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 60px;
    }
}

.buy-coupon_form {
    width: 330px;
    padding: 30px 40px;
    box-sizing: border-box;
    background: #f5f5f5;

    @media(max-width: 409px) {
        width: 100%;
    }


    .buy-coupon_title {
        margin-bottom: 30px;
    }
}

.buy-coupon_on-amount {
    width: 100%;
    margin-bottom: 40px;

    &_amount {
        width: 100%;
        font: 24px/21px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
        padding-left: 20px;
        margin-bottom: 5px;
    }

    &_range {
        width: 100%;
        display: flex;
        height: 20px;
        align-items: center;
    }
}

.buy-coupon_on-amount_range_btn {
    height: 100%;
    width: 10%;
    cursor: pointer;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &-minus {

        &:before {
            content: '−';
        }
    }

    &-plus {

        &:before {
            content: '+';
        }
    }
}

.buy-coupon_on-amount_range_slider{
    width: 80%;
    position: relative;
    height: 1px;
    background: #323232;

    &_runner {
        width: 15px;
        height: 15px;
        background: #323232;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        cursor: pointer;
    }
}


.buy-coupon_pay-methods{
    width: 100%;
    margin-bottom: 40px;

    &_wrap {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;

        &:last-of-type {
            margin: 0;
        }
    }
}

.buy-coupon_pay-methods_check-method{
    display: none;

    &:checked + .buy-coupon_pay-methods_for-check-method {

        &:before {
            opacity: 1;
        }
    }
}

.buy-coupon_pay-methods_for-check-method{
    width: 10px;
    height: 10px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;


    &:before {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        content: '';
        background: #000000;
        width: 6px;
        height: 6px;
        transition: .2s;
        opacity: 0;
        border-radius: 50%;
    }
}


.buy-coupon_pay-btn {
    width: 100%;
    height: 50px;
    padding: 15px 0;
    text-align: center;
    background: #000000;
    color: #ffffff;
    font: 16px/21px 'Museo300', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    cursor: pointer;
    border: none;
    transition: .2s;

    &:hover {
        background: #9B9B9B;
    }
}

.buy-coupon_pay-methods_name{
    font: 14px/21px 'Museo300';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}