.page404 {
    width: 100%;
    height: calc(100vh - 60px - 292px);
    position: relative;
    min-height: 200px;

    &_background {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media(max-width: 1023px) {
        height: calc(100vh - 60px - 260px);
    }
}

.page404_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0 12%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 0 8%;
    }

    @media(max-width: 1023px) and (min-width: 407px) {
        padding: 0 32px;
    }

    @media(max-width: 406px) {
        padding: 0 20px;
    }
}

.page404_content_title{
    font: 70px 'Museo700', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    letter-spacing: 12px;
}

.page404_content_description {
    font: 20px/33px 'Museo500', sans-serif;
    color: #6F6F6F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    letter-spacing: 3px;

    &_link {
        color: #6F6F6F;
        text-decoration: underline;
        cursor: pointer;
        transition: .2s;

        &:hover {
            color: #BDBDBD;
        }
    }
}


@media(max-width: 1023px) {
    .page404_content_title{
        font-size: 30px;
        letter-spacing: 5px;
    }

    .page404_content_description {
        font: 15px/18px 'Museo500', sans-serif;
    }
}

// @media(max-width: 387px) {
//     .page404_content_title{
//         font-size: 20px;
//     }

//     .page404_content_description {
//         font: 12px/18px 'Museo500', sans-serif;
//     }
// }