.order-product_form_fields_hint {
    font: 12px/16px 'Asterisk', sans-serif;
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-self: center;
    box-sizing: border-box;
    padding-bottom: 8px;
    max-width: 290px;

    @media(min-width: 660px) {
        padding-left: 8px;
    }

    @media(max-width: 659px) and (min-width: 320px) {
        padding-bottom: 10px;
    }
}

.order-product_form_fields_content {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    font: 14px/21px 'Asterisk', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 10px;
    outline: none;
    padding: 20px 15px 10px;
    transition: .2s linear;

    &:focus ~ .order-product_form_fields_text {
        font-size: 10px;
        transform: translateY(-14px)
    }
}

.order-product_form_fields_text {
    position: absolute;
    font: 14px/10px 'Asterisk', sans-serif;
    color: #a9a9a9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 21px;
    left: 16px;
    transition: .2s linear;

    &-active {
        font-size: 10px;
        transform: translateY(-14px)
    }
}


.ordering_page {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .account-data_choose-location-border {
        border-color: #bdbdbd;
    }
}


.ordering_orders{
    width: 800px;
    height: auto;
}

.ordering_orders_title {
    width: 100%;
    font: 24px/21px 'Museo500';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 40px;
}

.ordering_orders_content {
    font: 14px/21px 'Museo300';
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
}

.ordering_orders_nav {
    width: 100%;
    height: 45px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
}

.orders_nav_total {
    width: 62.5%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.orders_nav_amount {
    width: 18.75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.orders_nav_price {
    width: 18.75%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.ordering_orders_product {
    display: flex;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

.orders_product_image {
    width: 70px;
    height: 90px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &_photo {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.orders_product_description {
    height: 100%;
    width: 53.75%;
    box-sizing: border-box;
    padding: 25px 0 0 30px;
}

.orders_product_description_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 340px;

    @media(max-width: 519px) {
        width: 100%;
    }
}

.orders_product_description_presence {
    color: #ec0029;
}

.orders_product_count {
    width: 18.75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.orders_product_count_field {
    width: 30px;
    outline: none;
    border: none;
    text-align: center;
}

.orders_product_count_btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #000000;
    position: relative;
    cursor: pointer;
    transition: .2s;

    &:hover {
       color: #ffffff; 
       background: #000000;
    }

    &:before {
        box-sizing: border-box;
        padding-top: 3px;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transform-origin: center center;
    }

    &-minus {

        &:before {
            content: '−';
        }
    }

    &-plus {

        &:before {
            content: '+';
        }
    }
}


.orders_product_price {
    width: 18.75%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 25px;
    position: relative;
}

.orders_product_price_old {
    position: relative;

    &:before {
        width: 100%;
        transform: translateY(-50%);
        top: 50%;
        right: 0;
        position: absolute;
        content: '';
        height: 1px;
        background: #323232;
    }
}


.orders_product_price_new {
    color: #ec0029;
}


.orders_product_price_delete {
    font: 14px 'Asterisk';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ffffff;
    position: absolute;
    right: 0;
    bottom: 10px;
    box-sizing: border-box;
    padding-right: 15px;
    opacity: .5;
    transition: .2s;

    @media(max-width: 370px) {
        padding: 0;
        height: 20px;
        width: 20px;
    }

    &:after {
        content: '';
        width: 7px;
        height: 7px;
        background: url('/dist/assets/images/ordering/delete.svg') center center no-repeat;
        position: absolute;
        right: 0;
        top: 6px;
    }

    &:hover {
        opacity: 1;
    }

    .orders_product_price_delete_content {
        
        @media(max-width: 370px) {
            display: none;
        }
    }
}


.ordering_order-product{
    width: 800px;
    height: auto;
    box-sizing: border-box;
    //padding-top: 80px;
}

.ordering_order-product_titles {
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
}

.ordering_order-product_title {
    font: 16px/21px 'Museo500';
    color: #9b9b9b;
    -webkit-font-smoothing: antialiased;
    position: relative;
    box-sizing: border-box;
    padding: 20px 0;
    cursor: pointer;
    margin-right: 60px;

    &:last-of-type {
        margin: 0;
    }

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #323232;
        position: absolute;
        left: 50%;
        transform: translateX(-100%) scaleX(0);
        bottom: -1px;
        transition: .3s;
    }

    &-active {
        color: #323232;

        &:before {
            transform: translateX(-50%) scaleX(1);
        }
    }
}



.ordering_order-product_form {
    display: none;
    width: 100%;
    padding-bottom:100px;

    &-active {
        display: block;
    }
}

.order-product_form_fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;

    &-padding {
        padding-top: 65px;
        margin-bottom: 90px;
    }

    &-margin {
        margin-bottom: 90px;
    }

    &-in-total {
        margin-bottom: 30px;
    }

    &-with-hint {
        justify-content: flex-start;
    }
}

.ordering_order-product_form_heading{
    margin-bottom: 20px;
    margin-top:100px;
}

.order-product_form_delivery {
    width: 20%;
}

.order-product_form_btns {
    width: 60%;
}

.order-product_form_delivery-price {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .ordering_orders_content {
        margin-bottom: 15px;

        &:last-of-type {
            margin: 0;
        }
    }
}


.order-product_form_btns_wrap {
    display: flex;
    cursor: pointer;
    margin-bottom: 15px;
    align-items: center;
}

.order-product_form-coupon {
    position: relative;
    box-sizing: border-box;
}

.order-product_form_check-coupon:checked {

    & ~ .order-product_form_btns_coupons--active {
        display: flex;
    }

    & ~ .order-product_form-coupon {
        padding-right: 20px;

        .ordering_orders_content-btn-to-list {
            width: 7px;
            height: 7px;
            box-sizing: border-box;
            border-bottom: 1px solid #323232;
            border-right: 1px solid #323232;
            transform: rotate(45deg);
            top: 6px;
            right: 0;
            position: absolute;
            transition: .2s;
        }
    }
}

.order-product_form_check {
    display: none;

    &:checked + .order-product_form_for-check {

        &:before {
            content: '';
            position: absolute;
            transform: translateX(-50%) translateY(-50%);
            width: 10px;
            height: 10px;
            background: #000000;
            transition: .2s;
            top: 50%;
            left: 50%;
            border-radius: 50%;
        }
    }
}

.order-product_form_for-check {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.order-product_form_fields_wrap  {
    position: relative;
    display: flex;
    width: 49.5%;

    &-width {
        width: 100%;
    }

    &-size {
        width: 24.2%;
    }

    &-promocode {
        width: 80%;

        .order-product_form_fields_content {
            border-right: none;
        }
    }
}

.order-product_form_fields_field {
    outline: none;
    width: 49.5%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    font: 14px/21px 'Asterisk';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 15px;
    margin-bottom: 10px;

    &-padding {
        padding: 20px 15px 0;
        width: 100%;
    }

    &-width {
        width: 24%;
    }

    &-comment {
        width: 100%;
        height: 130px;
        resize: none;

        &::-webkit-input-placeholder {
            color: #a9a9a9;
        }

        &::-moz-placeholder {
            color: #a9a9a9;
        }

        &:-moz-placeholder {
            color: #a9a9a9;
        }

        &:-ms-input-placeholder {
            color: #a9a9a9;
        }
    }

    &-promo-code {
        width: 80%;
    }
}

.order-product_form_fields_description {
    font: 12px/16px 'Asterisk';
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 5px;
    left: 15px;

    &-position {
        position: static;
        align-self: center;
        margin-left: 10px;
    }
}

.order-product_form_fields_apply {
    outline: none;
    width: 20%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #000000;
    font: 14px/21px 'Asterisk';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    padding: 15px;
    background: #ffffff;
    cursor: pointer;
    transition: .2s;

    &:hover {
        border-color: #9B9B9B;
    }
}


.order-product_form_btns-price-method {
    width: 68%;

    .order-product_form_for-check {
        transform: scale(.7);
    }
}

.order-product_form_total-price {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.order-product_form_total-price_designation {
    width: 65%;
    margin-bottom: 15px;
    height: 21px;
}

.order-product_form_total-price_result {
    width: 35%;
    text-align: right;
    margin-bottom: 15px;
    height: 21px;
}


.order-product_form_btns_wrap-with-coupon {
    flex-wrap: wrap;
    width: 300px;
}

.order-product_form_btns_coupons {
    display: none;
    margin-top: 10px;
    margin-left: 150px;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    padding: 10px 0;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);

}


.order-product_form_btns_coupons_link {
    text-decoration: none;
    cursor: pointer;
    color: #323232;
    font: 14px 'Asterisk';
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    padding: 10px 20px 5px;
    transition: .2s;

    &:hover {
        background: #F5F5F5;
    }
}

.order-product_form_total-price_in-total {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font: 30px/21px 'Museo300';
    color: #000000;
    -webkit-font-smoothing: antialiased;
}

.order-product_form_conditions {
    width: 68%;
    font: 14px/21px 'Asterisk';
    color: #bdbdbd;
    -webkit-font-smoothing: antialiased;
    align-self: center;

    .order-product_form_conditions_link {
        color: #bdbdbd;
        cursor: pointer;
        transition: .2s;

        &:hover {
            color: #323232;
        }
    }
}

.order-product_form_place-an-order {
    outline: none;
    width: 32%;
    height: 50px;
    border: none;
    background: #000000;
    font: 14px/21px 'Asterisk';
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .2s;

    &:hover {
        background: #9B9B9B;
    }
}



.ordering_order-product_form-sign-in {
    width: 50%;
    margin: 30px 0 0 25%;
}


.ordering_order-product_form_account {
    width: 100%;
    height: 50px;
    font: 14px/21px 'Asterisk';
    color: #9b9b9b;
    -webkit-font-smoothing: antialiased;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #323232;
    margin-bottom: 10px;

    &-padding {
        padding-right: 120px;
    }
}

.ordering_order-product_form_password {
    position: relative;
}

.ordering_order-product_form_forgot-password {
    cursor: pointer;
    font: 12px/21px 'Asterisk';
    color: #9b9b9b;
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 20px;
}

.ordering_order-product_form_sign-in-btn {
    width: 100%;
    height: 50px;
    font: 14px/21px 'Asterisk';
    color: #e6e6e6;
    -webkit-font-smoothing: antialiased;
    outline: none;
    box-sizing: border-box;
    border: none;
    margin-bottom: 10px;
    background: #bdbdbd;
    padding: 15px;
    cursor: pointer;

    &-clicked {
        background: #000000;
        color: #ffffff;
        transition: .2s;

        &:hover {
            background: #9B9B9B;
        }
    }
}

.ordering_order-product_form_other-sources {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 140px;
}

.form_other-sources_description {
    width: 100%;
    text-align: center;
    color: #4e4e4e;
    font: 16px/21px 'Museo300';
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
}

.form_other-sources_link {
    cursor: pointer;
    background: #000000;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    transition: .2s;

    &:hover {
        background: #BDBDBD;
    }

    &:last-of-type {
        margin: 0;
    }

    &:before {
        content: '';
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
    }

    &-vk {

        &:before {
            background: url('/dist/assets/images/ordering/vk.svg') center center no-repeat;
        }
    }

    &-fb {

        &:before {
            background: url('/dist/assets/images/ordering/fb.svg') center center no-repeat;
        }
    }
}

.order-product_form_fields-buy-coupon {
    flex-wrap: wrap;

    .order-product_form_conditions {
        width: 32%;
    }

    .order-product_form_place-an-order {
        background: #ffffff;
        border: 1px solid #000000;
        color: #323232;
    }
}

.order-product_form_buy-btn {
    outline: none;
    width: 32%;
    height: 50px;
    border: none;
    background: #000000;
    font: 14px/21px 'Asterisk';
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .2s;

    &:hover {
        background: #9B9B9B;
    }
}

.order-product_form_buy-coupon {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 20px 45px;
    background: #F5F5F5;
    font: 14px/21px 'Museo300';
    -webkit-font-smoothing: antialiased;
    color: #323232;
    position: relative;
    margin-bottom: 35px;

    &:before {
        content: '?';
        width: 14px;
        height: 22px;
        position: absolute;
        top: 20px;
        left: 10px;
        box-sizing: border-box;
        border: 2px solid #000000;
        text-align: center;
    }

    &_link {
        cursor: pointer;
        color: #BDBDBD;
    }
}

.order-product_form_fields-none {
    display: none;
}

.order-coupon-error-msg{
    font: 14px/21px 'Asterisk';
    color: red;
    margin-bottom: 15px;
    padding-left:15px;
}


@media(max-width: 864px) {
    .ordering_orders{
        width: 100%;
    }

    .ordering_order-product{
        width: 100%; 
    }

    .order-product_form_delivery {
        width: 100%;
        margin-bottom: 20px;
    }

    .order-product_form_fields {
        flex-wrap: wrap;
    }

    .order-product_form_delivery-price {
        width: 40%;

    }
}

@media(max-width: 762px) {

    .ordering_orders_product {
        flex-wrap: wrap;
    }

    .orders_product_image {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    .orders_product_price_new {
        margin-left: 10px;
    }

    .orders_product_description {
        width: calc(100% - 70px);
        padding-top: 15px;
        height: 80%;
        margin-left: 70px;
    }

    .orders_product_price {
        width: calc(100% - 70px);
        padding: 0;
        padding-left: 30px;
        flex-direction: row;
        height: 20%;
        align-items: center;
        margin-left: 70px;
    }


    .orders_product_count {
        display: none;
    }

    .orders_nav_amount {
        display: none;
    }

    .orders_nav_price {
        display: none;
    }

    .order-product_form_fields-in-total {
        flex-direction: column-reverse;

    }

    .order-product_form_total-price {
        width: 100%;
        margin-bottom: 80px;
    }

    .order-product_form_total-price_in-total {
        justify-content: flex-end;

        &-text-align {
            justify-content: flex-start;
        }
    }
}

@media(max-width: 660px) {

    .order-product_form_fields_description {
        margin: 0;
    }

    .order-product_form_fields-margin2 {
        //margin-bottom: 10px;
    }

    .order-product_form_fields-buy-coupon {
        .order-product_form_conditions {
            width: 100%;
        }
    }
    

    .ordering_page {
        padding-top: 45px;
    }

    .ordering_order-product_title {
        margin-right: 10px;
    }

    .order-product_form_fields_wrap {
        width: 100%;
        flex-wrap: wrap;

        &-promocode {
            width: 60%;
        }
    }

    .order-product_form_fields_field {
        width: 100%;
    }

    .order-product_form_fields_field-width {
        width: 49.5%;
    }

    .order-product_form_fields_field-promo-code {
        width: 60%;
    }

    .order-product_form_fields_apply {
        width: 40%;
    }

    .order-product_form_conditions {
        width: 100%;
        margin-bottom: 10px;
    }

    .order-product_form_place-an-order {
        width: 100%;
    }

    .order-product_form_buy-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

