@font-face {
  font-family: "Museo300";
  src: url("/dist/assets/fonts/MuseoSansCyrl/MuseoSansCyrl_300.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Museo500";
  src: url("/dist/assets/fonts/MuseoSansCyrl/MuseoSansCyrl_500.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Museo700";
  src: url("/dist/assets/fonts/MuseoSansCyrl/MuseoSansCyrl_700.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Asterisk";
  src: url("/dist/assets/fonts/AsteriskSansPro/AsteriskSansPro-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}