.header {
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    padding: 0 12%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    transition: .7s;
    z-index: 100;
    position: relative;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &:before {
        content: '';
        width: 100vw;
        height: 1px;
        background: #E6E6E6;
        position: absolute;
        top:60px;
        left: 0;
        z-index: 1;
        transition: .3s;
    }

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 0 8%;
    }
}

.show-menu {
    display: none;
}

.homeward_link {
    cursor: pointer;
    height: 100%;
    box-sizing: border-box;
    padding-top: 22px;
    text-decoration: none;

    &_logo {
        width: 130px;
        height: 20px;

        @media(max-width: 945px) {
            width: 100px;
        }
    }
}

.center-nav {
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

.center-nav_unit {

    @media(min-width: 1024px) {

        &:hover {

            .center-nav_unit_link {
                &:before {
                    transform: translateX(-50%) scaleX(1);
                }
            }

            .center-nav_sub-menu {
                display: flex;
            }
        }
    }
}




.center-nav_unit_link {
    font: 16px 'Museo300';
    color: #323232;
    cursor: pointer;
    display: block;
    padding: 20px 15px 0;
    -webkit-font-smoothing: antialiased;
    position: relative;
    height: 60px;
    box-sizing: border-box;
    text-decoration: none;

    &-padding {
        padding-left: 43px;
    }

    &:before {
        content: '';
        width: calc(100% - 30px);
        height: 1px;
        background: #323232;
        position: absolute;
        left: 50%;
        transform: translateX(-100%) scaleX(0);
        bottom: 0;
        transition: .3s;
    }

    &_icon {
        width: 20px;
        height: 28px;
        position: absolute;
        top: 8px;
        left: 15px;
    }
}



.center-nav_sub-menu {
    width: 100vw;
    display: none;
    position: absolute;
    top: 61px;
    left: 0;
    background: #FFFFFF;
    height: auto;
    padding: 55px 0;
    transition: .4s;
    box-sizing: border-box;
    justify-content: flex-start;
    padding-left: 12%;

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding-left: 8%;
    }

    &-shadow {
        box-shadow: 3px 3px 3px rgba(0,0,0,.1);
    }
}

.sub-menu_section-right {
    width: 170px;
    border-right: 1px solid #E8E8E8;
    box-sizing: border-box;

    .section-right_list_item {
        width: 117px;
        margin-bottom: 20px;

        &_link {
            font: 16px/21px 'Museo500';
            color: #323232;
            -webkit-font-smoothing: antialiased;
            cursor: pointer;
            text-decoration: none;
            
            &-color {
                color: #DC2B2B;
            }
        }
    }
}

.sub-menu_section-center {
    padding: 0 124px 0 60px;
    width: 754px;
    height: 400px;
}

.section-center_list {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    width: 100%;

    &_item {
        width: 154px;
        margin-right: 146px;

        &-margin-btm {
            margin-bottom: 48px;
        }

        &-margin-lft {
            margin: 0;
        }

        &_link {
            display: block;
            font: 16px/21px 'Museo500';
            color: #323232;
            -webkit-font-smoothing: antialiased;
            cursor: pointer;
            margin-bottom: 15px;
            text-decoration: none;
        }
    }
}    

.sub-list_sub-item_sub-link {
    font: 14px/28px 'Museo300';
    color: #4E4E4E;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: none;
}
    



.right-nav {
    display: flex;
    height: 100%;

    &_unit {
        margin-left: 20px;

        transition: .1s linear;

        &:hover {
            .right-nav_unit_link {
                opacity: .7;
            }
        }

        &-basket {
            position: relative;
        }

        &-signIn {
            display: none;
        }

        //&-active {
        //
        //    .right-nav_search-field {
        //        transform: translateY(0);
        //    }
        //}

        &-account {
            position: relative;

            .right-nav_unit_my-account {
                top: 100%;
            }

            .right-nav_unit_link {

            
                @media(max-width: 1023px) {
                    // display: none;
                }
            }
        }

        &_link {
            display: block;
            padding-top: 20px;
            box-sizing: border-box;
            font: 16px 'Museo300';
            color: #323232;
            cursor: pointer;
            -webkit-font-smoothing: antialiased;
            height: 100%;
            text-decoration: none;

            &_icon {
                width: 20px;
                height: 22px;
            }
        }
    }
}


.right-nav_unit_number {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    font: 12px 'Museo500', sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    box-sizing: border-box;
    padding-top: 3px;
    cursor: pointer;
}

.search-field {
    transition: .2s linear;
    transform: translateY(-110%);
    display: flex;
    width: 100%;
    height: auto;
    background: #ffffff;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
    padding: 0 12%;
    box-shadow: 0 3px 2px rgba(0,0,0,.05);
    flex-direction: column;
    overflow: hidden;

    &-active {
        transform: translateY(0);
    }
    
    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: #E6E6E6;
        position: absolute;
        top: 60px;
        left: 0;
    }

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 0 8%;
    }

    @media(max-width: 1023px) and (min-width: 407px) {
        padding: 0 32px;
    }

    @media(max-width: 406px) {
        padding: 0 20px;
    }
}

.search-field_wrap {
    width: 100%;
    height: 60px;
    position: relative;
    

    &:before {
        content: '';
        width: 20px;
        height: 20px;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        background: url('/dist/assets/images/header/icon-search.svg') center center no-repeat;
        position: absolute;
        z-index: 1;
    }
}

.search-field_cls-btn {
    width: 20px;
    height: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('/dist/assets/images/header/close-btn.svg') center center no-repeat;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.search-field_field {
    width: calc(100% - 30px);
    height: 100%;
    box-sizing: border-box;
    position: relative;
    outline: none;
    border: none;
    padding-left: 44px;
    font: 14px 'Museo300', sans-serif;
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-field_list {
    width: 100%;
    align-self: center;
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;


    &_item {
        width: 100%;
        box-sizing: border-box;
        height: 60px;
        box-sizing: border-box;
        border-bottom: 1px solid #E6E6E6;

        &:last-of-type {
            margin: 0;
        }


        .search-field_list_item_link {
            text-decoration: none;
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;

            &:hover {
                .search-field_list_item_link_name {
                    color: #BDBDBD;
                }

                .search-field_fill {
                    opacity: .3;
                }
            }
        }
    }
}

.search-field_show-result {
    width: 100%;
    height: 60px;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
        .search-field_show-result_text {
            color: #BDBDBD;
        }
    } 
}

.search-field_show-result_text {
    font: 14px/28px 'Museo300', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .2s;
    margin-left: 44px;
}

.search-field_fill {
    background: #242424;
    width: 110px;
    height: 1px;
    position: absolute;
    top: 40px;
    left: 44px;
}

.search-field_list_item_link_photo {
    width: 30px;
    height: 30px;
    margin-right: 14px;
    object-fit: cover;
}

.search-field_list_item_link_name {
    font: 14px/28px 'Museo300', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    padding-right: 10px;
    transition: .2s;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}


.section-left_brand {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
    text-decoration: none;

    &:last-of-type {
        margin: 0;
    }

    &_photo {
        width: 174px;
        height: 174px;
        margin-right: 25px;
        overflow: hidden;

        &_img {
            width: 100%;
            height: 100%;
        }
    }
}

.section-left_brand_description {
    width: 184px;

    &_title {
        font: 16px/21px 'Museo500';
        color: #323232;
        margin-bottom: 8px;
    }

    &_content {
        font: 14px/20px 'Museo300';
        color: #4E4E4E;
    }
}

.registration_sign-in_form {
    width: 100%;
    margin-top: 60px;

    .ordering_order-product_form_other-sources {
        margin-bottom: 50px;

        @media(max-width: 1023px) {
            margin-bottom: 20px;
        }
    }
}

.registration_sign-in_field {
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid #323232;
    font: 14px/21px 'Asterisk', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 10px;
}

.registration_sign-in_wrap {
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
    align-items: center;
}

.registration_sign-in_check {
    display: none;

    &:checked + .registration_sign-in_for-check {

        &:before {
            background: url('/dist/assets/images/catalog/input-checked.svg') center center no-repeat;
        }
    }
}

.registration_sign-in_for-check {
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 1px solid #000000;
    margin-right: 10px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
    }
}

.registration_sign-in_description {
    font: 14px 'Asterisk', sans-serif;
    color: #4A4A4A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 4px;
}

.registration_sign-in_offerLink {
    color: #4A4A4A;
    cursor: pointer;
    text-decoration: underline;
    transition: .2s;

    &:hover {
        color: #bdbdbd;
    }
}


.registration_sign-in_sign-up-btn {
    height: 50px;
    width: 100%;
    background: #000000;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font: 16px/21px 'Museo300', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    transition: .2s;
    margin-bottom: 20px;

    &:hover {
        background: #BDBDBD;
    }
}

.registration_sign-in_sign-in-btn {
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    background: #ffffff;
    box-sizing: border-box;
    font: 16px/21px 'Asterisk', sans-serif;
    color: #9B9B9B;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: '';
        width: calc(100% + 130px);
        height: 1px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        background: #E6E6E6;

        @media(max-width: 1023px) {
            width: calc(100% + 50px);
        }
    }
}

.registration_sign-in_return {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    text-decoration: none;
    font: 14px/21px 'Asterisk', sans-serif;
    color: #323232;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .2s;

    &:hover {
        opacity: .5;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 15px;
        height: 15px;
        background: url('/dist/assets/images/header/return.svg') center center no-repeat;
    }
}

.text-error-lost-password,
.text-error-login{
    color:red;
    padding:0 5px;
    font: 14px/21px 'Asterisk', sans-serif;
}
.text-error-login{
    margin-bottom:10px;
}

.right-nav_unit_my-account {
    min-width: 130px;
    display: none;
    flex-direction: column;
    height: auto;
    padding: 20px;
    background: #ffffff;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);

    &-active {
        display: block;
    }

    @media( min-width: 407px) and (max-width: 1023px) {
        top: 0;
        left: 98px;
        border: none;
        box-shadow: none;
        padding: 0;
        padding-top: 10px;
    }

    @media(max-width: 406px) {
        left: 85px;
        padding-top: 10px;
        padding-left: 0;
        border: none;
        box-shadow: none;
    }

    .aside_menu_item_link {
        color: #323232;
        transition: .2s;

        &:hover {
            color: #9b9b9b;
        }
    }
}

.aside_menu_item-sign-out {

    .aside_menu_item_link {
        padding-left: 20px;
        position: relative;

        &_icon {
            position: absolute;
            width: 15px;
            height: 10px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

@media (max-width: 1920px) and (min-width: 1280px) {
    .sub-menu_section-right {
        width: 160px;
    }

    .sub-menu_section-center {
        width: 634px;
        padding: 0 97px 0 50px;
    }

    .section-center_list_item {
        margin-right: 86px;

        &-margin-lft {
            margin: 0;
        }
    }
    
    .section-left_brand {
        flex-direction: column;
        align-items: flex-start;

        &_photo {
            width: 100px;
            height: 100px;
            margin-left: 0;
            margin-bottom: 10px;
        }
    }

    .section-left_brand_description {
        width: 145px;
    }
}

@media (max-width: 1279px) and (min-width: 1024px) {
    .sub-menu_section-left {
        display: none;
    }

    .section-center_list_item {
        margin-right: 86px;
    }
}

@media (max-width: 1023px) {
    .header-active {
        transform: translateX(350px);

        .show-menu {
            background: url('/dist/assets/images/header/close-menu.svg') center center no-repeat;
        }
    }

    .header {
        padding: 0 32px 0 77px;
    }
    .header-active{
        .center-nav {
            left: -350px;
        }
    }

    .center-nav_unit_link_icon {
        left: 0;
    }

    .center-nav {
        background: #000000;
        padding: 0 46px 0 32px;
        position: absolute;
        left: -353px;
        top: 0;
        width: 350px;
        justify-content: space-between;

        &_unit {

            &:nth-of-type(3) {
                margin: 0;
            }

            &-without-sub-menu {
                position: absolute;
                left: 0;
                padding-left: 32px;
                top: 350px;
                width: 100%;
                box-sizing: border-box;

                &:after {
                    border-top: 1px solid #e3e3e3;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 0;
                    bottom: 0;
                    left: 0;
                }
                
                
                .center-nav_unit_link {
                    color: #323232;
                    padding-left: 30px;
                }
            }

            &_link {
                color: #FFFFFF;
                padding: 20px 0 0;

                &:before {
                    background: #FFFFFF;
                    width: 100%;
                }
            }
        }
    }

    .center-nav_unit-active {

        .center-nav_unit_link {
            &:before {
                transform: translateX(-50%) scaleX(1);
            }
        }
        .center-nav_sub-menu {
            display: block;
        }

    }

    .center-nav_sub-menu {
        width: 100%;
        flex-direction: column-reverse;
        padding: 20px 0 250px 32px;
        height: auto;
        min-height: 580px;
        justify-content: flex-end;
        display: none;
    }

    .sub-menu_section-right {
        width: 100%;
        border-right: none;
        box-sizing: border-box;

        .section-right_list_item {
            width: 100%;
            margin-bottom: 27px;

            &_link {
                font: 16px/21px 'Museo300';
            }
        }
    }

    
    .sub-menu_section-center {
        height: auto;
        padding: 0;
        width: 100%;
    }

    .section-center_list {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-wrap: wrap;
        width: 100%;

        &_item {
            margin-bottom: 27px;

            &-margin-btm {
                margin-bottom: 27px;
            }

            &-margin-lft {
                display: none;
            }

            &_link {
                font: 16px/21px 'Museo300';
                margin: 0;
            }
        }
    } 

    .sub-list {
        display: none;

        &_sub-item {

            &:first-of-type {
                margin-top: 17px;
            }
        }
    }

    .section-center_list_item_link-active + .sub-list {

        
        display: block;
        
    }

    .sub-menu_section-left {
        display: none;
    }

    

    .show-menu {
        position: absolute;
        left: 32px;
        top: 0;
        display: block;
        height: 100%;
        width: 25px;
        cursor: pointer;
        background: url('/dist/assets/images/header/open-menu.svg') center center no-repeat;
    }

    .right-nav_unit{
        &:last-of-type {
            width: 350px;
            position: absolute;
            left: -350px;
            font: 14px/21px 'Museo300';
            box-sizing: border-box;
            margin: 0;
            top: 419px;
            padding-left: 32px;
        }
    }
}

@media (max-width: 406px) {

    .header {
        padding: 0 20px 0 55px;
    }

    .show-menu {
        left: 20px;
    }

    .header-active {
        transform: translateX(320px);
    }
    .header-active{
        .center-nav {
            left: -320px;
        }
    }

    .center-nav {
        background: #000000;
        padding: 0 34px 0 20px;
        position: absolute;
        left: -323px;
        top: 0;
        width: 320px;
    }

    .center-nav_unit-without-sub-menu {
        padding-left: 20px;
    }

    .center-nav_unit_link {
        padding: 20px 0 0;
    }

    .center-nav_sub-menu {
        padding-left: 20px;
    }
    
    .right-nav_unit{
        margin-left: 12px;

        &:last-of-type {
            width: 320px;
            left: -320px;
            padding-left: 20px;
        }

    }
}



