.account_page {
    width: 100%;
    min-height: calc(100vh - 60px - 292px);

    @media(max-width: 1023px) {
        min-height: calc(100vh - 60px - 260px);
    }
}

.account-favorites {
    width: 100%;

    .account-favorites_empty {
        display: none;

        &_description {
            font: 14px/25px 'Asterisk', sans-serif;
            color: #4E4E4E;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            &:first-of-type {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .catalog_clothes {
        display: none;
    }

    .account-favorites_content-active {
        display: block;
    }
}

.clothes_list-favorites {

    .clothes_list_item {
        height: 480px;

        &:hover {

            .clothes_btn {
                opacity: 1;
            }
        }
    }

    .clothes_list_item_wrap {
        height: 478px;
    }

    .clothes_prices {
        margin-bottom: 30px;
    }
}

.clothes_btn {
    opacity: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font: 16px/21px 'Museo300', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    
    transition: .2s;

    &-in-basket {
        background: #000000;
        color: #ffffff;
        border: none;

        &:hover {
            background: #9B9B9B;
        }
    }

    &-not-available {
        background: #ffffff;
        color: #323232;
        border: 1px solid #000000;

        &:hover {
            border-color: #9B9B9B;
        }
    }
}