.footer {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    background: #FFFFFF;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px 12% 40px 12%;
    border-top: 1px solid #e8e8e8;
    width: 100%;

    &:last-of-type {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding-right: 8%;
        padding-left: 8%;
    }
}

.info_title {
    font: 14px/17px 'Museo500';
    color: #4a4a4a;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 15px;
    box-sizing: border-box;
    position: relative;

    &:before {
        display: none;
        content: '';
        position: absolute;
        top: 20px;
        border: 5px solid transparent;
        border-top: 7px solid #000000;
        right: 32px;
    }
}
.info_list_item {
    margin-bottom: 2px;
}

.info_list_item_link {
    display: block;
    font: 14px/23px 'Museo300';
    color: #9b9b9b;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    cursor: pointer;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: .2s linear;

    &:hover {
        color: #4e4e4e;
    }
}

.info_pay-methods {
    display: flex;
    flex-wrap: wrap;
    width: 294px;

    @media(max-width: 1279px) and (min-width: 1024px) {
        width: 165px;
    }
}

.info_pay-methods_link {
    display: flex;
    cursor: pointer;
    height: 24px;
    width: auto;
    align-items: center;
    margin: 0 20px 25px 0;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:last-of-type {
        margin-right: 0;
    }
}
.about-company_link {
    display: inline-block;
    margin-left: 23px;
    font: 14px/23px 'Museo300';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: none;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: .2s linear;

    &:hover {
        opacity: .7;
    }

    &:first-of-type {
        margin: 0;
    }

    &:last-of-type {

        @media(max-width: 1279px) {
            display: none;
        }
    }
}

.developer_link {
    display: inline-block;
    font: 14px/23px 'Museo300';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-decoration: none;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &_color {
        color: #9B9B9B;
    }
}

.developer_link a{
    text-decoration: none;
}

@media(max-width: 1023px) {
    .content-wrapper {
        padding: 0 32px;
        border: none;
    }

    .content-wrapper:first-of-type {
        flex-direction: column;
        padding: 0;
    }

    .info {
        border-bottom: 1px solid #e8e8e8;
        box-sizing: border-box;
        width: 100%;

        &_title {
            padding: 15px 32px;
            cursor: pointer;
            // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            width: 100%;

            &:before {
                display: block;
            }
        }
    }

    .info_list {
        display: none;
        padding: 0 32px 20px 32px;
    }

    .info_pay-methods {
        display: none;
        padding: 0 32px;
        width: 100%;
    }

    .info-active {
        display: block;
    }
}

@media (max-width: 406px) {
    .content-wrapper {
        padding: 0 20px;
    }

    .info_title {
        padding: 15px 20px;

        &:before {
            right: 20px;
        }
    }

    .info_pay-methods {
        padding: 0 20px;
    }

    .info_list {
       padding: 0 20px 20px 20px;
    }
}