.account-data {
    width: 390px;
    height: auto;
}

.account-data_error{
    color:red;
    font: 12px/21px Asterisk,sans-serif;
    padding-top: 5px;
}

.account-data_heading {
    width: 100%;
    height: auto;
    margin-bottom: 50px;

    &_title {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font: 16px/24px 'Museo500', sans-serif;
        color: #323232;
    }

    &_email {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font: 14px/21px 'Asterisk', sans-serif;
        color: #323232;
    }
}

.account-data_form {
    width: 100%;
    height: auto;
}

.account-data_field_error{
    border: 1px solid red !important;
}

.account-data_field {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    margin-top: 15px;

    &-width {
        width: 49%;
    }

    .account-data_field_personal-data {
        padding-top: 20px;
        padding-bottom: 10px;

        &:focus ~ .account-data_field_indicator {
            font-size: 10px;
            transform: translateY(-14px)
        }
    }

    &_indicator {
        position: absolute;
        font: 14px/21px 'Asterisk', sans-serif;
        color: #a9a9a9;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: 16px;
        left: 16px;
        transition: .2s linear;

        &-active {
            font-size: 10px;
            transform: translateY(-14px)
        }
    }
}

.account-data_field_personal-data {
    width: 100%;
    height: 50px;
    outline: none;
    font: 14px/21px 'Asterisk', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    padding: 15px;
    //margin-bottom: 15px;
}

.account-data_male {
    width: 100%;
    display: flex;
    //margin-bottom: 30px;
}

.account-data_male_check-male {
    display: none;

    &:checked + .account-data_male_for-check-male {
        background: #000000;
        color: #ffffff;
    }
}

.account-data_male_for-check-male {
    width: 100px;
    height: 35px;
    background: #e6e6e6;
    font: 14px/21px 'Asterisk', sans-serif;
    color: #bdbdbd;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .2s;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
}

.account-data_subscribe {
    width: 100%;
    display: flex;
    margin-bottom: 110px;
    margin-top: 30px;
}

.account-data_subscribe_check {
    display: none;

    &:checked + .account-data_subscribe_for-check {
        border-color: #000000;

        &:before {
            display: block;
        }
    } 
}

.account-data_subscribe_for-check {
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    margin-right: 10px;
    transition: .2s;
    position: relative;

    &:before {
        display: none;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: url('/dist/assets/images/catalog/input-checked.svg') center center no-repeat;
    }
}

.account-data_subscribe_content {
    font: 14px/18px 'Asterisk', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-self: center;
}

.account-data_size {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.account-data_form_title {
    font: 16px/24px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 30px;
}

.account-data_size_select-size {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    padding: 2px 15px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &:before {
        content: '';
        position: absolute;
        border: 5px solid transparent;
        border-top: 7px solid #000000;
        top: 20px;
        right: 15px;
    }
}

.account-data_size_select-size_content {
    font: 10px/21px 'Asterisk', sans-serif;
    color: #4a4a4a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.account-data_size_select-size_size {
    font: 14px/21px 'Asterisk', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
    border: none;
    background: transparent;
    pointer-events: none;
}

.account-data_size_select-size_list {
    display: none;
    width: 100%;
    height: auto;
    padding: 15px 0;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    box-sizing: border-box;

    &_item {
        height: 30px;
        width: 100%;
        box-sizing: border-box;
        padding: 7px 15px;
        font: 14px/21px 'Asterisk', sans-serif;
        color: #4A4A4A;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: .2s;
        cursor: pointer;

        &:hover {
            background: #F5F5F5;
        }
    }
}

.account-data_size_select-size_list-active {
    display: block;
}

.account-data_choose-size {
    display: block;
    font: 14px/21px 'Asterisk';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 25px;
    position: relative;
    margin-bottom: 110px;

    &:before {
        content: '';
        height: 10px;
        width: 18px;
        position: absolute;
        left: 0;
        top: 3px;
        background: url('/dist/assets/images/product-view/chooseSize.svg') center center no-repeat;
    }
}


.account-data_form_address {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    position: relative;
}

.account-data_choose-location {
    width: 100%;
    margin-bottom: 15px;
}

.account-data_choose-location_locality {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    position: relative;
    padding: 15px 30px 15px 15px;

    &:before {
        content: '';
        position: absolute;
        border: 5px solid transparent;
        border-top: 7px solid #000000;
        top: 20px;
        right: 15px;
    }
}

.account-data_choose-location_locality_select {
    font: 14px/21px 'Asterisk', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    border: none;
    outline: none;
    background: transparent;
    pointer-events: none;
}

.account-data_choose-location_list {
    display: none;
    width: 100%;
    height: auto;
    padding: 15px 0;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    box-sizing: border-box;

    &.account-data_choose-location_list-active {
        display: block;
    }

    &-item {
        height: 30px;
        width: 100%;
        box-sizing: border-box;
        padding: 7px 25px;
        font: 14px/21px 'Asterisk', sans-serif;
        color: #4A4A4A;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: .2s;
        cursor: pointer;

        &:hover {
            background: #F5F5F5;
        }
    }
}

.account-data_add-address {
    display: inline-block;
    text-decoration: none;
    color: #323232;
    font: 14px/21px 'Asterisk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    margin-bottom: 80px;
    transition: .2s;
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;

    &:before {
        content: '';
        width: 15px;
        height: 15px;
        background: url('/dist/assets/images/account-data/add-address.svg') 50% no-repeat;
        position: absolute;
        left: 0;
        top: 0;
    }

    &:hover {
        color: #323232;
    }
}

.account-data_save-changes {
    width: 100%;
    height: auto;
    display: flex;
}

.account-data_save-changes_btn {
    height: 50px;
    font: 16px/21px 'Asterisk', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    padding: 15px 0;
    outline: none;
    transition: .2s;
    

    &-save {
        border: none;
        margin-right: 15px;
        background: #000000;
        color: #ffffff;
        width: 190px;

        &:hover {
            background: #9B9B9B;
        }
    }

    &-cancel {
        width: 150px;
        background: #ffffff;
        color: #323232;
        border: 1px solid #000000;

        &:hover {
            border-color: #9B9B9B;
        }
    }
}

.account-data_form_address_delete {
    font: 14px 'Asterisk', sans-serif;
    color: #9B9B9B;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: -80px;
    text-decoration: none;

    @media(max-width: 540px) and (min-width: 320px) {
        position: static;
    }
}

@media(max-width: 480px) {
    .account-data {
        width: 100%;
    }

    .account-data_save-changes{
        justify-content: space-between;
    }

    .account-data_save-changes_btn{
        width: 49%;
    }
}