.brands-page {
    width: 100%;
    height: auto;
}


.brands-page_content {
    width: 100%;
    height: auto;

    &_title {
        font: 21px/24px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-bottom: 50px;
    }
}

.brands-page_content_quick-links {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.quick-links_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.quick-links_list_item_link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    cursor: pointer;
    color: #323232;
    font: 16px/24px 'Museo500', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .2s;

    &:hover {
        color: #BDBDBD;
    }
}

.brands-page_content_sections {
    width: 100%;
    height: auto;
}

.brands-page_content_sections_list {
    width: 70%;
    box-sizing: border-box;
    padding: 30px 0 70px 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E6E6E6;

    &:last-of-type {
        border: none;
    }

    &_title {
        font: 24px/21px 'Museo500', sans-serif;
        color: #000000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 30px;
        left: 0;
    }

    &_item {
        width: 33%;
    }
}

.brands-page_sections_list_item_link {
    display: block;
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 5px;
    text-decoration: none;
    color: #323232;
    font: 14px/21px 'Museo300', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .2s;

    &:hover {
        color: #BDBDBD;
    }
}


@media(max-width: 1023px) {
    .brands-page_content_sections_list {
        width: 100%;
    }
}

@media(max-width: 660px) {
    .brands-page_content_title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .brands-page_content_sections_list_item {
        width: 50%;
    }
}

@media(max-width: 510px) {
    .brands-page_content_sections_list_item {
        width: 100%;
    }
}