.help-simple {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.help-simple_content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
    justify-content: space-between;

    &_title {
        width: 100%;
        font: 21px/24px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
    }
}

.help-simple_content_article {
    width: 65%;
    height: auto;
    box-sizing: border-box;
    padding: 50px 30px 0 0;
}



.help-simple_content_search-answer {
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 35px;
}

.content_search-answer_field {
    width: 85%;
    height: 100%;
    outline: none;
    border: 1px solid #000000;
    border-right: none;
    font: 14px/21px 'Asterisk', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 20px;
    box-sizing: border-box;


    &[placeholder]          {text-overflow:ellipsis;}
    &::-moz-placeholder     {text-overflow:ellipsis;} 
    &:-moz-placeholder      {text-overflow:ellipsis;} 
    &:-ms-input-placeholder {text-overflow:ellipsis;}
}

  

.content_search-answer_searchBtn {
    width: 15%;
    height: 100%;
    outline: none;
    border: none;
    background: #000000;
    font: 14px/21px 'Asterisk', sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 20px;
    box-sizing: border-box;
    transition: .2s;

    &:hover {
        background: #B9B9B9;
    }
}

.help-simple_content_list {
    width: 100%;
    height: auto;

    &_item {
        width: 100%;
        height: auto;
        position: relative;
        box-sizing: border-box;
        border-bottom: 1px solid #E6E6E6;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 25px;
            left: 0;
            border: 5px solid transparent;
            border-left: 7px solid #000000;
            transition: .2s;
        }

        &-active {
            &:before {
                top: 27px;
                border: 5px solid transparent;
                border-top: 7px solid #000000;
            }

            .content_sub-list {
                display: block;
            }
        }
    }
}

.content_sub-list_title {
    font: 16px/21px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 65px;
    width: 100%;
    padding: 20px 0 0 25px;
    box-sizing: border-box;
}

.content_sub-list {
    box-sizing: border-box;
    padding: 5px 0 0 25px;
    display: none;

    &_item {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
    }
}

.content_sub-list_item_question {
    font: 14px/21px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 5px;
}

.content_sub-list_item_answer {
    font: 14px/18px 'Asterisk', sans-serif;
    color: #4E4E4E;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 5px;
}

.help-simple_content_form {
    width: 390px;
    height: 425px;
    box-sizing: border-box;
    margin-top: 50px;
    background: #F5F5F5;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;

    &_title {
        font: 16px/21px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-bottom: 30px;
        text-align: center;
    }
}

.help-simple_form_content {
    height: 50px;
    width: 100%;
    outline: none;
    font: 14px/21px 'Asterisk', sans-serif;
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid #E6E6E6;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 15px;

    &[placeholder]          {text-overflow:ellipsis;}
    &::-moz-placeholder     {text-overflow:ellipsis;} 
    &:-moz-placeholder      {text-overflow:ellipsis;} 
    &:-ms-input-placeholder {text-overflow:ellipsis;}

    &-comment {
        resize: none;
        padding: 10px 20px;
        height: 150px;
        margin-bottom: 30px;
    }

    &-btn {
        background: #000000;
        color: #ffffff;
        border: none;
        margin: 0;
        cursor: pointer;
        transition: .2s;

        &:hover {
            background: #b9b9b9;
        }
    }
}



@media(max-width: 1279px) {

    .help-simple_content_article {
        width: 100%;
        padding-right: 0;
    }

}

@media(max-width: 660px) {

    .help-simple_content_form {
        width: 100%;
    }

    .help-simple_content_title {
        padding-top: 30px;
    }

    .content_search-answer_field {
        width: 70%;

    }

    .content_search-answer_searchBtn {
        width: 30%;
    }
}