@import 'reset/reset';
@import 'fonts/fonts';
@import 'header/header';
@import 'footer/footer';
@import 'home/home';
@import 'catalog/catalog';
@import 'product-view/product-view';
@import 'ordering/ordering';
@import 'my-account/my-account';
@import 'account-order/account-order';
@import 'account-data/account-data';
@import 'account-coupon/account-coupon';
@import 'account-favorites-authorized/account-favorites-authorized';
@import 'account-favorites-unauthorized/account-favorites-unauthorized';
@import 'home-subscribe/home-subscribe';
@import '404-page/404-page';
@import 'about-page/about-page';
@import 'help-simple/help-simple';
@import 'offer-page/offer-page';
@import 'brands-page/brands-page';
@import 'modal-windows/modal-windows';

.body {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
}

.app_wrap {
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.app_content {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 12%;

    @media(max-width: 1279px) and (min-width: 1024px) {
        padding: 0 8%;
    }

    @media(max-width: 1023px) and (min-width: 407px) {
        padding: 0 32px;
    }

    @media(max-width: 406px) {
        padding: 0 20px;
    }
}