.account_order {
    width: 75%;

    &_title {
        font: 16px/24px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    &_parameters {
        width: 100%;
        box-sizing: border-box;
        padding: 30px 0;
        border-bottom: 1px solid #e6e6e6;
        display: flex;
    }
}

.account_order_parameters_contents {
    width: 25%;
    height: 100%;
}

.account_order_parameters_status {
    width: 75%;
    height: 100%;
}

.account_order_parameters_goods {
    width: 45%;
    height: 100%;
}

.account_order_parameters_amount {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.account_order_parameters_price {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.account_order_parameters_totals {
    width: 45%;
    height: 100%;
}

.account_order_parameters_sum {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.account_order_parameters_pay {
    width: 75%;
    height: 100%;
}

.account_order_parameters_recipient-pointers {
    width: 15%;
    height: 100%;
}

.account_order_parameters_recipient {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.account_order_parameters_description {
    font: 14px/24px 'Museo300', sans-serif;
    color: #9b9b9b;
    -webkit-font-smoothing: antialiased;
}

.account_order_parameters_date {
    font: 14px/24px 'Museo300', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;

    &-color {
        color: #9b9b9b;
    }
}


.account_order_parameters_name {
    font: 14px/24px 'Museo300', sans-serif;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    &_link {
        text-decoration: underline;
        color: #323232;
        cursor: pointer;
        transition: .2s;

        &:hover {
            color: #BDBDBD;
        }
    }
}


.account_order_parameters_unit {
    font: 14px/24px 'Museo300', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
}

.account_order_parameters_value {
    font: 14px/24px 'Museo300', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
}

.account_order_parameters_info{
    font: 14px/24px 'Museo300', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;

    &-address {
        text-align: right;
    }
}


.account_order_parameters_content {
    font: 14px/24px 'Museo300', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
}

.account_order_parameters_pay-method {
    font: 14px/24px 'Museo300', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
}


@media(max-width: 1023px) {
    .account_order {
        width: 100%;
    }
}

@media(max-width: 660px) {
    .account_order_title {
        padding-top: 20px;
    }

    .account_order_parameters {
        flex-wrap: wrap;
    }


    .account_order_parameters_contents {
        width: 100%;
    }

    .account_order_parameters_status {
        width: 100%;
    }

    .account_order_parameters_goods {
        width: 60%;
    }

    .account_order_parameters_amount {
        width: 20%;
    }

    .account_order_parameters_price {
        width: 20%;
    }

    .account_order_parameters_totals {
        width: 60%;
    }

    .account_order_parameters_sum {
        width: 40%;
    }

    .account_order_parameters_pay {
        width: 100%;
    }

    .account_order_parameters_recipient-pointers {
        width: 20%;
    }

    .account_order_parameters_recipient {
        width: 80%;
    }
}