.catalog_page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
}

.catalog_breadcrumbs {
    width: 100%;
    padding: 30px 0 50px;
    box-sizing: border-box;
}

.breadcrumbs_list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.breadcrumbs_list_item {
    padding-right: 20px;
    box-sizing: border-box;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 8px;
        background: url('/dist/assets/images/catalog/breadcrumbs.svg')  no-repeat center center;
    }

    &_link {
        display: inline-block;
        text-decoration: none;
        font: 14px/14px 'Asterisk';
        color: #9b9b9b;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;
        white-space: nowrap;
        transition: .2s linear;

        &:hover {
            color: #323232;
        }
    }

    &:last-of-type {

        &:before {
            display: none;
        }

        .breadcrumbs_list_item_link {
            color: #323232;
        }
    }
}
@media(min-width: 946px) {

    .catalog_aside {
        width: 230px;
        position: relative;
    }

    .catalog_aside_list {
        width: 190px;
        margin-bottom: 40px;
    }

    .catalog_aside_list_title {
        font: 16px/21px 'Museo500';
        color: #323232;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 20px;
    }

    .catalog_aside_list_item {
        margin-bottom: 10px;
    }

    .catalog_aside_list_item_link {
        font: 14px/21px 'Museo300';
        color: #9b9b9b;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        cursor: pointer;
        transition: .1s linear;

        &:hover {
            color: #323232;
        }
    }

    .catalog_link-selected {
        color: #323232;
    }


    .catalog_aside_sub-list {
        box-sizing: border-box;
        padding: 10px 0 0 20px;
        display: none;
        margin-bottom: 16px;

        &--active {
            display: block;
        }

        .catalog_aside_list_item_link {
            line-height: 17px;
        }
    }

    .catalog_main {
        width: calc(100% - 230px);
    }


    .catalog_selected-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: 30px;
        border-bottom: 1px solid #e6e6e6;
        margin-left: 20px;
        position: absolute;
        left: 100%;
        width: calc( 76vw - 250px );
    }

    .selected-type_title {
        font: 24px/21px 'Museo500';
        color: #323232;
        -webkit-font-smoothing: antialiased;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px 5px 5px 0;
        text-overflow: ellipsis;
        margin-right: 15px;
    }

    .selected-type_selection {
        position: relative;
    }

    .selected-type_selection_content {
        font: 14px 'Asterisk';
        display: flex;
        align-items: center;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        padding-right: 15px;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        height: 20px;

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 4px;
            width: 10px;
            height: 10px;
            background: url('/dist/assets/images/catalog/param-selection.svg')  no-repeat center center;
        }

        &_filter {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            text-align: center;
            border-radius: 50%;
            background: #000000;
            color: #ffffff;
            font: 11px 'Museo300', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            box-sizing: border-box;
            padding-top: 4px;
        }
    }

    .param-selection_list_item-clean-filter {

        .selected-type_selection_content {
            opacity: .5;
            transition: .2s;

            &:hover {
                opacity: 1;
            }

            &:before {
                background: url('/dist/assets/images/catalog/delete.svg') center center no-repeat;
            }
        }
    }

    .selected-type_selection-active {

        .selected-type_selection_content:before {
            transform: rotate(180deg);
            transform-origin: center center;
        }

        .selected-type_dropdown_selection {
            display: flex;
        }
    }

    .selected-type_selection_content--active:before {
        transform: rotate(180deg);
        transform-origin: center center;
    }

    .selected-type_dropdown_selection {
        display: none;
        top: 35px;
        left: 0;
        position: absolute;
        box-sizing: border-box;
        background: #ffffff;
        border: 1px solid #e6e6e6;
        box-shadow: 1px 1px 3px rgba(0,0,0,.1);
        width: 220px;
        z-index: 1;
        flex-direction: column;

        &--active {
            display: block;
        }
    }

    .dropdown_selection_list {
        max-height: 240px;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        padding: 0 20px 20px 20px;
        margin-top: 20px;
        width: 100%;
    }

    .dropdown_selection_list_item {
        margin-bottom: 12px;

        &:last-of-type {
            margin: 0;
        }
    }

    .dropdown_selection_list_item_link {
        font: 14px/14px 'Asterisk';
        color: #323232;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
    }

    .dropdown_selection_list_title {
        font: 14px/14px 'Asterisk';
        color: #9B9B9B;
        -webkit-font-smoothing: antialiased;
        margin-bottom: 10px;
    }

    .dropdown_selection_input-wrap {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .dropdown_selection_checked {
        display: none;

        &:checked + .dropdown_selection_for-checked {
            border-color: #323232;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background: url('/dist/assets/images/catalog/input-checked.svg') center center no-repeat;
                width: 100%;
                height: 100%;
            }
        }
    }

    .dropdown_selection_for-checked {
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        border: 1px solid #E6E6E6;
        margin-right: 10px;
        position: relative;
        transition: .2s;
    }

    .dropdown_selection_color {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 10px;

        &-white {
            background: #ffffff;
            border: 1px solid #BDBDBD;
        }

        &-orange {
            background: #F6A623;
        }

        &-red {
            background: #D0011B;
        }

        &-pink {
            background: #FF919E;
        }

        &-violet {
            background: #9012FE;
        }

        &-green {
            background: #7ED321;
        }

        &-yellow {
            background: #F8E81C;
        }

        &-black {
            background: #000000;
        }

        &-beige {
            background: #F7DEBB;
        }
    }

    .dropdown_selection_description {
        font: 14px 'Asterisk';
        color: #323232;
        -webkit-font-smoothing: antialiased;
        padding-top: 5px;
        box-sizing: border-box;
    }

    .dropdown_selection_apply {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-top: 1px solid #E6E6E6;
    }

    .dropdown_selection_apply_btn {
        width: calc(100% - 40px);
        height: 50px;
        background: #000000;
        outline: none;
        border: none;
        cursor: pointer;
        font: 16px/21px 'Museo300';
        color: #ffffff;
        -webkit-font-smoothing: antialiased;
        transition: .2s;

        &:hover {
            background: #9B9B9B;
        }
    }

    .dropdown_selection_search {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 1px solid #E6E6E6;
    }

    .dropdown_selection_search_field {
        width: calc(100% - 40px);
        height: 50px;
        outline: none;
        border: 1px solid #E6E6E6;
        font: 16px/23px 'Asterisk';
        color: #323232;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        padding-left: 20px;
    }

    .dropdown_selection_price-variation {
        height: 65px;
        width: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .dropdown_selection_price-variation_index {
        font: 14px/14px 'Asterisk';
        color: #323232;
        -webkit-font-smoothing: antialiased;
    }

    .dropdown_selection_price-variation_field {
        font: 14px/14px 'Asterisk';
        color: #323232;
        -webkit-font-smoothing: antialiased;
        width: 80px;
        height: 30px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #E6E6E6;
        padding-left: 10px;
        padding-top: 7px;
    }

    .selected-type_selection-price {

        .selected-type_dropdown_selection {
            width: 275px;
        }
    }

    .catalog_param-selection {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0 50px 20px;
        position: absolute;
        top: 70px;
        left : 100%;
    }

    .param-selection_list {
        display: flex;
        justify-content: flex-start;

        &_item {
            margin-right: 30px;
        }
    }
}

.catalog_clothes {
    width: 100%;
    margin-bottom:50px;
}

.clothes_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.clothes_list_item {
    width: 284px;
    height: 480px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        border: 1px solid #e6e6e6;
        box-shadow: 1px 1px 3px rgba(0,0,0,.1);

        .clothes_like {
            opacity: 1;
        }
    }

    &_wrap {
        width: 282px;
        height: 478px;
        box-sizing: border-box;
        padding: 45px 25px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: flex-start;
    }
}

.clothes_photo {
    margin-bottom: 10px;
    width: 220px;
    height: 290px;
    object-fit: contain;
    // border: 1px solid black;
}

.clothes_name {
    text-align: center;
    font: 16px/21px 'Museo500';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
}

.clothes_description {
    text-align: center;
    font: 14px/17px 'Asterisk';
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 30px;
}

.clothes_prices {
    display: flex;
    justify-content: center;
}

.clothes_prices_price {
    font: 16px/21px 'Museo500';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.clothes_like {
    opacity: 0;
    transition: .2s;
    border: none;
    box-sizing: border-box;
    position: absolute;
    width: 26px;
    height: 22px;
    outline: none;
    cursor: pointer;
    background: url('/dist/assets/images/like-icon/like.svg')  no-repeat center center;
    top: 30px;
    right: 30px;
}

.clothes_list_item-new {

    .clothes_new {
        display: flex;
    }
}

.clothes_list_item-liked {

    .clothes_like {
        background: url('/dist/assets/images/like-icon/like_select.svg')  no-repeat center center;
        width: 23px;
        height: 20px;
        opacity: 1;
    }
}

.clothes_list_item-discount {

    .clothes_discount {
        display: flex;
    }

    .clothes_prices_newPrice {
        display: block;
        color: #ec0029;
        margin-right: 5px;
    }

    .clothes_prices_price {

        &:before {
            content: '';
            width: 100%;
            height: 1px;
            background: #323232;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

.clothes_new {
    display: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #51a329;
    position: absolute;
    color: #ffffff;
    font: 12px/21px 'Museo500';
    -webkit-font-smoothing: antialiased;
    top: 20px;
    left: 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.clothes_discount {
    display: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ec0029;
    position: absolute;
    color: #ffffff;
    font: 13px/21px 'Museo700';
    -webkit-font-smoothing: antialiased;
    top: 20px;
    left: 30px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.clothes_prices_new-price {
    font: 16px/21px 'Museo500';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    margin-right: 10px;
}

.catalog_page-count {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 110px 0 85px;
}

.page-count_list {
    display: flex;
    justify-content: center;
    margin: 0 20px;

    .page-count_list_item {
        margin-right: 5px;

        &:last-of-type {
            margin: 0;
        }
    }
}

.page-count_list_item_link {
    text-decoration: none;
    font: 14px 'Museo500';
    color: #323232;
    -webkit-font-smoothing: antialiased;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;

    &:hover:not(.page-count_list_item_link-selected) {
        opacity: .5;
    }

    &-selected {
        background: #323232;
        color: #ffffff;
    }
}

.page-count_btn {
    display: block;
    width: 35px;
    height: 35px;
    background: url('/dist/assets/images/catalog/page-count-btn.svg') no-repeat center center;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;

    &:hover {
        opacity: .5;
    }

    &-next {
        transform: rotate(180deg);
        transform-origin: center center;
    }
}

.catalog_filtration {
    background: #ffffff;
    box-sizing: border-box;
    border-top: 1px solid #E7E7E7;
    width: 100%;

    @media ( min-width: 946px ) {
        display: none;
    }
}

.filtration_sections {
    display: flex;
    width: 100%;
    position: relative;

    &:before {
        height: 48px;
        width: 1px;
        background: #E7E7E7;
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &_item {
        width: 50%;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 15px 0 15px 20px;
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        border-bottom: 1px solid #E7E7E7;
        cursor: pointer;


        &:before {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            background: url('/dist/assets/images/catalog/param-selection.svg') center center no-repeat;
            transition: .2s;
        }

    }
}


.filtration_sections_item-active {

    border-bottom: none;

    &:before {
        transform: translateY(-50%) rotate(180deg);
    }

}

.filtration_units {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #E7E7E7;
    display: none;

    &-active {
        display: flex;
    }

    &_item {
        box-sizing: border-box;
        padding: 20px 0;
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        cursor: pointer;

        &:before {
            width: 100%;
            content: '';
            height: 1px;
            position: absolute;
            background: #323232;
            left: 0;
            bottom: 15px;
            opacity: 0;
            transition: .2s;
        }

        &-active {
            &:before {
                opacity: 1;
            }
        }
    }
}

.filtration_selection {
    width: 100%;
    display: none;

    &-active {
        display: block;
    }
}

.filtration_selection_list {
    width: 100%;
    display: none;

    &-active {
        display: block;
    }
}

.filtration_selection_list_item {
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #E7E7E7;
    cursor: pointer;

    &_content {
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        box-sizing: border-box;
        padding: 0 20px 20px;
    }


    &:before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        right: 20px;
        top: 23px;
        background: url('/dist/assets/images/catalog/param-selection.svg') center center no-repeat;
        transition: .2s;
    }

    &-active {
        &:before {
            transform: rotate(180deg);
        }
    }
}

.filtration_selection_sub {
    width: 100%;

    &_item {
        width: 100%;
    }
}
.filtration_selection_sub_wrap {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 20px 60px;
    display: block;
    border-top: 1px solid #E7E7E7;
    cursor: pointer;
}

.filtration_selection_sub_check {
    display: none;

    &:checked ~ .filtration_selection_sub_description {
        opacity: 1;

        &:before {
            opacity: 1;
        }
    }
}

.filtration_selection_sub_description {
    width: 100%;
    display: block;
    font: 14px 'Museo500', sans-serif;
    color: #323232;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: .6;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: .2s;

    &:before {
        opacity: 0;
        transition: .2s;
        content: '—';
        position: absolute;
        top: 0;
        left: -20px;
    }
}

.filtration_sections_sorting {
    width: 100%;

    &_item {
        padding: 20px;
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom: 1px solid #E7E7E7;
    }

    &_select {
        display: inline-block;
        text-align: right;
        outline: none;
        background: #ffffff;
        appearance: none;
        text-align-last: right;
        min-width: 100px;
        border: none;
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        direction: rtl;
    }
}

.catalog_main {
    @media ( min-width: 946px ) {
        margin-top: 150px;
    }

    @media ( max-width: 945px ) {
        margin-top: 50px;
    }


    .clothes_list {
        @media(max-width: 646px) {
            justify-content: center;
        }
    }
}

.filtration_btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 20px;

    &_btn {
        height: 50px;
        outline: none;
        width: 400px;
        cursor: pointer;
        font: 16px/21px 'Museo300';
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: .2s;
        box-sizing: border-box;

        @media(max-width: 455px) {
            width: 100%;
        }

        &-delete {
            border: 1px solid #323232;
            color: #323232;
            background: #ffffff;
            margin-bottom: 10px;
            margin-top: 10px;

            &:hover {
                border-color: #bdbdbd;
            }
        }

        &-add {
            border: none;
            background: #000000;
            color: #ffffff;

            &:hover {
                background: #bdbdbd;
            }
        }
    }
}



@media(max-width: 945px) and (min-width: 320px) {
    .catalog_aside {
        width: 100%;
    }

    .selected-type_title {
        display: none;
    }

    .selected-type_selection {
        width: 100%;
    }

    .selected-type_selection_content {
        width: 100%;
        display: flex;
        align-items: center;
        height: 50px;
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        position: relative;
        box-sizing: border-box;
        border-bottom: 1px solid #e1e1e1;
        cursor: pointer;

        &--active {

            &:before {
                transform: rotate(180deg);
            }

        }


        &:before {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            right: 21px;
            top: 20px;
            background: url(/dist/assets/images/catalog/param-selection.svg) 50% no-repeat;
            transition: .2s;
        }
    }

    .selected-type_dropdown_selection {
        width: 100%;
        display: none;

        &--active {
            display: block;
        }
    }


    .dropdown_selection_list {
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        box-sizing: border-box;
    }

    .dropdown_selection_list_item_link {
        height: 50px;
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        display: flex;
        align-items: center;
        text-decoration: none;
    }




    .dropdown_selection_input-wrap--margin {
        margin-top: 20px;
    }


    .selected-type_selection_content_filter {
        display: none;
    }

    .dropdown_selection_search_field {
        height: 50px;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border: 1px solid #e1e1e1;
        font: 14px 'Museo500', sans-serif;
        color: #323232;
    }

    .dropdown_selection_input-wrap {
        display: flex;
        cursor: pointer;
        align-items: center;
        height: 30px;


    }

    .dropdown_selection_checked {
        display: none;

        &:checked + .dropdown_selection_for-checked {
            border-color: #323232;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background: url('/dist/assets/images/catalog/input-checked.svg') center center no-repeat;
                width: 100%;
                height: 100%;
            }
        }
    }

    .dropdown_selection_for-checked {
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        border: 1px solid #E6E6E6;
        margin-right: 10px;
        position: relative;
        transition: .2s;
    }

    .dropdown_selection_description {
        font: 14px 'Museo500', sans-serif;
        color: #323232;
    }

    .dropdown_selection_apply_btn {
        height: 50px;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: #000000;
        font: 14px 'Museo500', sans-serif;
        color: #ffffff;
        cursor: pointer;
        transition: .2s linear;

        &:hover {
            background: #bdbdbd;
        }
    }

    .dropdown_selection_apply {
        margin-top: 20px;
    }

    .catalog_param-selection {
        display: none;

        &.catalog_aside_list--active {
            display: block;
        }

        .dropdown_selection_list {
            border: none;
        }
    }

    .dropdown_selection_list_title {
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        box-sizing: border-box;
        margin-top: 20px;
    }

    .dropdown_selection_price-variation_index {
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        margin: 20px 0;
    }

    .dropdown_selection_price-variation_field {
        height: 50px;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border: 1px solid #e1e1e1;
        font: 14px 'Museo500', sans-serif;
        color: #323232;
    }

    .param-selection_list_item-clean-filter {

        .selected-type_selection_content {

            &:before {
                display: none;
            }
        }
    }
    .catalog_aside_list {
        width: 100%;
        display: none;

        &--active {
            display: block;
        }
    }

    .catalog_aside_list_title {
        display: none;
    }

    .catalog_aside_list_item {
        position: relative;


    }

    .catalog_aside_sub-list {
        display: none;
        box-sizing: border-box;
        border-bottom: 1px solid #e1e1e1;

        .catalog_aside_list_item:before {
            display: none;
        }

        .catalog_aside_list_item_link {
            border: none;
        }
    }

    .catalog_aside_list > .catalog_aside_list_item >
    .catalog_aside_list_item_link {

        &:before {
            content: "";
            width: 10px;
            height: 10px;
            position: absolute;
            right: 21px;
            top: 20px;
            background: url(/dist/assets/images/catalog/param-selection.svg) 50% no-repeat;
            transition: .2s;
        }

        &--active {

            &:before {
                transform: rotate(180deg);
            }
        }
    }

    .catalog_aside_sub-list--active {
        display: block;
    }

    .catalog_aside_list_item_link {
        font: 14px 'Museo500', sans-serif;
        color: #323232;
        text-decoration: none;
        cursor: pointer;
        height: 50px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-bottom: 1px solid #e1e1e1;
        width: 100%;
    }
}